$header-bg: #074464 !default;

$main-bg: rgb(243, 244, 246) !default;

$footer-bg: rgb(25, 28, 29) !default;
$footer-text-color: rgb(204, 204, 204) !default;

$copyright-bg: darken($footer-bg, 2%) !default;
$copyright-text-color: $footer-text-color !default;




// set the primary #app element height to push footer to the bottom
// NOTE: this may not be the best method because it depends on having an #app element!
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: $header-bg;
}

footer {
    background: $footer-bg;
    margin-top: auto; // forces footer to the bottom

    nav {
        text-align: center;

        a {
            padding: 0 1rem;
            color: #ccc;
            font-size: 0.8rem;

            &:hover {
                color: #ddd;
                background: #444;
            }
        }
    }
}


#nk-header {
    background: $header-bg;

    @include up-to-tablet{
        padding-left: $content-gap;
        padding-right: $content-gap;
    }
}

// 1. allow to grow to fill height
#nk-main {

    // background: $main-bg;
    flex: 1; // 1

    // have padding but not when there is a section on the top or bottom???
    // @extend %gap;


    @include up-to-tablet {
        // no need to specify top and bottom, should be looked after by the element???
        padding-left: $content-gap;
        padding-right: $content-gap;
    }


}

// #nk-footer { }

.copyright {
    color: $copyright-text-color;
    background: $copyright-bg;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    border: 0; // remove border from colour scheme
    width: 100%;
}

#logo {
    text-align: center;
    height: 40px;

    @include from-tablet {
        height: 60px;
        text-align: left;
    }

    @include from-desktop {
        height: auto;
    }
}

// NK Admin Styles
// --------------------------------------------------------------------------
.nk-admin {
    .navbar {
        background-image: linear-gradient(to right top, #20242a, #1e1f27, #1e1a23, #1f141d, #1f0e16, #250e15, #2c0e12, #310f0c, #40140e, #4e1a0e, #5c210c, #692906);
    }
}


// NK Documentation Styles
// --------------------------------------------------------------------------

.nk-docs {

    section {
        // manually deal with padding
        padding: 0;
    }

    &.container {
        // background: white;
        // padding: $content-gap-lg 0;
        max-width: 68em;
    }
}

.icon-box {
    border: 1px solid #ccc;
    padding: .5rem 0;

    svg {
        height: 72px !important;
    }

    .icon {
        width: 150px; // icon container width
    }

    .icon-title {
        display: block;
        text-align: center;
        font-size: 0.875rem;
        margin-top: -0.5rem;
    }
}
