@use "./base/vars_all" as *;
@use "./mixins/media" as *;

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// It is best not to add padding to the main mk-elements, as it
// makes it more difficult to add extra elements.
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------

// NK::TD this could be made into a special layout because it
// could be a common pattern. Another example would be the navbar

#nk-header {
    // background-color: $header-bg;
}

// This needs to be reviewed because it is too specific and causes problems
// for some layouts I have removed because of the QMH site but I am not sure
// what else it affects
#nk-header,
#nk-header > .#{$container-class} {
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-start;
    // grid-gap: 2.5rem;
    // flex-wrap: wrap;

    #search {
        display: flex;
        flex: 1 1 auto;

        input {
            width: 100%;
            margin-right: 4px;
        }

        @include to-desktop {
            flex: 1 1 100%;
            order: 3;
        }
    }
}

#nk-main {
    flex: 1; // 1. allow to grow to fill height
    background-color: $main-bg;
    margin: 0;
}

#nk-footer {
    background-color: $footer-bg;
    margin-top: auto; // forces footer to the bottom
    color: #ccc;

    // a {
    //     color: #ccc;
    //     font-size: 0.8rem;

    //     &:hover {
    //         color: #ddd;
    //     }
    // }
}

.copyright {
    color: $copyright-text-color;
    background-color: $copyright-bg;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    border: 0; // remove border from colour scheme
    width: 100%;
    margin-top: 0;
}

.logo a:hover {
    background: none;
}

// ==========================================================================
// -- NAYKEL ADMIN STYLES --
// ==========================================================================

.nk-admin {
    .navbar {
        background-image: linear-gradient(to right top, #20242a, #1e1f27, #1e1a23, #1f141d, #1f0e16, #250e15, #2c0e12, #310f0c, #40140e, #4e1a0e, #5c210c, #692906);
    }
}

// ==========================================================================
// -- BITS AND BOB'S --
// ==========================================================================

// make code block comments stand out
.hljs-comment {
    color: hsl(120, 98%, 35%) !important;
}

pre code.hljs{
    padding: 1.5em !important;
    line-height: 2;
}

trix-editor {
    background: white !important;
    min-height: 100px !important;
}
