


// NK Documentation Styles
// --------------------------------------------------------------------------

.icon-box {
    border: 1px solid #ccc;
    padding: 0.5rem 0;

    svg {
        height: 72px !important;
    }

    .icon {
        width: 150px; // icon container width
    }

    .icon-title {
        display: block;
        text-align: center;
        font-size: 0.875rem;
        margin-top: -0.5rem;
    }
}

// contact form
// ------------------------------------

// fix google captch
.g-recaptcha {
    max-width: 200px;
}
