@use "../variables" as *;
@use "../../variables" as *;
@use "../mixins/media" as *;

// This file is for general utilities that don't have a home,



.cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
//
//
//
//
//
//
// These are utilities that could easily be created using multiple utility classes
//
//
//
//
//
//
//
//
//
//
.round {
    border-radius: 100vmax;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.cursor-events-none {
    pointer-events: none;
}

.no-click {
    pointer-events: none;
}



// Adds a divider line between elements. IMPORTANT: This will only work on items that do not have
// padding as the class uses top and bottom padding to seperate items then adds a border-top
.divider-y > * {
    border-top: 1px solid $border-color;
    padding-top: $content-gap;
    padding-bottom: $content-gap;

    &:first-child {
        border-top: none;
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

// which one ????
.divide-y > :not([hidden]) ~ :not([hidden]) {
    border-top: $border;
}



