@use "../variables" as *;
@use "../mixins/media" as *;

.logo a:hover {
    background: none;
}



// ==========================================================================
// -- BITS AND BOB'S --
// ==========================================================================

trix-editor {
    background: white !important;
    min-height: 100px !important;
}

.filepond {
    &--root {
        margin-bottom: 0 !important;
    }
    &--credits {
        display: none;
    }
}



// ==========================================================================
// -- Primary banner for page layouts --
// ==========================================================================
// $banner-height: 450px !default;
// $banner-bg: transparent !default;
// $banner-text-bg: transparent !default;

// .banner {
//     background-repeat: no-repeat;
//     background-position: right center;
//     height: $banner-height;
//     background-color: $banner-bg;

//     // banner-text is the wrapper
//     &-text {
//         // color: white;
//         background-color: $banner-text-bg;
//         padding: 1rem;
//     }
// }
