@use "../variables" as *;
@use "../mixins/media" as *;

.logo a:hover {
    background: none;
}

// ==========================================================================
// -- NAYKEL ADMIN STYLES --
// ==========================================================================

.nk-admin {
    .navbar {
        background-image: linear-gradient(to right top, #20242a, #1e1f27, #1e1a23, #1f141d, #1f0e16, #250e15, #2c0e12, #310f0c, #40140e, #4e1a0e, #5c210c, #692906);
    }
}

// ==========================================================================
// -- BITS AND BOB'S --
// ==========================================================================

trix-editor {
    background: white !important;
    min-height: 100px !important;
}

.filepond {
    &--root {
        margin-bottom: 0 !important;
    }
    &--credits {
        display: none;
    }
}



// ==========================================================================
// -- Primary banner for page layouts --
// ==========================================================================
// $banner-height: 450px !default;
// $banner-bg: transparent !default;
// $banner-text-bg: transparent !default;

// .banner {
//     background-repeat: no-repeat;
//     background-position: right center;
//     height: $banner-height;
//     background-color: $banner-bg;

//     // banner-text is the wrapper
//     &-text {
//         // color: white;
//         background-color: $banner-text-bg;
//         padding: 1rem;
//     }
// }
