@use "../variables" as *;
@use "../../functions/helpers" as *;
@use "../mixins/magicClass" as *;
@use "../mixins/media" as *;


// ----------------------------------------------------------------
// -- MAGIC PADDING AND MARGINS --
// ----------------------------------------------------------------





//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

//

.c-mt-0 > * {
    margin-top: 0;
}

.c-pxy > * {
    padding: 1rem;
}

.c-pxy-0 > * {
    padding: 0;
}

.c-px-0 > * {
    padding-left: 0;
    padding-right: 0;
}

.c-px-1 > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

// py-5-3-2-2------------------------------------------------------
// -- RESPONSIVE MAGIC PADDING --
// ----------------------------------------------------------------
//

.c-py-3-2 > * {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include from-md {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.c-py-5-3-2 > * {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include from-md {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include from-xl {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}



// these do not play well in a loop!
.space-y {
    > *:not(:first-child) {
        margin-top: $content-gap;
    }
    &-025 > *:not(:first-child) {
        margin-top: 0.25rem;
    }
    &-05 > *:not(:first-child) {
        margin-top: 0.5rem;
    }
    &-075 > *:not(:first-child) {
        margin-top: 0.75rem;
    }
}

// these do not play well in a loop!
.space-x {
    > *:not(:first-child) {
        margin-left: 1rem;
    }
    &-025 > *:not(:first-child) {
        margin-left: 0.25rem;
    }
    &-05 > *:not(:first-child) {
        margin-left: 0.5rem;
    }
    &-075 > *:not(:first-child) {
        margin-left: 0.75rem;
    }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

@include from-xl {
    .lg\:space-x > *:not(:first-child) {
        margin-left: 1rem;
    }
}

.space-mx > * + * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.children-py-05 > * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.children-py-025 > * {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.children-px-1 > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

//
//
//
// ORDER ABOVE IN REVIEW
//
//
//
