@use "../../functions/helpers" as *;
@use "./propertyCreators" as *;

// ----------------------------------------------------------------
// -- CREATE CLASS WITH A SINGLE PROPERTY --
// ----------------------------------------------------------------
@mixin createSinglePropertyClass($class, $property, $value) {
    .#{$class} {
        #{$property}: $value;
    }
}

// ----------------------------------------------------------------
// -- GENERATE CLASSES FROM A MAP OF VALUES --
// ----------------------------------------------------------------
//
// $theme-colors: (
//     "danger": #dc3848,
//     "success": #29a847,
// );
//
// .bg-danger { color: #dc3848; }
// .bg-success { color: #29a847; }
//

@mixin generateFromMapOfValues($property, $map, $identifier: "") {
    @each $key, $value in $map {
        @if ($identifier == "") {
            // if the $identifier is omitted just us the key as the class name
            @include createSinglePropertyClass(#{$key}, $property, $value);
        } @else {
            // otherwise join $identifier and $key for class name
            @include createSinglePropertyClass(#{$identifier}-#{$key}, $property, $value);
        }
    }
}

// ----------------------------------------------------------------
// -- GENERATE CLASSES FROM A MAP OF PROPERTIES --
// ----------------------------------------------------------------
//

@mixin generateFromMapOfProperties($map-of-properties) {
    @each $property, $map in $map-of-properties {
        $prefix: map-get($map, "prefix");
        $map: map-get($map, "values");
        @each $key, $value in $map {
            // if there is no key-value pair in the map, use the key
            // as both the key and the value.
            .#{$prefix}#{$key} {
                #{$property}: if($value, $value, $key);
            }
        }
    }
}

// ----------------------------------------------------------------
// -- GENERATE UNIT BASED CLASSES OF A SINGLE PROPERTY --
// ----------------------------------------------------------------
//
// $text-sizes: (2, 2.5, 3, 4);
// @include generateUnitBasedClasses(font-size, $text-sizes, "txt");
//
// $text-sizes-px: (16, 20, 24);
// @include generateUnitBasedClasses(font-size, $text-sizes, "txt", "px");
//

@mixin generateUnitBasedClasses($property, $map, $identifier, $unit: "rem") {
    // add unit to class name if not 'rem'
    $suffix: if($unit!= "rem", $unit, "");

    @each $value in $map {
        // {prefix}-{value} excluding unit with escaped dot
        $escapedValue: escapeDecimal($value);
        $class: #{$identifier}-#{$escapedValue}#{$suffix};

        @include createSinglePropertyClass($class, $property, #{$value}#{$unit});
    }
}


