// --------------------------------------------------------------
// -- CREATE POSITION BASED PROPERTIES --
// --------------------------------------------------------------

@mixin singlePositionProperty($property, $position, $value, $unit: rem) {
    #{$property}-#{$position}: #{$value}#{$unit};
}

// Iterates through the list of positions passed in with the
// `$positions-map` creating the appropriate `$property` (top,
// bottom, left, right) based on the `$value`.
@mixin makePositionProperties($property, $positions-map, $value, $unit: rem) {
    @each $position in $positions-map {
        // remove unit for auto, 0, border
        $derivedUnit: if(($value == "auto" or $value == "0" or $property == "border"), null, $unit);
        @include singlePositionProperty($property, $position, $value, $derivedUnit);
    }
}

// --------------------------------------------------------------
// -- CREATE SINGLE PROPERTY --
// --------------------------------------------------------------
// create unit base or other property
@mixin makeProperty($property, $value, $unit: null) {
    // 'full' value implies a unit based property that will be 100%
    $derivedValue: if($value == "full", 100, $value);
    $derivedUnit: if($value == "full", "%", $unit);

    @if ($unit == null) {
        #{$property}: #{$derivedValue};
    } @else {
        #{$property}: #{$derivedValue}#{$derivedUnit};
    }
}
