// ************************************************************************** 
// This file is ignored by Prettier (.prettierignore). 
// ************************************************************************** 

@use '../../v1/maps_and_variables/layout' as *;

//  Border, and border-radius sizes
// ==========================================================================
$border-radius-sizes: (0, 0.25, 0.5, 0.75, 1, 1.5, 2) !default;
// is it possible to just pass in the size or do i need both the key and value?
// For the time being use key-value pair instead of values to make it easier
// manage unit and class name
$border-width-sizes: (0: 0, 1: 1px, 2: 2px, 3: 3px, 4: 4px, 5: 5px) !default;



//  Container sizes
// ==========================================================================
$base-container-size: 1200px !default;
$container-variants: ( base: $base-container-size, sm: $sm, md: $md, lg: $lg, xl: $xl, xxl: $xxl ) !default;

//  Layout property maps
// ==========================================================================
$z-index-values: (0, 1, 50, 100, (bottom: -1), (top: 999)) !default;

// Effects and Transitions
// ==========================================================================
$opacity-values: (0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1);

//  Flex and Grid
// ==========================================================================
$order-map:  (1, 2, 3, 4, 5, 6, 7, 8) !default;
$gap-sizes: (0, 0.25, 0.5, 1, 1.25, 1.5, 2, 3, 4, 5) !default;


//  Space sizes and variants for margin and padding utilities
// ==========================================================================
$sizing-pixels: (200px, 250px, 300px, 400px, 600px) !default; // include unit to make merge easier
$sizing-rem: (0, 1, 1.25, 1.5, 2, 2.5, 3, 4, 5, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24) !default;
$spacing-sizes: (0, 0.125, 0.25, 0.5, 0.75, 0.875, 1, 1.25, 1.5, 1.75, 2, 2.25, 2.5, 2.75, 3, 4, 5) !default;
