@use '../../src/common-tools' as *;
@use '../../src/functions/color-functions' as *;
@use 'sass:color';

// ==========================================================================
// -- BOX --
// ==========================================================================
$bx-bg: #fff !default;
$bx-padding: $content-padding !default;
$bx-border-radius: 0.5rem !default;
$bx-header-bg: rgb(250 250 250) !default;
$bx-title-font-weight: 600 !default;
$bx-title-font-size: 1.2rem !default;

//
//
//
// REVIEW
//
//
//
//

// -- button --
// ==============================================================
$btn-bg: rgb(240 240 240) !default;
$btn-color: text-color($btn-bg) !default;
$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color !default;
$btn-text-transform: capitalize;

// -- icons --
// ==============================================================
$icon-xy-sm: 1rem !default;
$icon-xy: 1.25rem !default;
$icon-xy-md: 2rem !default;
$icon-xy-lg: 3rem !default;

// -- menu --
// ==============================================================
$menu-padding-y: 0.5rem !default;
$menu-padding-x: 0.5rem !default;
$menu-hover-bg: hsl(0deg 0% 95%) !default;

// $menu-link-color: $color !default;
$menu-link-hover-color: text-color($menu-hover-bg) !default;



