@use "../../base/vars_all" as *;

.#{$navbar-identifier},
.#{$navbar-identifier} > .#{$container-identifier} {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.#{$navbar-identifier} {
    background: $navbar-bg;
    padding: $navbar-padding-y $navbar-padding-x;
    position: relative;

    ul {
        display: flex;
    }

    // remove specificity to make easier to override
    :where(ul a) {
        color: $navbar-nav-item-color;
        padding: $navbar-nav-padding-y $navbar-nav-padding-x;
        display: block; // 1. allowing the navbar to grow in height
        line-height: 1.2rem;

        &:hover {
            color: $navbar-nav-hover-color;
        }

        &.active,
        &:active {
            color: $navbar-nav-active-color;
        }
    }

    .nav-item {
        display: block; // 1. allowing the navbar to grow in height
        background: $navbar-nav-item-bg;
        color: $navbar-nav-item-color;
        line-height: 1.2rem;

        &:hover {
            color: $navbar-nav-hover-color;
            background: $navbar-nav-hover-bg;
        }

        &.active,
        &:active {
            color: $navbar-nav-active-color;
            background: $navbar-nav-active-bg;
        }
    }

    // this is a quick and dirt solution to prevent to work with
    // .bx.menu which is likely set in the dropdowns
    .menu {
        :where(a, li a, .menu-item) {
            color: #333;
        }

        li {
            &:first-child a {
                border-top-left-radius: $bx-border-radius;
                border-top-right-radius: $bx-border-radius;
            }
            &:last-child a {
                border-bottom-left-radius: $bx-border-radius;
                border-bottom-right-radius: $bx-border-radius;
            }
        }
    }
}
