@use "../base/vars_all" as *;
@use "../forms/control" as *;
@use '../../functions/colorFunctions' as *;
@use "../mixins/createState" as *;

// base class
// ----------------------------

.#{$button-class} {
    @extend %control;
    background: $btn-bg;
    color: $btn-color;
    transition-duration: 150ms;
    transition-property: background-color, color, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: $btn-text-transform;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    white-space: nowrap; // prevent text wrapping

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    // !-WARNING-! changing the vertical alignment affects buttons with icons
    vertical-align: bottom; // keep buttons aligned to inputs

    @include hover($btn-bg);
    @include active($btn-bg);
}

// themes and variations
// ----------------------------
//
// **! must explicitly create btn state override base class !**
//

@each $key, $color in $color-map {
    .#{$button-class}.#{$key} {
        @include hover($color);
        @include active($color);
    }
}
