@use "../mixins/media" as *;
@use "../base/vars_base" as *;

// $hero-background-color: $primary;
$hero-title-color: #eee !default;
$hero-subtitle-color: #eee !default;
$hero-gradient: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title {
        color: $hero-title-color;
        font-size: 2.25rem;

        // font size never is or will be a one size fits all! STOP changing!!!
        @include from-tablet {
            font-size: 3rem;
        }
    }
}

.hero-text {
    .subtitle {
        color: $hero-subtitle-color;
        font-size: 1.5rem;

        @include from-desktop {
            font-size: 2.1rem;
        }
    }
}
