@use "./media" as *;
@use "./helpers" as *;
@use "sass:list";
@use "sass:map";
@use "sass:string";

// Make magic responsive class for a single css property.
//
// accepts single css property with list of lists with responsive sizes

@mixin makeMagicClass($property, $prefix, $listOfLists, $unit: rem) {
    // must have at least two list
    @each $list in $listOfLists {
        // exclude empty list when creating single list
        @if ($list != ()) {
            $numBreakPoints: list.length($list);

            // set the value of the BP based on position using negative
            // numbers. This makes sure the position is always the same
            $smValue: nth($list, -1);
            $mdValue: nth($list, -2);
            $lgValue: if($numBreakPoints >= 3, nth($list, -3), null);
            $xlValue: if($numBreakPoints >= 4, nth($list, -4), null);
            $xxlValue: if($numBreakPoints >= 5, nth($list, -5), null);

            $derived-class: #{$mdValue}-#{$smValue};

            @if ($numBreakPoints == 3) {
                $derived-class: #{$lgValue}-#{$mdValue}-#{$smValue};
            } @else if ($numBreakPoints == 4) {
                $derived-class: #{$xlValue}-#{$lgValue}-#{$mdValue}-#{$smValue};
            } @else if ($numBreakPoints == 5) {
                $derived-class: #{$xxlValue}-#{$xlValue}-#{$lgValue}-#{$mdValue}-#{$smValue};
            }

            .#{$prefix}-#{$derived-class} {
                @include from-sm {
                    @include makeUnitProperty($property, $smValue, $unit);
                }
                @include from-md {
                    @include makeUnitProperty($property, $mdValue, $unit);
                }
                @if ($numBreakPoints >= 3) {
                    @include from-lg {
                        @include makeUnitProperty($property, $lgValue, $unit);
                    }
                }
                @if ($numBreakPoints >= 4) {
                    @include from-xl {
                        @include makeUnitProperty($property, $xlValue, $unit);
                    }
                }
                @if ($numBreakPoints >= 5) {
                    @include from-xxl {
                        @include makeUnitProperty($property, $xxlValue,$unit);
                    }
                }
            }
        }
    }
}
