@use "./media" as *;
@use "sass:list";
@use "sass:map";
@use "sass:string";

// Make magic responsive class for a single css property.
//
// accepts single css property with list of lists with responsive sizes

@mixin makeMagicClass($property, $prefix, $list-of-lists, $unit: rem) {
    // must have at least two list
    @each $list in $list-of-lists {
        // exclude empty list when creating single list
        @if ($list != ()) {
            $numBreakPoints: list.length($list);

            $sm: nth($list, -1);
            $md: nth($list, -2);
            $lg: if($numBreakPoints >= 3, nth($list, -3), null);
            $xl: if($numBreakPoints >= 4, nth($list, -4), null);
            $xxl: if($numBreakPoints >= 5, nth($list, -5), null);

            $derived-class: #{$md}-#{$sm};

            @if ($numBreakPoints == 3) {
                $derived-class: #{$lg}-#{$md}-#{$sm};
            } @else if ($numBreakPoints == 4) {
                $derived-class: #{$xl}-#{$lg}-#{$md}-#{$sm};
            } @else if ($numBreakPoints == 5) {
                $derived-class: #{$xxl}-#{$xl}-#{$lg}-#{$md}-#{$sm};
            }

            .#{$prefix}-#{$derived-class} {
                @include from-sm {
                    #{$property}: #{$sm}#{$unit};
                }

                @include from-md {
                    #{$property}: #{$md}#{$unit};
                }

                @if ($numBreakPoints >= 3) {
                    @include from-lg {
                        #{$property}: #{$lg}#{$unit};
                    }
                }

                @if ($numBreakPoints >= 4) {
                    @include from-xl {
                        #{$property}: #{$xl}#{$unit};
                    }
                }
            }
        }
    }
}
