@use "../base/vars_utility_maps" as *;
@use "../mixins/media" as *;
@use "sass:list";


@mixin makeMagicGridEqualWidths($listOfLists) {
    // must have at least two list
    @each $list in $listOfLists {
        // exclude empty list when creating single list
        @if ($list != ()) {
            $numBreakPoints: list.length($list);

            $smValue: nth($list, -1);
            $mdValue: nth($list, -2);
            $lgValue: if($numBreakPoints >= 3, nth($list, -3), null);
            $xlValue: if($numBreakPoints >= 4, nth($list, -4), null);
            $xxlValue: if($numBreakPoints >= 5, nth($list, -5), null);

            $derived-class: #{$mdValue}-#{$smValue};

            @if ($numBreakPoints == 3) {
                $derived-class: #{$lgValue}-#{$mdValue}-#{$smValue};
            } @else if ($numBreakPoints == 4) {
                $derived-class: #{$xlValue}-#{$lgValue}-#{$mdValue}-#{$smValue};
            } @else if ($numBreakPoints == 5) {
                $derived-class: #{$xxlValue}-#{$xlValue}-#{$lgValue}-#{$mdValue}-#{$smValue};
            }

            .cols-#{$derived-class} {
                // @include from-sm {
                //     grid-template-columns: repeat(nth($list, -1), 1fr);
                // }

                // I am not convinced that I need the small size!!
                grid-template-columns: repeat(nth($list, -1), 1fr);

                @include from-md {
                    grid-template-columns: repeat(nth($list, -2), 1fr);
                }

                @if ($numBreakPoints >= 3) {
                    @include from-lg {
                        grid-template-columns: repeat(nth($list, -3), 1fr);
                    }
                }

                @if ($numBreakPoints >= 4) {
                    @include from-xl {
                        grid-template-columns: repeat(nth($list, -4), 1fr);
                    }
                }
            }
        }
    }
}
