@use "../base/vars_base" as *;
@import "panda-syntax-dark";
// @import 'github-dark-dimmed';

$pre-bg: #2a2c2d !default;
$pre-border-radius: 0.5rem !default;

pre {
    background: $pre-bg;
    border-radius: $pre-border-radius;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

code:not(.hljs) {
    background-color: rgba(240, 240, 240, 0.1);
    padding: 1px 4px;
}
