// @import 'github-dark-dimmed';
@import "panda-syntax-dark";

pre {
    background: #2a2c2d;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

