@use '../common-tools' as *;

$hero-title-color: #eee !default;
$hero-title-lg: 3rem !default;
$hero-title-sm: 2rem !default;
$hero-subtitle-color: #eee !default;
$hero-subtitle-lg: 2.5rem !default;
$hero-subtitle-sm: 1.75rem !default;
$hero-gradient: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 40%)) !default;
$hero-text-padding: $base-padding !default;

.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        color: $hero-title-color;
        font-size: $hero-title-sm;

        @include from-md {
            font-size: $hero-title-lg;
        }
    }

    .subtitle {
        color: $hero-subtitle-color;
        font-size: $hero-subtitle-sm;

        @include from-md {
            font-size: $hero-subtitle-lg;
        }
    }
}
