@use "../mixins/common" as *;

// ==========================================================================
// -- NAYKEL DOCS --
// ==========================================================================
//
// NOTE: The styles defined in this file are specifically tailored for the
// Naykel application documentation. They are not included in the main build
// by default. If you wish to use these styles, you must import this file
// manually.
//

.nk-docs {
    // ==========================================================================
    // -- TABLE --
    // ==========================================================================
    table {
        border: 1px solid #dddddd;
    }
    th,
    td {
        border: 1px solid #d7d7dc;
    }
    tr {
        background: white;
    }

    .compress-tables ~ {
        th,
        td {
            padding-block: 0.25rem;
            padding-inline: 0.75rem;
        }
    }
}

// ==========================================================================
// -- MARKDOWN AND CODE BLOCKS --
// ==========================================================================

%code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #f0506e;
    border-radius: 0.25rem;
}

%markdown-table {
    margin-top: $content-gap;
    font-size: 0.85em;
}

code-first-col {
    + table tbody {
        @extend %markdown-table;
        tr td:first-child {
            @extend %code;
        }
    }
}

code-second-col {
    + table tbody {
        @extend %markdown-table;
        tr td:nth-child(2) {
            @extend %code;
        }
    }
}
code-first-second-col {
    + table tbody {
        @extend %markdown-table;
        tr td:is(:first-child, :nth-child(2)) {
            @extend %code;
        }
    }
}

// ==========================================================================
// -- QUESTION AND ANSWER --
// ==========================================================================

question {
    margin-top: 2rem;
    font-weight: 700;
    font-style: italic;
    color: rgb(36, 37, 37);
    display: block;
}

answer {
    margin-top: 0.5rem;
    display: block;
    + ul {
        margin-top: 0.5rem;
        margin-left: 1.5rem;
    }
}
