@use '../maps_and_variables/base' as *;

// ============================================================================
// -- LAYOUT ELEMENTS --
// ============================================================================

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // set height to push footer to the bottom
}

:where(.nk-main) {
    // background-color: $main-bg;
    flex: 1; // 1. allow to grow to fill height
}

:where(.nk-footer) {
    // background-color: $footer-bg;
    color: #ccc;
    margin-top: auto; // force footer to the bottom
}



// ============================================================================
// -- NAYKEL ADMIN STYLES --
// ============================================================================

.nk-admin {
    h1{
        font-size: 1.875rem;
    }

    .navbar {
        background-image: linear-gradient(
            to right top,
            #20242a,
            #1e1f27,
            #1e1a23,
            #1f141d,
            #1f0e16,
            #250e15,
            #2c0e12,
            #310f0c,
            #40140e,
            #4e1a0e,
            #5c210c,
            #692906
        );
    }
}


