/* stylelint-disable selector-type-no-unknown */
@use '../common-tools.scss' as *;
@use '../mixins/backgrounds' as *;
@use '../mixins/make-classes' as *;
@use 'sass:map';

$question-color: #c40c9a !default;

:root {
    --question-color: #c40c9a;
}

:is(h1, h2, h3, h4, h5, h6, question) {
    code {
        font-size: inherit;
    }
}

[class^='example'] {
    border: 2px solid;
    border-radius: 0.5rem;
    padding: 1rem;
}

.example {
    &-jtb {
        border-color: map.get($base-colors, 'pink');
    }

    &-utils {
        border-color: map.get($base-colors, 'purple');
    }
}

// consider moving these to themes or backgrounds
.ph-pink {
    border: 1px solid map.get($base-colors, 'pink');

    @include bg-stripes('pink');
}

.ph-purple {
    border: 1px solid map.get($base-colors, 'purple');

    @include bg-stripes('purple');
}

// ============================================================================
// -- Custom Selectors --
// ============================================================================
question {
    color: var(--text-question-color, $question-color);
    display: block;
    font-size: 1.15rem;
    font-style: italic;
    font-weight: 700;
    margin-block-start: $base-gap;
}

// // Reduce margin between a <question> and the following paragraph.
// //
// // Example:
// // <p><question></question></p>
// // <p></p>
// p:has(question) + p {
//     margin-block-start: 0.5rem;
// }

// ============================================================================
// -- Torchlight --
// ============================================================================

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    display: block;
    min-width: max-content;
    padding-block: 1rem;
}

/*
 Horizontal line padding to match the vertical
 padding from the code block above.
*/
pre code.torchlight .line {
    padding-inline: 1rem;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    margin-inline-end: 1rem;
}

// ============================================================================
// -- Container Queries --
// ============================================================================
.resizable-container {
    border: 2px dashed #667eea;
    border-radius: 0.5rem;
    container-name: demo-container;
    container-type: inline-size;
    max-width: 100%;
    overflow: auto;
    padding: 1rem;
    position: relative;
    resize: horizontal;
    width: 100%;

    // &::after {
    //     bottom: 0.1125;
    //     color: #667eea;
    //     content: '← Drag to resize →';
    //     font-size: 0.75rem;
    //     pointer-events: none;
    //     position: absolute;
    //     right: 0.5rem;
    // }
}


@include make-from-breakpoint((display: block), "block", $responsive-variants, $container: true);
@include make-from-breakpoint((display: flex), "flex", $responsive-variants, $container: true);
@include make-from-breakpoint((display: none), "hidden", $responsive-variants, $container: true);
@include make-from-breakpoint((visibility: hidden), "invisible", $responsive-variants, $container: true);
@include make-from-breakpoint((visibility: visible), "visible", $responsive-variants, $container: true);

