/* stylelint-disable selector-type-no-unknown */
@use '../common-tools.scss' as *;
@use '../mixins/backgrounds' as *;
@use 'sass:map';

$question-color: #c40c9a !default;

:root {
    --question-color: #c40c9a;
}

:is(h1, h2, h3, h4, h5, h6, question) {
    code {
        font-size: inherit;
    }
}

// consider moving these to themes or backgrounds
.ph-pink {
    border: 1px solid map.get($base-colors, 'pink');

    @include bg-stripes('pink');
}

.ph-purple {
    border: 1px solid map.get($base-colors, 'purple');

    @include bg-stripes('purple');
}



// ============================================================================
// -- Custom Selectors --
// ============================================================================
question {
    color: var(--text-question-color, $question-color);
    display: block;
    font-size: 1.15rem;
    font-style: italic;
    font-weight: 700;
    margin-block-start: $base-gap;
}

// Reduce margin between a <question> and the following paragraph.
//
// Example:
// <p><question></question></p>
// <p></p>
p:has(question) + p {
    margin-block-start: 0.5rem;
}

// ============================================================================
// -- Torchlight --
// ============================================================================

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    display: block;
    min-width: max-content;
    padding-block: 1rem;
}

/*
 Horizontal line padding to match the vertical
 padding from the code block above.
*/
pre code.torchlight .line {
    padding-inline: 1rem;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    margin-inline-end: 1rem;
}
