/* stylelint-disable selector-type-no-unknown */
@use '../common-tools.scss' as *;
@use '../mixins/backgrounds' as *;
@use '../mixins/make-classes' as *;
@use 'sass:map';

// prettier-ignore
@include cq-make-on-breakpoint( ( visibility: hidden ), 'invisible', $responsive-variants );

// prettier-ignore
@include cq-make-on-breakpoint( ( visibility: visible ), 'visible', $responsive-variants );

// prettier-ignore
@include cq-make-from-breakpoint( ( visibility: hidden ), 'invisible', $responsive-variants );

// prettier-ignore
@include cq-make-from-breakpoint( ( visibility: visible ), 'visible', $responsive-variants );

// prettier-ignore
@include cq-make-to-breakpoint( ( visibility: hidden ), 'invisible', remove-from-list($responsive-variants, xxl) );

// prettier-ignore
@include cq-make-to-breakpoint( ( visibility: visible ), 'visible', remove-from-list($responsive-variants, xxl) );

$question-color: #c40c9a !default;

// :root {
//     --question-color: #c40c9a;
// }

:is(h1, h2, h3, h4, h5, h6, question) {
    code {
        font-size: inherit;
    }
}

[class^='example'] {
    border: 2px solid;
    border-radius: 0.5rem;
    padding: 1rem;
}

.example {
    &-jtb {
        border-color: map.get($base-colors, 'pink');
    }

    &-utils {
        border-color: map.get($base-colors, 'purple');
    }
}

// consider moving these to themes or backgrounds
.ph-pink {
    border: 1px solid map.get($base-colors, 'pink');

    @include bg-stripes('pink');
}

.ph-purple {
    border: 1px solid map.get($base-colors, 'purple');

    @include bg-stripes('purple');
}

// ============================================================================
// -- Layouts --
// ============================================================================



:root {
    // Brand Colors - Primary Semantic Colors
    --primary: #{map.get($oklch-colors, 'blue-500')};
    --secondary: #{map.get($oklch-colors, 'slate-700')};
    --accent: #{map.get($oklch-colors, 'yellow-500')};

    /* Typography - Text Colors */
    --text-base: #{map.get($oklch-colors, 'slate-300')};

    // --text-muted: #{map.get($oklch-colors, 'slate-500')};
    --text-heading: #{map.get($oklch-colors, 'sky-800')};

    // --text-lead: #{map.get($oklch-colors, 'slate-600')};

    /* Links */
    --text-link: #{map.get($oklch-colors, 'sky-600')};
    --text-link-hover: #{map.get($oklch-colors, 'sky-700')};

    /* Backgrounds - Surface Colors */
    --bg-body: #{map.get($oklch-colors, 'slate-100')};
    --bg-surface: #{map.get($oklch-colors, 'slate-800')};

    // borders
    --border-color: #{map.get($oklch-colors, 'slate-700')};
}

.nk-docs {
    :is(h2):not(:first-child) {
        margin-block-start: 2em;
    }

    h3 {
        font-size: 1.125rem;
    }

    :is(h1, h2, h3, h4, h5, h6, question) {
        color: var(--text-heading);

        code {
            font-size: inherit;
        }
    }
}

// 
.docs-layout {
    background-color: var(--bg-body);
    display: grid;
    min-height: 100vh;

    .left-sidebar {
        background-color: var(--bg-surface);
        color: rgb(245 245 245);
        padding: $base-padding;
    }

    .toc {
        background-color: map.get($oklch-colors, 'slate-700');
        color: rgb(245 245 245);
        font-size: 0.75rem;

        // max-height: 100vh;
        // overflow-y: auto;
        padding: $base-padding;
        position: sticky;
        top: 0;

        a {
            color: rgb(245 245 245);
        }
    }

    // the container queries are used for the resizable container demo
    @include cq-from-sm {
        grid-template-columns: 250px 1fr 200px;
    }

    @include from-md {
        grid-template-columns: 250px 1fr 200px;
    }
}

// ============================================================================
// -- Custom Selectors --
// ============================================================================
question {
    color: var(--text-question-color, $question-color);
    display: block;
    font-size: 1.15rem;
    font-style: italic;
    font-weight: 700;
    margin-block-start: $base-gap;
}

// ============================================================================
// -- Torchlight Code Highlighting --
// ============================================================================

pre code.torchlight {
    display: block;
    min-width: max-content;

    // .line { padding-inline: 1rem; }

    .line-number,
    .summary-caret {
        margin-inline-end: 1rem;
    }
}

/* Focus behaviour */
.torchlight {
    &.has-focus-lines {
        .line:not(.line-focus) {
            filter: blur(0.095rem);
            opacity: 0.65;
            transition:
                filter 0.35s,
                opacity 0.35s;
        }

        &:hover .line:not(.line-focus) {
            filter: blur(0);
            opacity: 1;
        }
    }

    summary:focus {
        outline: none;
    }

    details {
        > summary {
            &::marker,
            &::-webkit-details-marker {
                display: none;
            }
        }

        .summary-caret::after {
            pointer-events: none;
        }

        .summary-caret-start::after {
            content: '+';
        }

        &[open] .summary-caret-start::after {
            content: '-';
        }

        .summary-caret-middle::after,
        .summary-caret-end::after,
        .summary-caret-empty::after {
            content: ' ';
        }

        &[open] .summary-hide-when-open {
            display: none;
        }

        &:not([open]) .summary-hide-when-open {
            display: initial;
        }
    }
}

// ============================================================================
// -- Container Queries --
// ============================================================================
.resizable-container {
    border: 2px dashed #667eea;
    border-radius: 0.5rem;
    container-name: demo-container;
    container-type: inline-size;
    max-width: 100%;
    overflow: auto;
    padding: 1rem;
    position: relative;
    resize: horizontal;
    width: 100%;

    // &::after {
    //     bottom: 0.1125;
    //     color: #667eea;
    //     content: '← Drag to resize →';
    //     font-size: 0.75rem;
    //     pointer-events: none;
    //     position: absolute;
    //     right: 0.5rem;
    // }
}
