@use '../mixins/common' as *;
@use '../variables/tailwind-colors' as *;
@use 'sass:map';

// ========================================================================== --
// NAYKEL DOCS --
// ==========================================================================
//
// IMPORTANT: The styles in this file are specifically tailored for the Naykel
// documentation. They are not included in the main build by default.  To use
// these styles, you need to manually import this file.
//
// tr:not(.ignore-nk-styles + table tr - ignores the next table from the styles

$table-bg: white !default;

$th-bdr-color: map-get($tailwind-colors, 'slate', '200') !default;
$td-bdr-color: map-get($tailwind-colors, 'slate', '100') !default;

$code-color: #f0506e !default;
$question-color: #2299dd !default;

.nk-docs {
    // ==========================================================================
    // -- TABLE --
    // ==========================================================================
    // table {
    //     border: 1px solid #dddddd;
    // }

    th:not(.ignore-nk-styles + table th) {
        border-bottom: 1px solid $th-bdr-color;
    }

    td:not(.ignore-nk-styles + table td) {
        border-top: 1px solid $td-bdr-color;
    }

    tr:not(.ignore-nk-styles + table tr) {
        background: $table-bg;
    }

    // .compress-tables ~ {
    //     th,
    //     td {
    //         padding-block: 0.25rem;
    //         padding-inline: 0.75rem;
    //     }
    // }

    .all-list-spacing-05 ~ ul li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

// ==========================================================================
// -- MARKDOWN AND CODE BLOCKS --
// ==========================================================================

%code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    color: $code-color;
    // color: rgb(14, 165, 233);
    border-radius: 0.25rem;
}

// %markdown-table {
//     margin-top: $content-gap;
//     font-size: 0.85em;
// }

// change these to classes so they don't automatically get placed in a p tag
.code-first-col {
    + table tbody {
        // @extend %markdown-table;
        tr td:first-child {
            @extend %code;
        }
    }
}

.code-second-col {
    + table tbody {
        // @extend %markdown-table;
        tr td:nth-child(2) {
            @extend %code;
        }
    }
}
.code-first-second-col {
    + table tbody {
        // @extend %markdown-table;
        tr td:is(:first-child, :nth-child(2)) {
            @extend %code;
        }
    }
}

// ==========================================================================
// -- QUESTION AND ANSWER --
// ==========================================================================

question {
    color: $question-color;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
}

answer,
h3:has(question) + p {
    margin-top: 0.5rem;
    + ul {
        margin-top: 0.5rem;
        margin-left: 1.5rem;
    }
}

// remove top margin when inside `p` tag and let the `q&a` tag handle the margin
p:has(question),
p:has(answer) {
    margin-top: 0;
}

// this is a hack to make the question play nice with the `h3` tag
h3 {
    > question {
        margin-top: 0;
    }
    &:has(question) {
        display: inline-flex;
        align-items: center;
        a {
            margin-right: 0.5rem;
        }
    }
}

// ==========================================================================
// --  --
// ==========================================================================

:is(h1, h2, h3, h4, h5, h6) {
    code:not(.hljs) {
        font-size: inherit;
    }
}

// code color for alerts
.info-light code {
    color: #ec4899;
}

.markdown {
    .compare + pre,
    .compare + pre + pre {
        float: left;
        width: 49%;
    }

    .compare + pre {
        margin-right: 1%;
    }
    .compare + pre + pre {
        margin-left: 1%;
    }

    .clear {
        clear: both;
    }

    hr {
        border-color: #3d5ea5;
    }

    .spaced-out + ul li {
        margin-top: 0.5rem !important;
    }

    .spaced-out-all ~ ul li {
        background: red;
        margin-top: 0.5rem !important;
    }
}

.mermaid > svg {
    background: #fff;
    padding: 1rem;
}

// this is good when making a list when you want to use the toc for an overview
.small-headings {
    ~ h1 {
        font-size: 2em;
    }
    ~ h3 {
        font-size: 1.25em;
    }
}
