@use '../common-tools' as *;

// ============================================================================
// -- LAYOUT ELEMENTS --
// ============================================================================

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // set height to push footer to the bottom
}

:where(.nk-main) {
    background-color: $main-bg;
    flex: 1; // 1. allow to grow to fill height
}

:where(.nk-footer) {
    background-color: $footer-bg;
    color: #ccc;
    margin-top: auto; // force footer to the bottom
}

.copyright {
    background-color: $copyright-bg;
    border: 0; 
    color: $copyright-text-color;
    font-size: 0.9rem;
    margin-top: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

// ============================================================================
// -- NAYKEL ADMIN STYLES --
// ============================================================================

.nk-admin {
    .navbar {
        background-image: linear-gradient(
            to right top,
            #20242a,
            #1e1f27,
            #1e1a23,
            #1f141d,
            #1f0e16,
            #250e15,
            #2c0e12,
            #310f0c,
            #40140e,
            #4e1a0e,
            #5c210c,
            #692906
        );
    }
}
