@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/form-controls' as *;
@use 'sass:color';

$choices-selector: 'choices' !default;

// font sizes
$choices-font-size-lg: $ctrl-font-size-lg !default;
$choices-font-size-md: $ctrl-font-size !default;
$choices-font-size-sm: $ctrl-font-size-sm !default;
$choices-guttering: 24px !default;
$choices-border-radius: $ctrl-border-radius !default;
$choices-border-radius-item: 20px !default;
$choices-bg-color: $ctrl-bg-color !default; // main input
$choices-bg-color-disabled: #eaeaea !default;
$choices-bg-color-dropdown: $ctrl-bg-color !default;
$choices-text-color: $ctrl-color !default;
$choices-keyline-color: #ddd !default;
$choices-primary-color: $primary !default;
$choices-disabled-color: #eaeaea !default;
$choices-highlight-color: $choices-primary-color !default;
$choices-button-dimension: 8px !default;
$choices-button-offset: 8px !default;
$choices-icon-cross: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==') !default;
$choices-icon-cross-inverse: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==') !default;
$choices-z-index: 1 !default;

.#{$choices-selector} {
    font-size: $choices-font-size-lg;
    margin-bottom: $choices-guttering;
    overflow: hidden;
    position: relative;

    &:focus {
        outline: none;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.is-open {
        overflow: visible;
    }

    &.is-disabled {
        .#{$choices-selector}__inner,
        .#{$choices-selector}__input {
            background-color: $choices-bg-color-disabled;
            cursor: not-allowed;
            user-select: none;
        }
        .#{$choices-selector}__item {
            cursor: not-allowed;
        }
    }

    [hidden] {
        display: none !important;
    }
}

.#{$choices-selector}[data-type*='select-one'] {
    cursor: pointer;
    .#{$choices-selector}__inner {
        padding-bottom: 7.5px;
    }
    .#{$choices-selector}__input {
        background-color: #fff;
        border-bottom: 1px solid $choices-keyline-color;
        display: block;
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .#{$choices-selector}__button {
        background-image: $choices-icon-cross-inverse;
        background-size: 8px;
        border-radius: 10em;
        height: 20px;
        margin-right: 25px;
        margin-top: -10px;
        opacity: 0.25;
        padding: 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 20px;

        &:hover,
        &:focus {
            opacity: 1;
        }

        &:focus {
            box-shadow: 0 0 0 2px $choices-highlight-color;
        }
    }
    .#{$choices-selector}__item[data-placeholder] .#{$choices-selector}__button {
        display: none;
    }

    &::after {
        border-color: $choices-text-color transparent transparent transparent;
        border-style: solid;
        border-width: 5px;
        content: '';
        height: 0;
        margin-top: -2.5px;
        pointer-events: none;
        position: absolute;
        right: 11.5px;
        top: 50%;
        width: 0;
    }

    &.is-open::after {
        border-color: transparent transparent $choices-text-color;
        margin-top: -7.5px;
    }

    &[dir='rtl'] {
        &::after {
            left: 11.5px;
            right: auto;
        }
        .#{$choices-selector}__button {
            left: 0;
            margin-left: 25px;
            margin-right: 0;
            right: auto;
        }
    }
}

.#{$choices-selector}[data-type*='select-multiple'],
.#{$choices-selector}[data-type*='text'] {
    .#{$choices-selector}__inner {
        cursor: text;
    }
    .#{$choices-selector}__button {
        background-image: $choices-icon-cross;
        background-size: $choices-button-dimension;
        border-left: 1px solid color.adjust($choices-primary-color, $lightness: -10%);
        border-radius: 0;
        display: inline-block;
        line-height: 1;
        margin: 0 -$choices-button-offset * 0.5 0 $choices-button-offset;
        opacity: 0.75;
        padding-left: $choices-button-offset * 2;
        position: relative;
        width: $choices-button-dimension;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

.#{$choices-selector}__inner {
    background-color: $choices-bg-color;
    border: 1px solid $choices-keyline-color;
    border-radius: $choices-border-radius;
    display: inline-block;
    font-size: $choices-font-size-md;
    min-height: 44px;
    overflow: hidden;
    padding: 7.5px 7.5px 3.75px;
    vertical-align: top;
    width: 100%;

    .is-focused &,
    .is-open & {
        border-color: color.adjust($choices-keyline-color, $lightness: -15%);
    }

    .is-open & {
        border-radius: $choices-border-radius $choices-border-radius 0 0;
    }

    .is-flipped.is-open & {
        border-radius: 0 0 $choices-border-radius $choices-border-radius;
    }
}

.#{$choices-selector}__list {
    list-style: none;
    margin: 0;
    padding-left: 0;

    &[aria-expanded] {
        @extend %choices-dropdown;
    }
}

.#{$choices-selector}__list--single {
    display: inline-block;
    padding: 4px 16px 4px 4px;
    width: 100%;

    [dir='rtl'] & {
        padding-left: 16px;
        padding-right: 4px;
    }
    .#{$choices-selector}__item {
        width: 100%;
    }
}

.#{$choices-selector}__list--multiple {
    display: inline;
    .#{$choices-selector}__item {
        background-color: $choices-primary-color;
        border: 1px solid color.adjust($choices-primary-color, $lightness: -5%);
        border-radius: $choices-border-radius-item;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-size: $choices-font-size-sm;
        font-weight: 500;
        margin-bottom: 3.75px;
        margin-right: 3.75px;
        padding: 4px 10px;
        vertical-align: middle;
        word-break: break-all;

        &[data-deletable] {
            padding-right: 5px;
        }

        [dir='rtl'] & {
            margin-left: 3.75px;
            margin-right: 0;
        }

        &.is-highlighted {
            background-color: color.adjust($choices-primary-color, $lightness: -5%);
            border: 1px solid color.adjust($choices-primary-color, $lightness: -10%);
        }

        .is-disabled & {
            background-color: color.adjust($choices-disabled-color, $lightness: -25%);
            border: 1px solid color.adjust($choices-disabled-color, $lightness: -35%);
        }
    }
}

%choices-dropdown {
    background-color: $choices-bg-color-dropdown;
    border: 1px solid $choices-keyline-color;
    border-bottom-left-radius: $choices-border-radius;
    border-bottom-right-radius: $choices-border-radius;
    color: $choices-text-color;
    display: none;
    margin-top: -1px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    word-break: break-all;
    z-index: $choices-z-index;

    &.is-active {
        display: block;
    }

    .is-open & {
        border-color: color.adjust($choices-keyline-color, $lightness: -15%);
    }

    .is-flipped & {
        border-radius: 0.25rem 0.25rem 0 0;
        bottom: 100%;
        margin-bottom: -1px;
        margin-top: 0;
        top: auto;
    }
    .#{$choices-selector}__list {
        max-height: 300px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: relative;
        will-change: scroll-position;
    }
    .#{$choices-selector}__item {
        font-size: $choices-font-size-md;
        padding: 10px;
        position: relative;

        [dir='rtl'] & {
            text-align: right;
        }
    }
    .#{$choices-selector}__item--selectable {
        &[data-select-text] {
            @media (width >= 640px) {
                padding-right: 100px;

                &::after {
                    content: attr(data-select-text);
                    font-size: $choices-font-size-sm;
                    opacity: 0;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                [dir='rtl'] & {
                    padding-left: 100px;
                    padding-right: 10px;
                    text-align: right;

                    &::after {
                        left: 10px;
                        right: auto;
                    }
                }
            }
        }

        &.is-highlighted {
            background-color: color.mix(#000, #fff, 5%);

            &::after {
                opacity: 0.5;
            }
        }
    }
}

.#{$choices-selector}__list--dropdown {
    @extend %choices-dropdown;
}

.#{$choices-selector}__item {
    cursor: default;
}

.#{$choices-selector}__item--selectable {
    cursor: pointer;
}

.#{$choices-selector}__item--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    user-select: none;
}

.#{$choices-selector}__heading {
    border-bottom: 1px solid color.adjust($choices-keyline-color, $lightness: 10%);
    color: color.adjust(#333, $lightness: 30%);
    font-size: $choices-font-size-sm;
    font-weight: 600;
    padding: 10px;
}

.#{$choices-selector}__button {
    appearance: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    text-indent: -9999px;

    &:focus {
        outline: none;
    }
}

.#{$choices-selector}__input {
    background-color: $choices-bg-color;
    border: 0;
    border-radius: 0;
    display: inline-block;
    font-size: $choices-font-size-md;
    margin-bottom: 5px;
    max-width: 100%;
    padding: 4px 0 4px 2px;
    vertical-align: baseline;

    &:focus {
        outline: 0;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

    &::-ms-clear,
    &::-ms-reveal {
        display: none;
        height: 0;
        width: 0;
    }

    [dir='rtl'] & {
        padding-left: 0;
        padding-right: 2px;
    }
}

.#{$choices-selector}__placeholder {
    opacity: 0.5;
}
