@use '../color-and-themes/themes' as *;
@use '../color-and-themes/colors' as *;
@use 'sass:map';

$default-theme: $docs !default;

// ----------------------------------------------------------------------------
// Colors - Brand/Primary Palette
// ----------------------------------------------------------------------------
$primary: map.get($default-theme, color-primary) !default;
$secondary: map.get($default-theme, color-secondary) !default;
$accent: map.get($default-theme, color-accent) !default;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'accent': $accent,
) !default;