$themes: (
    light: (
        text-base: hsl(180deg 4% 5%)
    ),
    dark: (
        // Primary Palette
        primary: #1e40af,
        secondary: #334155,
        accent: #38bdf8,

        // Typography Colors
        text-base: #cbd5e1,
        text-heading: #f1f5f9,
        text-lead: #94a3b8,
        // text-muted: #64748b,
        // text-meta: #475569,
        link-color: #38bdf8,
        link-color-hover: #38bdf8,

        // Typography Colors
        bg-body: #0f172a,
        // Interactive
        bg-nav-link-hover: #334155,
        bg-nav-link-active: #1e40af,
        // Borders
        border-color: hsl(180deg 15% 20%)
    )
);
