@use '../v1/maps_and_variables/tailwind-colors' as *;
@use "sass:map";
@use "sass:color";

// ==========================================================================
// -- Base Styles --
// ==========================================================================
$img-path: "/images" !default;

// ==========================================================================
// -- Theme Styles --
// ==========================================================================


$main-bg: transparent !default;

$footer-bg: #1d1d1c !default;
$footer-text-color: rgb(204, 204, 204) !default;

$copyright-bg: color.adjust($footer-bg, $lightness: -2%) !default;
$copyright-text-color: $footer-text-color !default;

