$button-identifier: "btn" !default;
$container-identifier: "container" !default;
$dropdown-identifier: "dd" !default;
$icon-identifier: "icon" !default;
$list-identifier: "lst" !default;
$navbar-identifier: "navbar" !default;

// css properties
$bg-identifier: "bg-" !default;
$border-identifier: "bdr-" !default;
$flex-grow-identifier: "fg" !default; // no dash by design
$flex-identifier: "flex-" !default;
$flex-shrink-identifier: "fs" !default; // no dash by design
$font-identifier: "font-" !default;
$line-height-identifier: "lh-" !default;
$margin-identifier: "m" !default; // no dash by design
$padding-identifier: "p" !default; // no dash by design
$position-identifier: "pos-" !default;
$table-identifier: "tbl-" !default;
$text-align-identifier: "ta" !default; // no dash by design
$text-identifier: "txt-" !default;
$whitespace-identifier: "whitespace-" !default;

// grid and flex
// $grid-identifier: "grid-" !default;
// $grid-col-span: "col-span-" !default;
