$button-identifier: "btn" !default;
$container-identifier: "container" !default;
$dropdown-identifier: "dd" !default;
$icon-identifier: "icon" !default;
$list-identifier: "lst" !default;
$navbar-identifier: "navbar" !default;

// css properties
$border-identifier: "bdr-" !default;
$line-height-identifier: "lh-" !default;
$table-identifier: "tbl-" !default;
$text-align-identifier: "ta" !default; // no dash by design
$text-identifier: "txt-" !default;
$whitespace-identifier: "whitespace-" !default;
