@use '../v1/maps_and_variables/base' as *;
@use '../v1/maps_and_variables/colors' as *;
@use 'sass:map';

// grid column fr conversion map for two column layouts. The map key specifies the percentage width of the 1st column

// prettier-ignore
$fr-conversion-2-col: (
    20: ( 1fr, 4fr ),
    25: ( 1fr, 3fr ),
    30: ( 3fr, 7fr ),
    33: ( 1fr, 2fr ),
    40: ( 2fr, 3fr ),
    50: ( 1fr, 1fr ),
    60: ( 3fr, 2fr ),
    67: ( 2fr, 1fr ),
    70: ( 7fr, 3fr ),
    75: ( 3fr, 1fr ),
    80: ( 4fr, 1fr )
);

// ==========================================================================
//  Space sizes and variants for margin and padding utilities
// ==========================================================================

$margin-variants: (
    base: 1.5,
    auto: auto
) !default;
$padding-variants: (
    default: $content-padding
) !default;


