@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/typography' as *;
@use 'sass:list';

// ==========================================================================
// -- Headings --
// ==========================================================================

@for $size from 1 through list.length($heading-sizes) {
    h#{$size} {
        font-size: list.nth($heading-sizes, $size);
    }
}

:where(h1, h2, h3, h4, h5, h6) {
    font-weight: $heading-font-weight;
    color: $heading-color;
    line-height: 1.25;
    text-wrap: balance;
}

// add top margin to all headings unless they are H1 or first child.
:is(h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 1.5em;
}

// ==========================================================================
// -- Body Text --
// ==========================================================================

// 1. Don't leave a single word on a line by itself

p {
    text-wrap: pretty; // 1.
}

small {
    font-size: 80%;
}

b,
strong {
    font-weight: $font-weight-bold;
}

// ==========================================================================
// -- Mono --
// ==========================================================================

code,
kbd,
pre,
samp {
    font-family: $mono-font;
    font-size: 0.875rem;
    color: #d9558c;
    border-radius: 0.25rem;
}

pre {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

// ==========================================================================
// -- Links --
// ==========================================================================

:is(a) {
    color: $link-color;
    text-decoration: inherit;
    cursor: pointer;

    &:hover {
        color: $link-hover-color;
    }
}

// ==========================================================================
// -- Lists --
// ==========================================================================

// 1. set style-position outside to align text when wrapping
// 2. indent to align text with the rest of the content
ul,
ol {
    list-style-position: outside; // 1
    margin-inline-start: $content-padding; // 2
}

li {
    margin-block-start: $base-list-spacing; // Add consistent spacing for list items
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

//  NK?? this is very specific, consider removing it and use utilities instead
ol ol,
ul ol {
    list-style-type: lower-roman;
}

//  NK?? this is very specific, consider removing it and use utilities instead
ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
    list-style-type: lower-alpha;
}

li ul,
li ol {
    margin-top: $base-list-spacing; // 1
}

// This is quite opinionated but it works for the current design.

nav ul {
    list-style: none;
    margin: 0; // reset nested
}
