@use '../functions/setTextColor' as *;

// $base, $border-color (optional), $font-color (optional)
// call with - @include colorSchemeSimple($base-color)

@mixin colorSchemeSimple($base, $border-color: rgba(0, 0, 0, 0.15), $font-color: setTextColor($base)) {
    background-color: $base;
    border: 1px solid $border-color;
    color: $font-color;
}


