@use "../functions/setTextColor" as *;

@mixin hover($bg, $lightenBy: 10%, $color: setTextColor($bg),) {
    &:hover {
        @content;
        background-color: lighten($bg, $lightenBy);
        color: $color;
    }
}

@mixin active($bg, $lightenBy: 2%, $color: setTextColor($bg)) {
    &:active {
        @content;
        background-color: lighten($bg, $lightenBy);
        color: $color;
    }
}
