@use "../../base/vars_base" as *;
@use "../../mixins/media" as *;

$flex-utilities: (
    justify-content: (
        values: (
            ha-l: flex-start,
            ha-r: flex-end,
            ha-c: center,
            justify-start: flex-start,
            justify-end: flex-end,
            justify-center: center,
            space-between: space-between,
            space-around: space-around,
            space-evenly: space-evenly
        )
    ),
    align-items: (
        values: (
            va-t: flex-start,
            va-b: flex-end,
            va-c: center,
            items-start: flex-start,
            items-end: flex-end,
            items-center: center,
            items-stretch: stretch,
            items-baseline: baseline
        )
    ),
    flex: (
        property: flex,
        values: (
            flex-1: 1 1 0%,
            fs-auto: 0 1 auto,
            fsg-auto: 1 1 auto,
            flex-none: none
        )
    ),
    order: (
        property: order,
        prefix: "order-",
        values: (
            1: 1,
            2: 2
        )
    )
);

@each $property, $map in $flex-utilities {
    $property: map-get($map, "property");
    $utility-prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $key, $v in $values {
        .#{$utility-prefix}#{$key} {
            #{$property}: $v;
        }
    }
}

$flex-grow-map: (
    "0": 0,
    "1": 1,
    "2": 2
);

// covers both grow and shrink
@each $key, $value in $flex-grow-map {
    .fg#{$key} {
        flex-grow: $value;
    }
    .fs#{$key} {
        flex-shrink: $value;
    }
}

.md\:flex-row {
    @include from-md {
        flex-direction: row;
    }
}

// DEPRECIATE????
@include from-lg {
    @each $property, $map in $flex-utilities {
        $property: map-get($map, "property");
        $utility-prefix: map-get($map, "prefix");
        $values: map-get($map, "values");

        @each $key, $v in $values {
            .md-#{$utility-prefix}#{$key} {
                #{$property}: $v;
            }
        }
    }
}
