@use "../../base/vars_base" as *;
@use "../../mixins/media" as *;



$flex-grow-map: (
    "0": 0,
    "1": 1,
    "2": 2
);

// covers both grow and shrink
@each $key, $value in $flex-grow-map {
    .fg#{$key} {
        flex-grow: $value;
    }
    .fs#{$key} {
        flex-shrink: $value;
    }
}
