@use "../../base/vars_base" as *;
@use "../../base/vars_utility_maps" as *;
@use "../../functions/helpers" as *;
@use "../mixins/makeMagicClass" as *;
@use "../mixins/makeMagicGrid2Cols" as *;
@use "../mixins/makeMagicGridEqualWidths" as *;
@use "../../mixins/media" as *;
@use "sass:list";
@use "sass:map";
@use "sass:string";

// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------
// ALL MAGIC MIXINS MUST HAVE AT LEAST TWO MAPS OR YOU WILL GET AN
// AN 'UNDEFINED' ERROR BECAUSE IT TREATS A SINGLE MAP AS A LIST
// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------

$equal-width-magic-columns: ((4, 2, 1), (4, 3, 2, 1), (3, 2, 1), (3, 1, 1), (2, 1)) !default;
$grid-gap-magic-sizes: ((5, 3, 2), (5, 3), (4, 2), (3, 1)) !default;
$grid-gap-sizes: (0, 0.5, 1, 1.25, 1.5, 2, 3, 4, 5) !default;

// ----------------------------------------------------------------
// -- GRID GAP --
// ----------------------------------------------------------------

@each $size in $grid-gap-sizes {
    $class: escapeDecimal($size);

    .grid-#{$class} {
        display: grid;
        gap: #{$size}rem;
    }

    .gg-#{$class} {
        gap: #{$size}rem;
    }
}

// ----------------------------------------------------------------
// -- MAGIC CLASSES --
// ----------------------------------------------------------------

@include makeMagicClass(grid-gap, ($grid-gap-magic-sizes), "gg", $unit: "rem");
@include makeMagicGridEqualWidths($equal-width-magic-columns);

// ----------------------------------------------------------------
// -- TWO COLUMN UN-EQUAL WIDTHS (NON-RESPONSIVE) --
// ----------------------------------------------------------------
// Converts percentage based numbers to FR
//
// OUTPUT: cols-{col1%}:{col2%}

@each $key, $fr-units in $fr-conversion-2-col {
    // specify the first column size,then calculate the second column width
    $class: #{$key}\:#{(100 - $key)};
    .cols-#{$class} {
        // minmax prevents blowout
        grid-template-columns: minmax(0, nth($fr-units, 1)) minmax(0, nth($fr-units, 2));
    }
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

// ----------------------------------------------------------------
// -- TWO COLUMN RESPONSIVE MAGIC GRID --
// ----------------------------------------------------------------

// $magic-grid-sizes-2cols: ((25, 25), (30, 50), (70, 60));
// @include makeMagicGrid2Cols($magic-grid-sizes-2cols);
