@use "../base/vars_base" as *;

// only stick while parent is in view
.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.z-0 {
    z-index: 0;
}

.z-50 {
    z-index: 50;
}

.z-100 {
    z-index: 100;
}

.z-top {
    z-index: 999;
}
// ==========================================================================
// Element Position
// ==========================================================================

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}


.pos {
    &-xy {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &-x {
        left: 0;
        right: 0;
    }

    &-y {
        top: 0;
        bottom: 0;
    }

    &-t {
        top: 0;
    }

    &-b {
        bottom: 0;
    }

    &-l {
        left: 0;
        right: auto; // reset for flex ?? dd requires to shrink ??
    }

    &-r {
        right: 0;
        left: auto; // reset for flex ?? dd requires to shrink ??
    }
}
