@use "../base/vars_all" as *;
@use "../mixins/makeUtilityClasses" as *;
@use "../mixins/makeResponsivePositionUtilities" as *;

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// Order Matters! basic and responsive utility classes need to
// come after the magic classes to allow them to be overridden
//
// --------------------------------------------------------------

$spacing-utilities-map: (
    "margin": (
        "base-class": "m",
        "values-map":
            map-merge(
                $rem-sizes-map,
                (
                    "auto": auto,
                    "default": 1.25rem,
                )
            ),
        "xy-suffix": true,
        "axis-position-map": $axis-position-map,
    ),
    "padding": (
        "base-class": "p",
        "values-map":
            map-merge(
                $rem-sizes-map,
                (
                    "default": $content-gap,
                )
            ),
        "xy-suffix": true,
        "axis-position-map": $axis-position-map,
    ),
);

@include makeUtilityClasses($spacing-utilities-map);

// --------------------------------------------------------------
// -- RESPONSIVE SPACING UTILITIES --
// --------------------------------------------------------------
// NK::TD move the maps to a vars files and set default and merge
//

$padding-x-responsive-sizes: (2, 2, 1), "";
$padding-y-responsive-sizes: (10, 6, 2), "";
@include makeResponsivePositionUtilities("padding", "p", "y", $padding-y-responsive-sizes);
@include makeResponsivePositionUtilities("padding", "p", "x", $padding-x-responsive-sizes);
