@use "../base/vars_colors" as *;

// -- DISABLED --
// -----------------------------------

:disabled,
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

// -- HOVER STATE --
// -----------------------------------

// ROMOVE ME!!
.hover\:txt-secondary:hover {
    color: $secondary;
}

// just the text
.hover\:secondary:hover {
    color: $secondary;
}

// all aspects of state???
// .state\:secondary {
//     &:hover {
//         color: $secondary;
//     }
// }
