@use "../base/vars_colors" as *;

// -- DISABLED --
// -----------------------------------

:disabled,
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

// -- HOVER STATE --
// -----------------------------------

.hover\:txt-primary:hover {
    color: $primary;
}

.hover\:txt-secondary:hover {
    color: $secondary;
}



// all aspects of state???
// .state\:secondary {
//     &:hover {
//         color: $secondary;
//     }
// }
