@use "../base/vars_base" as *;

// -- DISABLED --
// -----------------------------------

:disabled,
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

// -- HOVER STATE --
// -----------------------------------

.hover\:txt-primary:hover {
    color: $primary;
}

.hover\:txt-secondary:hover {
    color: $secondary;
}

.hover\:txt-white:hover {
    color: #fff;
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
}

// all aspects of state???
// .state\:secondary {
//     &:hover {
//         color: $secondary;
//     }
// }
