@use "../base/vars_all" as *;
@use "../mixins/makeColorSchemeAdvanced" as *;
@use "../mixins/colorSchemeSimple" as *;
@use "../mixins/colorShades" as *;
@use "sass:map";

// ----------------------------------
// $themes-map: (
//     "danger": (
//         "base": map-get($color-map, "danger"),
//         "base-light": map-get($color-map, "danger-light"),
//         "color-light": map-get($color-map, "danger"),
//     ),
//     "success": (
//         "base": map-get($color-map, "success"),
//         "base-light": map-get($color-map, "success-light"),
//         "color-light": map-get($color-map, "success"),
//     ),
//     "info": (
//         "base": map-get($color-map, "info"),
//         "base-light": map-get($color-map, "info-light"),
//         "color-light": map-get($color-map, "info"),
//     ),
//     "warning": (
//         "base": map-get($color-map, "warning"),
//         "base-light": map-get($color-map, "warning-light"),
//         "color-light": map-get($color-map, "warning"),
//     ),
// );

$new-theme: (
    "complement": (
        "base": #ffbfd1,
        // "color": white,
        // "link-color": grey,
    ),
);

$default-themes: (
    "primary": (
        "base": $primary,
        "link-color": white,
    ),
    "secondary": (
        "base": $secondary,
        "color": $primary,
        "link-color": $primary,
        "hover-color": $primary,
    ),
    "white": (
        "base": #fff,
        "default-links": true,
    ),
) !default;

$themes-map: map.merge($new-theme, $default-themes);

// $key is the theme name, $map is the theme map
@each $key, $map in $themes-map {
    @include makeColorSchemeAdvanced($key, $map);
}

@each $key, $value in $color-map {
    // if the $key NOT in $themes-map
    // exclude if already in the $themes-map
    @if (not map-has-key($themes-map, $key)) {
        // create a color class
        .#{$key} {
            @include colorSchemeSimple($value);
        }
    }
}

@include colorShades("grey", hsl(0, 0%, 7%), 9, 10);
@include colorShades("orange", hsl(14, 100%, 50%));
@include colorShades("yellow", hsl(48, 100%, 70%), 9, 3);
