@use "../mixins/common" as *;

// prettier-ignore
$colors-map: (
    background-color: (
        prefix: #{$bg-identifier},
        values:( white, black ),
        breakpoints: ("sm", "md", "lg", "xl")
    ),
);

@include generate-utilities($colors-map);
