@use "../base/vars_base" as *;
@use "../base/vars_colors" as *;
@use "../functions/colorFunctions" as *;
@use "../functions/mapMerge" as *;
@use "../mixins/extendedThemeClass" as *;
@use "../mixins/helpers" as *; // index
@use "../mixins/utilityClassCreators" as *;
@use "./tailwind-colors" as *;
@use "../functions/get" as *;

// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------
// There is a fair bit going on here and the BUILD ORDER MATTERS.
// Make sure you read the comments before making any changes.
// ------------------------------------------------------------------

$alert-theme: (
    "danger-light": (
        "base": get("red.50", $tailwind-colors),
        "color": get("red.900", $tailwind-colors),
        "border-color": get("red.500", $tailwind-colors),
    ),
    "info-light": (
        "base": get("blue.50", $tailwind-colors),
        "color": get("blue.900", $tailwind-colors),
        "border-color": get("blue.500", $tailwind-colors),
    ),
    "warning-light": (
        "base": get("yellow.50", $tailwind-colors),
        "color": get("yellow.900", $tailwind-colors),
        "border-color": get("yellow.500", $tailwind-colors),
    ),
    "success-light": (
        "base": get("green.50", $tailwind-colors),
        "color": get("green.900", $tailwind-colors),
        "border-color": get("green.500", $tailwind-colors),
    ),
);

// Convert all the colors into a usable map of maps to create
// extended themes.
//
// NK?? THINK! Do you really want to extend every theme?

$themes-map: ();

@each $color, $value in $color-map {
    $themes-map: map-merge(
        $themes-map,
        (
            $color: (
                "base": $value,
            ),
        )
    );
}

// add additional styles to override created styles
$extended-theme-overrides: (
    // "primary": (
    //     "base": $primary,
    // ),
) !default;

// ------------------------------------------------------------------
// -- CREATE EXTENDED COLOR SCHEMES --
// ------------------------------------------------------------------
// extended maps add extra element styles and classes. For example,
// `withState`, `bx-title` and link-colors.
//
// To prevent duplication make sure the `$extended-themes` are
// created first.

// $extended-themes: mapMerge($alert-theme, $extended-theme-overrides);

// The order matters here, overrides must go last!
$extended-themes: mapMerge($alert-theme, $themes-map, $extended-theme-overrides);

@each $theme-name, $map in $extended-themes {
    @include extendedThemeClass($theme-name, $map);
}

// ------------------------------------------------------------------
// -- CREATE BASIC COLOR SCHEMES --
// ------------------------------------------------------------------
// To prevent duplication make sure the `$extended-themes` are
// created first.

@each $key, $value in $color-map {
    // exclude if $key already in the $extended-themes
    @if (not map-has-key($extended-themes, $key)) {
        .#{$key} {
            @include basicColorScheme($value);
        }
    }
}

// ------------------------------------------------------------------
// -- CREATE UTILITY CLASSES --
// ------------------------------------------------------------------

// this could arguably be removed and just use base colors?? maybe
// leave main theme colors like primary, secondary, and accent
@include singlePropertyUtilityClasses(background-color, $theme-colors, "bg");
@include singlePropertyUtilityClasses(background-color, $base-colors, "bg");
