@use '../common-tools' as *;
@use '../functions/map-and-list-helpers' as *;
@use '../maps_and_variables/' as *;
@use '../mixins/build-themes' as *;
@use 'sass:map';

$alert-themes: (
    'danger-light': (
        'base': map-get-dot('red.50', $tailwind-colors),
        'color': map-get-dot('red.700', $tailwind-colors),
        'border-color': map-get-dot('red.500', $tailwind-colors)
    ),
    'info-light': (
        'base': map-get-dot('blue.50', $tailwind-colors),
        'color': map-get-dot('blue.700', $tailwind-colors),
        'border-color': map-get-dot('blue.500', $tailwind-colors)
    ),
    'warning-light': (
        'base': map-get-dot('yellow.50', $tailwind-colors),
        'color': map-get-dot('yellow.700', $tailwind-colors),
        'border-color': map-get-dot('yellow.500', $tailwind-colors)
    ),
    'success-light': (
        'base': map-get-dot('green.50', $tailwind-colors),
        'color': map-get-dot('green.700', $tailwind-colors),
        'border-color': map-get-dot('green.500', $tailwind-colors)
    )
);



// ==========================================================================
// Create a new map `$themes-map` where each entry in `$color-map` is used
// to define a new theme with a base color. The base color is directly taken
// from the `$color-map` and stored in `$themes-map` with its key.
// ==========================================================================

// this is the format that is required to use the `build-basic-theme` mixin
// $x: (
//     'primary': ( 'base': #2563eb )
//     'yellow': ( 'base': #ffda47 ),
// );

$themes-map: ();

@each $color, $value in $color-map {
    // For each color in `$color-map`, create a new map with the key `$color`
    // and store a 'base' property with the value from `$color-map`.
    $themes-map: map.set(
        $themes-map,
        $color,
        (
            'base': $value
        )
    );
}


// ==========================================================================
// Builds
// ==========================================================================
// 
@each $theme-name, $map in $alert-themes {
    @include build-basic-theme($theme-name, $map);
}

// build basic themes from base colors
@each $theme-name, $map in $themes-map {
    @include build-basic-theme($theme-name, $map);
}
