$img-path: "/src/images" !default;





// ==========================================================================
// -- Responsive Sizes and Breakpoints --
// ==========================================================================
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
) !default;

// create an empty map to update or add defaults
$breakpoints-custom: () !default;
// merge together
$breakpoints: map-merge($breakpoints, $breakpoints-custom);

$sm: map-get($breakpoints, sm);
$md: map-get($breakpoints, md);
$lg: map-get($breakpoints, lg);
$xl: map-get($breakpoints, xl);
$xxl: map-get($breakpoints, xxl);

// ==========================================================================
// -- Container --
// ==========================================================================
// think of container size as maximum-width up to a maximum-size.
// By setting the maximum-width lower than 100% means there will
// alway be a gap on smaller devices removing the need to media
// queries based on the defaults the container will be a maximum
// of 90% up to a maximum of 1200px
$container-max: 95%;

$container-max-lg: $lg !default; // 1200px
$container-max-xxl: 75rem !default; // 1200px




