$button-class: 'btn' !default;
$container-class: 'container' !default;
$dropdown-class: 'dd' !default;
$icon-class: 'icon' !default;
$list-class: 'lst' !default;
$navbar-class: 'navbar' !default;
$table-class: 'tbl' !default;
