@use "vars_base" as *;
@use "vars_colors" as *;
@use "../functions/setTextColor" as *;

// dropdown
// --------------------------------
$dropdown-toggle-gap: 0.25rem !default; // gap between toggle and content

// icons
// --------------------------------
$icon-xy-sm: 1em !default;
$icon-xy: 1.5em !default;
$icon-xy-md: 2em !default;
$icon-xy-lg: 3em !default;
$icon-color: inherit !default;

// navbar
// --------------------------------
$navbar-bg: hsl(215, 28%, 17%) !default;
$navbar-padding-x: 1rem !default;
$navbar-padding-y: .5rem !default;

$navbar-nav-font-color: setTextColor($navbar-bg) !default;
$navbar-nav-item-bg: hsl(215, 28%, 21%) !default;
$navbar-nav-padding-x: 1em !default;
$navbar-nav-padding-y: 0.75em !default;
$ttt: blue !default;

$navbar-nav-hover-bg: lighten($navbar-nav-item-bg, 10%) !default;
$navbar-nav-hover-color: $navbar-nav-font-color !default;
$navbar-nav-active-bg: rgb(17, 24, 39) !default;



// lists
// --------------------------------
// $base: ;
// $color: ;
// $border-color: ;
$list-font-size: .875rem !default;
$list-color: rgb(44,82,130) !default;

$list-link-color: rgb(44,82,130) !default;
$list-link-hover-color: rgb(49,130,206) !default;

// $hover-bg: ;
// $hover-color: ;
