@use '../common-tools' as *;

// prettier-ignore
$alignment-properties-map: (
    align-content: ( prefix: false, values: $align-content ),
    align-items: ( prefix: false, values: $align-items ),
    align-self: ( prefix: 'self-', values: $align-self ),
    justify-content: (prefix: false, values: $justify-content ),
    place-content: (prefix: false, values: $place-content ),
    place-items: (prefix: false, values: $place-items ),
    place-self: (prefix: false, values: $place-self ),
);

// ==========================================================================
// Builds
// ==========================================================================
@include build-property-classes($alignment-properties-map, $responsive: true);
