// Explicit dependencies
@use '../maps_and_variables' as *;
@use '../functions/map-and-list-helpers' as *;
@use '../functions/classes' as *;
@use '../mixins/backgrounds' as *;
@use 'sass:list';
@use 'sass:map';

@each $color-name in $color-scale-names {
    .bg-stripes-#{$color-name} {
        @include bg-stripes($color-name);
    }

    .bg-stripes-wide-#{$color-name} {
        @include bg-stripes($color-name, $stripe-width: 15px);
    }
}

.zebra > *:nth-child(2n + 2):not(.primary, .secondary) {
    background: $zebra-alt-bg;
}

$background-color-properties: (
    background-color: (
        prefix: 'bg-',
        values: smart-merge($base-colors, $oklch-colors)
    )
);

// @include build-classes-new($background-color-properties, $responsive: false, $with-state: true);
