@use '../functions/map-and-list-helpers' as *;
@use '../maps_and_variables/colors' as *;
@use '../mixins/backgrounds' as *;
@use '../mixins/build-system/controllers' as *;
@use 'sass:list';
@use 'sass:map';

@each $color-name, $value in $base-colors {
    @if map.has-key($oklch-colors, '#{$color-name}-100') {
        .bg-stripes-#{$color-name} {
            @include bg-stripes($color-name);
        }

        .bg-stripes-wide-#{$color-name} {
            @include bg-stripes($color-name, $stripe-width: 15px);
        }
    }
}

$background-color-properties: (
    background-color: (
        prefix: 'bg-',
        values: smart-merge($base-brand-semantic-colors, $oklch-colors)
    )
);

@include build-classes($background-color-properties, $responsive: false, $with-state: true);
