@use "../base/vars_base" as *;
@use "../base/vars_colors" as *;
@use "../base/vars_identifier" as *;
@use "../mixins/helpers/classGenerators" as *;

$border-properties-map: (
    border-width: (
        prefix: #{$border-identifier},
        values: (
            0: 0px,
            1: 1px,
            2: 2px,
            3: 3px,
            4: 4px,
            5: 5px
        )
    )
);

@include generateFromMapOfProperties($border-properties-map);

// ------------------------------------------------------------------
// --  --
// ------------------------------------------------------------------

$border-radius-sizes: (0, 0.25, 0.5, 0.75, 1, 1.5, 2) !default;
@include generateUnitBasedClasses(border-radius, $border-radius-sizes, "rounded");
