@use '../common-tools' as *;
@use 'sass:map';

// Apply solid outline style to the base .outline class and outline width
// utilities like .outline-1, .outline-2, etc. Does not affect other outline-*
// classes such as outline-color or outline-offset. This ensures that outlines
// are visible by default and you do not need to add an outline-style class.
.outline,
[class^='outline-'] {
    outline-style: solid;
}

// prettier-ignore
$border-properties-map: (
    border-color: ( prefix: #{$border-prefix}, values: smart-merge($base-colors, $oklch-colors), positions: $logical-edges-map ), // Individual edges only
    border-radius: ( prefix: 'rounded-', values: $border-radius, unit: "rem" ),// only handles full border-radius, not corners
    border-style: ( prefix: #{$border-prefix}, values: $border-styles, positions: $logical-position-map, omit-axis-keys: (xy) ),
    border-width: ( prefix: #{$border-prefix}, values: $border-widths, positions: $logical-position-map, omit-axis-keys: (xy) ),
    border: ( prefix: 'rounded-', values: $border-radius, unit: 'rem', positions: $border-radius-corners-map ),
    outline-color: ( prefix: 'outline-', values: smart-merge($base-colors, $oklch-colors) ),
    outline-offset: ( values: $outline-widths, unit: 'rem' ), 
    outline-style: ( prefix: 'outline-', values: $outline-styles ),
    outline-width: ( prefix: 'outline-', values: $outline-widths, unit: 'rem' )
);

// ============================================================================
// Builds
// ============================================================================
@include build-classes($border-properties-map, $responsive: true);