@use '../common-tools' as *;
@use 'sass:map';

// `$base-colors` are used to create simplified color utilities without value
// suffixes. Examples: txt-red, bg-red, bdr-red all use the same base color
// value.

$color-properties: (
    background-color: ( prefix: 'bg-', values: smart-merge($base-colors, $oklch-colors) ),
    stroke: ( values: smart-merge($base-colors, $oklch-colors) ),
);

// ============================================================================
// Builds
// ============================================================================

@include build-classes($color-properties, $responsive: false, $with-state: true);

// NKTD: Consider if I really need place holder color utility classes 
@each $color-name, $color-map in $tailwind-colors {
    @each $key, $value in $color-map {
        .placeholder-#{$color-name}-#{$key}::placeholder {
            color: $value;
        }
    }
}
