@use "../mixins/common" as *;

// there is no need to add a tonne of media queries for the
// container because using min() width does a pretty good job!

// 1. Use capital M in min() function to prevent clash between sass
//    and css. This works because sass is case-sensitive, but CSS is
//    not.

@each $variant, $size in $container-variants {
    $class: strip-invalid(#{$container-identifier}-#{$variant});

    // 95% is a good default for most cases, but this may need to be
    // adjusted for smaller screens.
    .#{$class} {
        width: Min(95%, $size); // 1.
        margin-inline: auto;
    }

    // this is experimental, and could just as easily be done with using the
    // start and end variants but I like the idea of having a single class
    // that can be used to align the container.
    .#{$class}-start {
        width: Min(95%, $size); // 1.
        margin-inline: start;
    }
}

