@use '../common-tools' as *;

// 1. Use an uppercase 'M' in Min() to avoid conflicts between Sass and CSS min().
//    Sass treats function names as case-sensitive, while CSS does not.

@each $variant, $size in $container-variants {
    $class: strip-class-suffixes(#{$container-identifier}-#{$variant});

    // 95% is a good default for most cases, but this may need to be
    // adjusted for smaller screens.
    .#{$class} {
        /* stylelint-disable-next-line function-name-case */
        width: Min(95%, $size); // 1.
        margin-inline: auto;
    }
}