@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/property-maps' as *;
@use '../functions/map-and-list-helpers' as *;
@use '../mixins/breakpoint-utilities' as *;
@use '../mixins/build-system/controllers' as *;

$display-visibility-properties-map: (
    display: (
        prefix: false,
        values: $display
    ),
    visibility: (
        prefix: false,
        values: $visibility
    )
);

// ============================================================================
// Builds
// ============================================================================
@include build-classes($display-visibility-properties-map, $responsive: true);

// --------------------------------------------------------------------------
// Additional responsive utilities
// --------------------------------------------------------------------------
// Note: make-from-breakpoint is included in the build system, but we need to
// add these manually since they use a different pattern AT specific breakpoint
// only (exact range)


// AT specific breakpoint only (exact range)
@include make-on-breakpoint((display: block), "block", $responsive-variants);
@include make-on-breakpoint((display: flex), "flex", $responsive-variants);
@include make-on-breakpoint((display: none), "hidden", $responsive-variants);
@include make-on-breakpoint((visibility: hidden), "invisible", $responsive-variants);
@include make-on-breakpoint((visibility: visible), "visible", $responsive-variants);

// UP TO breakpoint (max-width, desktop-first)
@include make-to-breakpoint((display: block), "block", remove-from-list($responsive-variants, xxl));
@include make-to-breakpoint((display: flex), "flex", remove-from-list($responsive-variants, xxl));
@include make-to-breakpoint((display: none), "hidden", remove-from-list($responsive-variants, xxl));
@include make-to-breakpoint((visibility: hidden), "invisible", remove-from-list($responsive-variants, xxl));
@include make-to-breakpoint((visibility: visible), "visible", remove-from-list($responsive-variants, xxl));
