@use '../common-tools' as *;
@use '../mixins/make-classes' as *;

$display-visibility-properties-map: (
    display: ( prefix: false, values: $display ),
    visibility: ( prefix: false, values: $visibility )
);

// ==========================================================================
// Builds
// ==========================================================================
@include build-property-classes($display-visibility-properties-map, $responsive: true);

// ==========================================================================
// DISPLAY AND HIDE 'ON' THE SELECTED SCREEN SIZE
// ==========================================================================
@include make-on-breakpoint((display: block), "block", $responsive-variants);
@include make-on-breakpoint((display: none), "hidden", $responsive-variants);

// ==========================================================================
// DISPLAY AND HIDE 'TO' THE SELECTED SCREEN SIZE
// ==========================================================================
@include make-to-breakpoint((display: block), "block", remove-from-list($responsive-variants, xxl));
@include make-to-breakpoint((display: none), "hidden", remove-from-list($responsive-variants, xxl));