// Explicit dependencies
@use '../maps_and_variables' as *;
@use '../functions/classes' as *;
@use '../functions/strings' as *;
@use '../mixins/build-system/controllers' as *;
@use 'sass:map';

$effects-properties-map: (
    opacity: (prefix: 'opacity-', values: $opacity-map ),
    box-shadow: (prefix: 'shadow-', values: $shadow-map )
);

// ============================================================================
// BUILDS
// ============================================================================
@include build-classes($effects-properties-map, $responsive: true);

// fix states
// @include build-classes($effects-properties-map, $responsive: true, $states: (hover));