@use '../../build-core' as *;

// prettier-ignore
$effect-properties-map: (
    opacity: (
        prefix: 'opacity-',
        values: ( $opacity-values )
    ),
);

@include build-property-classes($effect-properties-map, $responsive: true);