@use '../common-tools' as *;
@use 'sass:map';

$effects-properties-map: (
    opacity: (
        prefix: 'opacity-',
        values: $opacity-map
    ),
    box-shadow: (
        prefix: 'shadow-',
        values: $shadow-map
    ),
    // filter: ( prefix: 'blur-', values: $blur-variants, wrapper: 'blur' ),
     // backdrop-filter: ( prefix: 'backdrop-blur-', values: $backdrop-blur-variants )
);

// ============================================================================
// BUILDS
// ============================================================================
@include build-classes($effects-properties-map, $responsive: true);

// fix states
// @include build-classes($effects-properties-map, $responsive: true, $states: (hover));
