@use '../maps_and_variables' as *;
@use '../functions/classes' as *;
@use '../functions/strings' as *;
@use '../mixins/build-system/controllers' as *;
@use 'sass:map';

// prettier-ignore
$flex-properties-map: (
    flex: (
        prefix: 'flex-',
        values: ( 1, 2, ( 'auto': 1 1 auto ), ( 'initial': 0 1 auto ), 'none' ),
    ),
    flex-direction: (
        prefix: 'flex-',
        values: (
            // `flex-col` and `flex-row` are handled in the
            // flex.scss utility file to include the display
            // property as well.
            column-reverse,
            row-reverse
        )
    ),
    flex-grow: (
        prefix: #{$flex-grow-prefix},
        values: ( 0, 1)
    ),
    flex-shrink: (
        prefix: #{$flex-shrink-prefix},
        values: ( 0, 1)
    ),
    flex-wrap: (
        prefix: 'flex-',
        values: ( nowrap, wrap-reverse, wrap )
    ),
    order: (
        property: order,
        prefix: "order-",
        values: $order-map,
    ),
);

// ============================================================================
// COMPOSITE CLASSES
// ============================================================================

// prettier-ignore
$flexbox-composite-classes: (
    flex-col: ( props: ( display: flex, flex-direction: column ) ),
    flex-row: ( props: ( display: flex, flex-direction: row ) ),
    flex-centered: ( props: ( display: flex, align-items: center, justify-content: center ) ),
    flex-vac: ( props: ( display: flex, align-items: center ) ),
    flex-hac: ( props: ( display: flex, justify-content: center ) ),
);

// ============================================================================
// Builds
// ============================================================================

@include build-classes($flex-properties-map, $responsive: true);
@include build-composite-classes($flexbox-composite-classes, $responsive: true);

