// Explicit dependencies
@use '../maps_and_variables' as *;
@use '../functions/classes' as *;
@use '../mixins/build-classes' as *;
@use '../mixins/build-magic-grid' as *;
@use '../mixins/build-magic-classes' as *;
@use 'sass:map';

.grid {
    display: grid;
    gap: #{map.get($gap-map, 'base')};
}

// ============================================================================
// -- GRID PROPERTIES --
// ============================================================================

$grid-properties-map: (
    gap: (
        prefix: 'gap-',
        values: $gap-map,
        unit: 'rem'
    ),
    grid-template-columns: (
        prefix: 'cols-',
        values: $cols-map
    ),
    grid-column: (
        prefix: 'col-span-',
        values: $col-span-map
    )
);

// ============================================================================
// BUILDS
// ============================================================================
@include build-classes($grid-properties-map, $responsive: true);

// -- Magic Classes --
@include build-magic-classes(gap, ($magic-gap-patterns), 'gap');
@include build-magic-grid($magic-grid-patterns);
