@use "../variables" as *;
@use "../mixins/classGenerators" as *;

$gap-sizes: (0, 0.5, 1, 1.25, 1.5, 2, 3, 4, 5) !default;

$grid-properties-map: (
    gap:(
        prefix: "gg-",
        values: $gap-sizes,
        unit: "rem"
    ),
    justify-items: (
        prefix: "justify-items-",
        values: ( center, end, start, stretch )
    ),
    justify-self: (
        prefix: "justify-self-",
        values: ( auto, center, end, start, stretch )
    ),
    place-content: (
        prefix: "place-content-",
        values: ( baseline, center, end, space-around, space-between, space-evenly, start, stretch )
    ),
    place-items: (
        prefix: "place-items-",
        values: ( baseline, center, end, start, stretch )
    ),
    place-self: (
        prefix: "place-self-",
        values: ( auto, center, end, start, stretch )
    )
);

@include generateFromMapOfProperties($grid-properties-map);
