// Explicit dependencies
@use '../maps_and_variables' as *;
@use '../functions/classes' as *;
@use '../functions/strings' as *;
@use '../mixins/build-system/controllers' as *;
@use 'sass:map';

// prettier-ignore
$properties-map: (
    cursor: (
        prefix: 'cursor-',
        values: ( auto, default, grab, grabbing, move, none, not-allowed, pointer, text )
    )
);

// ============================================================================
// Builds
// ============================================================================
@include build-classes($properties-map, $responsive: true);
