@use '../mixins/build-classes' as *;

// prettier-ignore
$properties-map: (
    cursor: (
        prefix: 'cursor-',
        values: ( auto, default, grab, grabbing, move, none, not-allowed, pointer, text )
    )
);

// ============================================================================
// Builds
// ============================================================================
@include build-classes($properties-map, $responsive: true);
