@use '../../build-core' as *;
@use 'sass:map';


// prettier-ignore
$properties-map: (
    cursor: (
        prefix: 'cursor-',
        values: ( auto, default, grab, grabbing, move, none, not-allowed, pointer, text )
    )
);

// ==========================================================================
// Builds
// ==========================================================================
@include build-property-classes($properties-map, $responsive: true);