@use '../common-tools' as *;

// prettier-ignore
$layout-properties-map: (
    float: (
        prefix: "float-",
        values: (left, right, none)
    ),
    overflow: (
        prefix:'overflow-', 
        values: (auto, clip, hidden, scroll, visible)
    ),
    overflow-x: (
        prefix:'overflow-x-', 
        values: (auto, clip, hidden, scroll, visible)
    ),
    overflow-y: (
        prefix:'overflow-y-', 
        values: (auto, clip, hidden, scroll, visible)
    ),
    z-index: (
        prefix: "z-", 
        values: ($z-index-values)
    )
);

@include build-property-classes($layout-properties-map, $responsive: true);
