@use '../common-tools' as *;

// prettier-ignore
$layout-properties-map: (
    float: ( values: (left, right, none) ),
    overflow: ( values: (auto, clip, hidden, scroll, visible) ),
    overflow-x: ( values: (auto, clip, hidden, scroll, visible) ),
    overflow-y: ( values: (auto, clip, hidden, scroll, visible) ),
    position: ( values: $position, prefix: false ),
    z-index: ( prefix: "z-", values: ($z-index-map) ),
    top: ( values: $positional-map, unit: 'rem' ),
    bottom: ( values: $positional-map, unit: 'rem' ),
    left: ( values: $positional-map, unit: 'rem' ),
    right: ( values: $positional-map, unit: 'rem' ),
    inset: ( values: $positional-map, unit: 'rem' ),
);

// ============================================================================
// Builds
// ============================================================================
@include build-classes($layout-properties-map, $responsive: true);
