@use '../maps_and_variables' as *;
@use '../functions/classes' as *;
@use '../functions/strings' as *;
@use '../mixins/build-system/controllers' as *;

// prettier-ignore
$layout-properties-map: (
    float: ( values: (left, right, none) ),
    overflow: ( values: (auto, clip, hidden, scroll, visible) ),
    overflow-x: ( values: (auto, clip, hidden, scroll, visible) ),
    overflow-y: ( values: (auto, clip, hidden, scroll, visible) ),
    position: ( prefix: false, values: (static, absolute, fixed, relative, sticky) ),
    z-index: ( prefix: "z-", values: ($z-index-map) ),
    inset-block-start:  ( prefix: 'top-',    values: $positional-map, unit: 'rem' ),
    inset-block-end:    ( prefix: 'bottom-', values: $positional-map, unit: 'rem' ),
    inset-inline-start: ( prefix: 'left-',   values: $positional-map, unit: 'rem' ),
    inset-inline-end:   ( prefix: 'right-',  values: $positional-map, unit: 'rem' ),
    inset: ( values: $positional-map, unit: 'rem' ),
);

// prettier-ignore
$negative-layout-properties-map: (
    inset-block-start:  ( prefix: '-top',    values: $negative-positional-map, unit: 'rem' ),
    inset-block-end:    ( prefix: '-bottom', values: $negative-positional-map, unit: 'rem' ),
    inset-inline-start: ( prefix: '-left',   values: $negative-positional-map, unit: 'rem' ),
    inset-inline-end:   ( prefix: '-right',  values: $negative-positional-map, unit: 'rem' ),
);

// ============================================================================
// Builds
// ============================================================================
@include build-classes($layout-properties-map, $responsive: true);
@include build-classes($negative-layout-properties-map, $responsive: true);
