@use '../common-tools' as *;
@use 'sass:map';

// prettier-ignore
$margin-properties-map: (
    margin: (
        prefix: #{$margin-identifier},
        values: $margin-map,
        unit: 'rem',
        positions: $logical-position-map
    )
);

// ==========================================================================
// Builds
// ==========================================================================
@include build-property-classes($margin-properties-map, $responsive: true);
@include build-magic-classes(margin, $magic-margin-y, 'my', $position-or-axis: y);
