@use '../common-tools' as *;
@use '../maps_and_variables/config' as *;
@use 'sass:map';

.ends\:rounded-lg:first-child {
    border-end-start-radius: 0.5rem;
    border-start-start-radius: 0.5rem;
}

.ends\:rounded-lg:last-child {
    border-end-end-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
}

// ============================================================================
// Miscellaneous Utilities
// ============================================================================
// Several of these should be added to the main build. They are placed here
// temporarily for quick testing before being integrated into the main build.

.c-py-025 > * {
    padding-block: 0.25rem;
}

.c-py-2 > * {
    padding-block: 2rem;
}

.c-py-3 > * {
    padding-block: 3rem;
}

// ============================================================================
// Aspect Ratio Utilities
// ============================================================================
.aspect-square {
    aspect-ratio: 1 / 1;
}

.aspect-video {
    aspect-ratio: 16 / 9;
}

.aspect-photo {
    aspect-ratio: 4 / 3;
}

.aspect-auto {
    aspect-ratio: auto;
}

// ============================================================================
// Dividers
// ============================================================================
.divide-y > :not(:last-child) {
    border-block-end-width: 1px;
    border-color: var(--border-color, $border-color);
}

.divide-y-gradient > :not(:last-child) {
    border-block-end-width: 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        90deg,
        transparent,
        map.get($oklch-colors, red-200) 35%,
        map.get($oklch-colors, red-300) 50%,
        map.get($oklch-colors, red-200) 65%,
        transparent
    );
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

//
// -----------------------------------
.close {
    color: rgb(199 197 197);
    cursor: pointer;

    &:hover {
        color: rgb(163 69 88);
        cursor: pointer;
    }

    &:active {
        color: rgb(220 20 60);
        cursor: pointer;
    }
}

