@use "../mixins/common" as *;

$opacity-values: (0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1);

// prettier-ignore
$effect-properties-map: (
    opacity: (
        prefix: 'opacity-',
        values: ( $opacity-values )
    ),
);

@include generate-utilities($effect-properties-map);

@each $value in $opacity-values {
    $variant: handle-invalid($value);
    .hover\:opacity-#{$variant}:hover {
        opacity: $value;
    }
}
