@use '../v1/core-imports' as *;
@use "../mixins/generate-magic-classes" as *;
@use "sass:map";

$padding-sizes: map.merge($padding-variants, listToMap($space-rem-sizes));

$padding-properties-map: (
    padding: (
        prefix: #{$padding-identifier},
        values: $padding-sizes,
        unit: "rem",
        positions: $axis-position-map,
        breakpoints: ( "sm", "md", "lg", "xl" ),
    ),
);

@include generate-utilities($padding-properties-map);

// magic classes
$magic-padding-y: ((5, 3, 2), (5, 3, 2, 2), (3, 2, 1)) !default;
@include generate-magic-classes(padding, $magic-padding-y, "py", $position-or-axis: y);


.c-py-025 > * {
    padding-block: 0.25rem;
}
.c-py-3 > * {
    padding-block: 3rem;
}
