@use "../mixins/common" as *;

$position-properties-map: (
    position: (
        values: ( absolute, fixed, relative)
    ),
);

@include generate-utilities($position-properties-map);

// prettier-ignore
.pos {
    &-xy { top: 0; bottom: 0; left: 0; right: 0; }
    &-x { left: 0; right: 0; }
    &-y { top: 0; bottom: 0; }
    &-t { top: 0; }
    &-b { bottom: 0; }
    // reset for flex ?? dd requires to shrink ??
    &-l { left: 0; right: auto; }
    &-r { right: 0; left: auto; }
}
