@use '../common-tools' as *;
@use 'sass:map';

// prettier-ignore
$sizing-properties-map: (
    height: (prefix: "h-", values: map.merge($sizing-map, $sizing-height-variants), unit: "rem"),
    width: (prefix: "w-", values: map.merge($sizing-map, $sizing-width-variants), unit: "rem"),
    max-height: (prefix: "maxh-", values: $sizing-map, unit: "rem"),
    max-width: (prefix: "maxw-", values: $sizing-map, unit: "rem"),
    min-height: (prefix: "minh-", values: $sizing-map, unit: "rem"),
    min-width: (prefix: "minw-", values: $sizing-map, unit: "rem")
);

// NKTD: Update to use build-composite-classes
@each $size in $sizing-rem {
    $class: sanitize-class-name($size);

    .wh-#{$class} {
        width: #{$size}rem;
        height: #{$size}rem;
    }
}

// ==========================================================================
// Builds
// ==========================================================================
@include build-property-classes($sizing-properties-map, $responsive: true);
