@use '../common-tools' as *;
@use 'sass:map';

// prettier-ignore
$sizing-properties-map: (
    height: (prefix: "h-", values: map.merge($sizing-map, $height-map), unit: "rem"),
    width: (prefix: "w-", values: map.merge($sizing-map, $width-map), unit: "rem"),
    max-height: (prefix: "max-h-", values: $sizing-map, unit: "rem"),
    max-width: (prefix: "max-w-", values: $sizing-map, unit: "rem"),
    min-height: (prefix: "min-h-", values: $sizing-map, unit: "rem"),
    min-width: (prefix: "min-w-", values: $sizing-map, unit: "rem")
);

// NKTD: Update to use build-composite-classes
@each $size in $sizing-rem {
    $class: sanitize-class-name($size);

    .min-wh-#{$class} {
        min-height: #{$size}rem;
        min-width: #{$size}rem;
    }

    .wh-#{$class} {
        height: #{$size}rem;
        width: #{$size}rem;
    }
}

// ============================================================================
// Builds
// ============================================================================
@include build-classes($sizing-properties-map, $responsive: true);
