// Explicit dependencies
@use '../maps_and_variables' as *;
@use '../functions/classes' as *;
@use '../functions/strings' as *;
@use '../mixins/build-system/controllers' as *;
@use 'sass:map';


$size-properties-map: (
    height: (prefix: "h-", values: $size-height-map, unit: "rem"),
    min-height: (prefix: "min-h-", values: $size-height-map, unit: "rem"),
    max-height: (prefix: "max-h-", values: $size-height-map, unit: "rem"),
    width: (prefix: "w-", values: $size-width-map, unit: "rem"),
    min-width: (prefix: "min-w-", values: $size-width-map, unit: "rem"),
    max-width: (prefix: "max-w-", values: $size-width-map, unit: "rem"),
);

@each $size in $size-rem {
    $class: sanitize-class-name($size);

    .min-wh-#{$class} {
        min-height: #{$size}rem;
        min-width: #{$size}rem;
    }

    .wh-#{$class} {
        height: #{$size}rem;
        width: #{$size}rem;
    }
}


// ============================================================================
// Builds
// ============================================================================
// prettier-ignore
@include build-classes($size-properties-map, $responsive: true);
