@use '../common-tools' as *;
@use '../maps_and_variables/forms' as *;
@use 'sass:map';

// ============================================================================
// MARGIN & PADDING CONFIGURATION
// ============================================================================
$spacing-properties: (
    margin: (
        prefix: 'm',
        values: $margin-map,
        unit: 'rem',
        positions: $logical-position-map
    ),
    padding: (
        prefix: 'p',
        values: $padding-map,
        unit: 'rem',
        positions: $logical-position-map
    )
);

// prettier-ignore
$spacing-combinator-properties: (
    margin: (
        prefix: 'space-',
        values: map.merge((base: $base-gap), list-to-map($spacing-values)),
        unit: 'rem',
        positions: ( 
            x: ( inline-start ),
            y: ( block-start )
        ),
        child-combinator: true  
    ),
);


$compound-spacing: (
    'p-ctrl-sm': (
        props: (
            padding-block: $ctrl-padding-y-sm,   
            padding-inline: $ctrl-padding-x-sm   
        )   
    ),
    'p-ctrl': (
        props: (
            padding-block: $ctrl-padding-y,   
            padding-inline: $ctrl-padding-x   
        )   
    ),
    'p-ctrl-lg': (
        props: (
            padding-block: $ctrl-padding-y-lg,   
            padding-inline: $ctrl-padding-x-lg   
        )   
    )
) !default;

// ============================================================================
// BUILDS
// ============================================================================

@include build-classes($spacing-properties, $responsive: true);
@include build-classes($spacing-combinator-properties, $responsive: true);
@include build-composite-classes($compound-spacing, $responsive: true);

// negative margin combinator
@include build-classes((
    margin: (
        prefix: '-space-',
        values: (px: -1px),
        positions: ( x: ( inline-start ), y: ( block-start ) ),
        child-combinator: true,
    ),
), $responsive: false);

// magic classes
@include build-magic-classes('padding', $padding-magic-y, 'py', $position-or-axis: y);
@include build-magic-classes('margin', $margin-magic-y, 'my', $position-or-axis: y);
