@use '../common-tools' as *;
@use 'sass:map';

// ============================================================================
// MARGIN & PADDING CONFIGURATION
// ============================================================================
$spacing-properties: (
    margin: (
        prefix: 'm',
        values: $margin-map,
        unit: 'rem',
        positions: $logical-position-map
    ),
    padding: (
        prefix: 'p',
        values: $padding-map,
        unit: 'rem',
        positions: $logical-position-map
    )
);

// prettier-ignore
$spacing-combinator-properties: (
    margin: (
        prefix: 'space-',
        values: map.merge((base: $base-gap), list-to-map($spacing-values)),
        unit: 'rem',
        positions: ( 
            x: ( inline-start ),
            y: ( block-start )
        ),
        child-combinator: true  
    ),
);

// ============================================================================
// BUILDS
// ============================================================================

@include build-property-classes($spacing-properties, $responsive: true);
@include build-property-classes($spacing-combinator-properties, $responsive: true);

// magic classes
@include build-magic-classes('padding', $padding-magic-y, 'py', $position-or-axis: y);
@include build-magic-classes('margin', $margin-magic-y, 'my', $position-or-axis: y);
