// _spacing.scss
@use '../common-tools' as *;

// ==========================================================================
// MARGIN & PADDING CONFIGURATION
// ==========================================================================
$spacing-properties: (
    margin: (
        prefix: #{$margin-identifier},
        values: $margin-map,
        unit: 'rem',
        positions: $logical-position-map
    ),
    padding: (
        prefix: #{$padding-identifier},
        values: $padding-map,
        unit: 'rem',
        positions: $logical-position-map
    )
);

// prettier-ignore
$spacing-combinator-properties: (
    margin: (
        prefix: 'space-',
        values: $spacing-values,
        unit: 'rem',
        positions: ( 
            x: ( inline-start ),
            y: ( block-start )
        ),
        child-combinator: true  
    ),
);

// ==========================================================================
// BUILDS
// ==========================================================================

@include build-property-classes($spacing-properties, $responsive: true);
@include build-property-classes($spacing-combinator-properties, $responsive: true);