@use "../functions/helpers" as *;
@use "../variables" as *;
@use "../mixins/media" as *;

$space-rem-sizes: (0, 0.25, 0.5, 0.75, 1, 1.5, 2);

// these are the base sizes and should be updated to use size variants.
.space-x > *:not(:first-child) {
    margin-left: $content-gap;
}
.space-y > *:not(:first-child) {
    margin-top: $content-gap;
}

@each $value in $space-rem-sizes {
    $variant: #{escapeInvalid($value)};
    .space-x-#{$variant} > *:not(:first-child) {
        margin-left: #{$value}rem;
    }
    .space-y-#{$variant} > *:not(:first-child) {
        margin-top: #{$value}rem;
    }
}



.c-py-5-3-2 > * {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include from-md {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include from-xl {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}


@include from-xl {
    .lg\:space-x > *:not(:first-child) {
        margin-left: 1rem;
    }
}
