@use '../common-tools' as *;
@use '../functions/map-and-list-helpers' as *;
@use '../maps_and_variables/' as *;
@use '../mixins/build-themes' as *;
@use 'sass:map';
@use 'sass:color';

// ============================================================================
// BASIC THEMING SYSTEM
// ============================================================================
$advanced-themes: (
    'danger-light': (
        'base': map.get($oklch-colors, 'red-50'),
        'color': map.get($oklch-colors, 'red-700'),
        'border-color': map.get($oklch-colors, 'red-500')
    ),
    'info-light': (
        'base': map.get($oklch-colors, 'blue-50'),
        'color': map.get($oklch-colors, 'blue-700'),
        'border-color': map.get($oklch-colors, 'blue-500')
    ),
    'warning-light': (
        'base': map.get($oklch-colors, 'yellow-50'),
        'color': map.get($oklch-colors, 'yellow-700'),
        'border-color': map.get($oklch-colors, 'yellow-500')
    ),
    'success-light': (
        'base': map.get($oklch-colors, 'green-50'),
        'color': map.get($oklch-colors, 'green-700'),
        'border-color': map.get($oklch-colors, 'green-500')
    )
);

$themes-map: ();

// Add each color as a theme with 'base' property
@each $color, $value in $color-map {
    // prettier-ignore
    $themes-map: map.set( $themes-map, $color, ( 'base': $value ) );
}

// Merge basic color themes with alert themes and build all
@each $theme-name, $map in map.merge($themes-map, $advanced-themes) {
    @include build-basic-theme($theme-name, $map);
}
