// This is a generic transition that should work in most cases

%transition {
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition {
    @extend %transition;
}
