@use '../common-tools' as *;
@use 'sass:map';

// these variants use a different map and prefix
$typography-variants-map: (
    font-weight: (
        prefix: 'font-',
        values: $font-weight-variants
    )
);

// prettier-ignore
$typography-properties-map: (
    font-size: (
        prefix: "#{$text-prefix}",
        values: $font-size-map,
        unit: "rem"
    ),
    font-style: (
        prefix: "#{$text-prefix}",
        values: ( italic, normal )
    ),
    font-family: (
        prefix: "font-",
        values: (
            serif: ( ui-serif, Georgia, Cambria, "Times New Roman", Times, serif ),
            sans: ( ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ),
            mono: ( ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ),
        )
    ),
    font-weight: (
        prefix: "#{$font-weight-prefix}",
        values: $font-weight-values
    ),
    line-height: (
        prefix: "#{$line-height-prefix}",
        values: ( 1, 1.5, 2 )
    ),
    text-align: (
        prefix: "#{$text-align-prefix}",
        values: ( l: left, r: right, c: center, j: justify )
    ),
    text-decoration: (
        prefix: "#{$text-prefix}",
        values: ( strike: line-through, underline: underline, overline: overline, underline-overline: underline overline )
    ),
    text-transform: (
        prefix: "#{$text-prefix}",
        values: ( upper: uppercase, lower: lowercase, capitalize: capitalize, normal-case: none )
    ),
    white-space: (
        prefix: "whitespace-",
        values: ( normal, nowrap, pre, pre-line, pre-wrap )
    ),
    text-wrap: (
        prefix: "#{$text-prefix}",
        values: ( wrap, balance, nowrap, pretty )
    ),
    list-style-type: (
        prefix: "list-",
        values: (none, disc, decimal, circle, square)
    )
);
$text-classes-map: (
    txt-xs: ( props: ( font-size: 0.75rem, line-height: 1.1 ) ),
    txt-sm: ( props: ( font-size: 0.875rem, line-height: 1.25 ) ),
    txt-base: ( props: ( font-size: 1rem, line-height: 1.5 ) ),
    txt-lg: ( props: ( font-size: 1.125rem, line-height: 1.5 ) ),
    txt-xl: ( props: ( font-size: 1.25rem, line-height: 1.6 ) ),
    txt-xxl: ( props: ( font-size: 1.5rem, line-height: 1.6 ) ),
    lead: ( props: ( font-size: 1.2rem ) )
);

// ============================================================================
// Builds
// ============================================================================
@include build-property-classes($typography-properties-map, $responsive: true);
@include build-property-classes($typography-variants-map, $responsive: true);
@include build-composite-classes($text-classes-map, $responsive: true);
