@use '../mixins/makeResponsiveClassMixins' as *;

$breakpoints: ("sm", "md", "lg", "xl", "xxl");

// ----------------------------------------------------------------
// DISPLAY AND HIDE 'FROM' THE SELECTED SCREEN SIZE
// ----------------------------------------------------------------
@include makeFromBreakpoint((display: block), "block", $breakpoints);
@include makeFromBreakpoint((display: none), "hide", $breakpoints);

// ----------------------------------------------------------------
// DISPLAY AND HIDE 'ON' THE SELECTED SCREEN SIZE
// ----------------------------------------------------------------
@include makeOnBreakpoint((display: block), "block", $breakpoints);
@include makeOnBreakpoint((display: none), "hide", $breakpoints);

// ----------------------------------------------------------------
// DISPLAY AND HIDE 'TO' THE SELECTED SCREEN SIZE
// ----------------------------------------------------------------
@include makeToBreakpoint((display: block), "block", ("sm", "md", "lg", "xl"));
@include makeToBreakpoint((display: none), "hide", ("sm", "md", "lg", "xl"));

// DEPRECATED
.sr-only {
    opacity: 0;
    position: absolute;
}
