@use "../variables" as *;
@use "../mixins/classGenerators" as *;

$flex-grid-properties-map: (
    align-content: (
        values: (
            content-around: space-around,
            content-baseline: baseline,
            content-between: space-between,
            content-center: center,
            content-end: flex-end,
            content-evenly: space-evenly,
            content-normal: normal,
            content-start: flex-start,
            content-stretch: stretch
        )
    ),
    align-items: (
        values: (
            items-baseline: baseline,
            items-center: center,
            items-end: flex-end,
            items-start: flex-start,
            items-stretch: stretch,
            va-b: flex-end,
            va-c: center,
            va-t: flex-start
        )
    ),
    align-self: (
        prefix: "align-self-",
        values: (
            auto,
            baseline,
            center,
            flex-end,
            flex-start,
            stretch
        )
    ),
    flex-direction: (
        prefix: "flex-",
        values: (
            // `flex-col` and `flex-row` are handled in the
            // flex.scss utility file to include the display
            // property as well.
            column-reverse,
            row-reverse
        )
    ),
    flex-wrap: (
        values: (
            nowrap,
            wrap-reverse,
            wrap
        )
    ),
    justify-content: (
        values: (
            ha-c: center,
            ha-l: flex-start,
            ha-r: flex-end,
            justify-around: space-around,
            justify-between: space-between,
            justify-center: center,
            justify-end: flex-end,
            justify-evenly: space-evenly,
            justify-normal: normal,
            justify-start: flex-start,
            justify-stretch: stretch
        )
    ),
    justify-items: (
        prefix: "justify-items-",
        values: (
            center,
            end,
            start,
            stretch
        )
    ),
    justify-self: (
        prefix: "justify-self-",
        values: (
            auto,
            center,
            end,
            start,
            stretch
        )
    ),
    order: (
        property: order,
        prefix: "order-",
        values: (
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8
        )
    ),
    place-content: (
        prefix: "place-content-",
        values: (
            baseline,
            center,
            end,
            space-around,
            space-between,
            space-evenly,
            start,
            stretch
        )
    ),
    place-items: (
        prefix: "place-items-",
        values: (
            baseline,
            center,
            end,
            start,
            stretch
        )
    ),
    place-self: (
        prefix: "place-self-",
        values: (
            auto,
            center,
            end,
            start,
            stretch
        )
    )
);
@include generateFromMapOfProperties($flex-grid-properties-map);
