@use '../../src/build-core' as *;

$spacing-sizes: (0, 0.25, 0.5, 0.75, 1, 1.5, 2, 3, 4, 5);

// these are the base sizes and should be updated to use size variants.
.space-x > *:not(:first-child) {
    margin-left: $content-gap;
}
.space-y > *:not(:first-child) {
    margin-top: $content-gap;
}

@each $value in $spacing-sizes {
    $variant: #{handle-invalid($value)};
    .space-x-#{$variant} > *:not(:first-child) {
        margin-left: #{$value}rem;
    }
    .space-y-#{$variant} > *:not(:first-child) {
        margin-top: #{$value}rem;
    }
}

@include from-xl {
    .lg\:space-x > *:not(:first-child) {
        margin-left: 1rem;
    }
}
