@use '../maps_and_variables/misc' as *;
@use '../maps_and_variables/tailwind-colors' as *;

@each $color-name, $color-map in $tailwind-colors {
    @each $key, $value in $color-map {
        .bg-#{$color-name}-#{$key} {
            background-color: $value;
        }
        .hover\:bg-#{$color-name}-#{$key}:hover {
            background-color: $value;
        }
    }
}

.zebra > *:nth-child(2n + 2):not(.primary):not(.secondary) {
    background: $zebra-alt-bg;
}

.bg-stripes-blue {
    background-color: #60a5fa1a;
    background-image: linear-gradient(135deg, #3b82f680 10%, #0000 0, #0000 50%, #3b82f680 0, #3b82f680 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}

.bg-stripes-pink {
    background-color: #f472b61a;
    background-image: linear-gradient(135deg, #ec489980 10%, #0000 0, #0000 50%, #ec489980 0, #ec489980 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}

.bg-stripes-violet {
    background-color: #a78bfa1a;
    background-image: linear-gradient(135deg, #8b5cf680 10%, #0000 0, #0000 50%, #8b5cf680 0, #8b5cf680 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}