@use '../../v1/core-imports' as *;

// 1. Use capital M in min() function to prevent clash between sass
//    and css. This works because sass is case-sensitive, but CSS is
//    not.

@each $variant, $size in $container-variants {
    $class: strip-invalid(#{$container-identifier}-#{$variant});

    // 95% is a good default for most cases, but this may need to be
    // adjusted for smaller screens.
    .#{$class} {
        width: Min(95%, $size); // 1.
        margin-inline: auto;
    }
}

