@use '../../v1/core-imports' as *;

// prettier-ignore
$grid-properties-map: (
    gap: (
        prefix: "gap-",
        values: $gap-sizes,
        unit: "rem",
    ),
    justify-items: (
        prefix: "justify-items-",
        values: ( center, end, start, stretch ) ),
    justify-self: (
        prefix: "justify-self-",
        values: ( auto, center, end, start, stretch )
    ),
    place-content: (
        prefix: "place-content-",
        values: ( baseline, center, end, space-around, space-between, space-evenly, start, stretch )
    ),
    place-items: (
        prefix: "place-items-",
        values: ( baseline, center, end, start, stretch )
    ),
    place-self: (
        prefix: "place-self-",
        values: ( auto, center, end, start, stretch )
    )
);

@include build-utilities($grid-properties-map, $responsive: true);