@use "sass:list";
@use "sass:map";
@use "sass:string";


@function derivedClass($list) {
    $numBreakPoints: list.length($list);

    $baseValue: nth($list, -1);
    $smValue: nth($list, -2);
    $mdValue: if($numBreakPoints >= 3, nth($list, -3), null);
    $lgValue: if($numBreakPoints >= 4, nth($list, -4), null);
    $xlValue: if($numBreakPoints >= 5, nth($list, -5), null);
    $xxlValue: if($numBreakPoints >= 6, nth($list, -6), null);

    @if ($numBreakPoints == 2) {
        @return #{$smValue}-#{$baseValue};
    } @else if ($numBreakPoints == 3) {
        @return #{$mdValue}-#{$smValue}-#{$baseValue};
    } @else if ($numBreakPoints == 4) {
        @return #{$lgValue}-#{$mdValue}-#{$smValue}-#{$baseValue};
    } @else if ($numBreakPoints == 5) {
        @return #{$xlValue}-#{$lgValue}-#{$mdValue}-#{$smValue}-#{$baseValue};
    } @else if ($numBreakPoints == 6) {
        @return #{$xxlValue}-#{$xlValue}-#{$lgValue}-#{$mdValue}-#{$smValue}-#{$baseValue};
    }
}
