@use "../base/vars_all" as *;
@use "../mixins/positionUtilityClasses" as *;

$border-utilities-map: (
    "border": (
        "base-class": "bdr",
        "values-map": (
            "default": $border,
            "0": none !important,
        ),
        "axis-position-map": $axis-position-map,
    ),
);

$border-widths-map: (
    0: 0px,
    2: 2px,
    3: 3px,
    5: 5px,
) !default;

$border-colors-map: ($color-map) !default;

// --------------------------------------------------------------------------
// -- POSITION BASED BORDERS --
// --------------------------------------------------------------------------

@include positionUtilityClasses($border-utilities-map);

// --------------------------------------------------------------------------
// -- BORDER COLORS --
// --------------------------------------------------------------------------

@each $key, $value in $border-colors-map {
    .bdr-#{$key} {
        border-color: $value;
    }
}

// --------------------------------------------------------------------------
// -- BORDER WIDTHS --
// --------------------------------------------------------------------------
// make sure overrides come after base class

@each $key, $value in $border-widths-map {
    .bdr-#{$key} {
        border-width: $value;
    }
}

// --------------------------------------------------------------------------
// -- BORDER RADIUS --
// --------------------------------------------------------------------------
.bdrr {
    border: $border;
    border-radius: $border-radius;
    &-t {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    &-b {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    &-l {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    &-r {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

// --------------------------------------------------------------------------
// -- REMOVE BORDER --
// --------------------------------------------------------------------------

.bdrr {
    &-0 {
        border-radius: 0;
    }
    &-t-0 {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &-b-0 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &-l-0 {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &-r-0 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.rounded {
    &-none {
        border-radius: 0px;
    }
    &-025 {
        border-radius: 0.25rem;
    }
    &-0375 {
        border-radius: 0.375rem;
    }
    &-05 {
        border-radius: 0.5rem;
    }
    &-075 {
        border-radius: 0.75rem;
    }
    &-1 {
        border-radius: 1rem;
    }
}
