@use "../base/vars_all" as *;
@use "../mixins/makeUtilityClasses" as *;

// Add border radius to map???
$border-utilities-map: (
    "border": (
        "base-class": "bdr",
        "values-map": (
            "default": $border,
        ),
        "axis-position-map": $axis-position-map,
    ),
);

$border-widths-map: (
    1: 1px,
    3: 3px,
    5: 5px,
    10: 10px,
) !default;

$border-colors-map: (
    "orange": var(--orange),
    "red": map-get($color-map, "red"),
    "green": var(--green),
    "blue": var(--blue),
    "primary": $primary,
    "secondary": var(--secondary),
    "success": var(--success),
    "danger": var(--danger),
    "info": var(--info),
) !default;

@include makeUtilityClasses($border-utilities-map);

.divide-y > :not([hidden]) ~ :not([hidden]) {
    border-top: $border;
}


@each $key, $value in $border-widths-map {
    .bdr#{$key} {
        border-width: $value;
    }
}

@each $key, $value in $border-colors-map {
    .bdr-#{$key} {
        border: 1px solid $value;
    }
}

// // // border radius
// // // --------------------------------------------------------------------------
// // .bdrr {
// //     border: $border;
// //     border-radius: $border-radius;
// //     // positions
// //     &-t {
// //         border-top-left-radius: $border-radius;
// //         border-top-right-radius: $border-radius;
// //     }
// //     &-b {
// //         border-bottom-left-radius: $border-radius;
// //         border-bottom-right-radius: $border-radius;
// //     }
// //     &-l {
// //         border-top-left-radius: $border-radius;
// //         border-bottom-left-radius: $border-radius;
// //     }
// //     &-r {
// //         border-top-right-radius: $border-radius;
// //         border-bottom-right-radius: $border-radius;
// //     }
// // }

// // // remove border radius
// // .nbr {
// //     border-radius: 0;
// //     &-t {
// //         border-top-left-radius: 0;
// //         border-top-right-radius: 0;
// //     }
// //     &-b {
// //         border-bottom-left-radius: 0;
// //         border-bottom-right-radius: 0;
// //     }
// //     &-l {
// //         border-top-left-radius: 0;
// //         border-bottom-left-radius: 0;
// //     }
// //     &-r {
// //         border-top-right-radius: 0;
// //         border-bottom-right-radius: 0;
// //     }
// // }
