@use "../base/vars_base" as *;
@use "../mixins/media" as *;
@use "../mixins/makeResponsiveClasses" as *;

$visibility-utilities: (
    "display": (
        "property": "display",
        "prefix": "",
        "values": (
            block: block,
            inline: inline,
            inline-block: inline-block,
            flex: flex,
            inline-flex: inline-flex,
            hidden: none,
        ),
    ),
    "visibility": (
        "property": "visibility",
        "prefix": "",
        "values": (
            visible: visible,
            invisible: hidden,
        ),
    ),
);

@each $property, $map in $visibility-utilities {
    $property: map-get($map, "property");
    $utility-prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $key, $v in $values {
        .#{$utility-prefix}#{$key} {
            #{$property}: $v;
        }
    }
}

// |--\0/-- device-only --\0/--|
// --------------------------------------------------------------------------
.sr-only {
    opacity: 0;
    position: absolute;
    // left: -9000px;
    // top: -9000px;
}

// |--\0/-- DISPLAY --\0/--|
// --------------------------------------------------------------------------
[class*="block-to"],
[class*="block-from"],
[class*="block-on"] {
    display: none;
}

@include makeFromDevice("block-from-", display, block, "sm", "md", "lg", "xl", "xxl");
@include makeOnDevice("block-on-", display, block, "sm", "md", "lg", "xl", "xxl");
@include makeToDevice("block-to-", display, block, "sm", "md", "lg", "xl");

// |--\0/-- HIDE --\0/--|
// --------------------------------------------------------------------------

@include makeFromDevice("hide-from-", display, none, "sm", "md", "lg", "xl", "xxl");
@include makeOnDevice("hide-on-", display, none, "sm", "md", "lg", "xl", "xxl");
@include makeToDevice("hide-to-", display, none, "sm", "md", "lg", "xl");
