.fullwidth {
    width: 100%;
    max-width: 100%;
}

.overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    &:hover {
        color: #303030; // changes icon color
        cursor: pointer;
    }
}

// // to work effectively need to start in pos 0, 0
// .fullpage{
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   height: 100vh;
// }

// .striped > *:nth-of-type(even) {
//   background: rgb(245, 245, 245);
// }
// // add a line to every element except the first one
// .line > *:not(:first-child) {
//   border-top: 1px solid $base-border;
// }
