@use "../base/vars_all" as *;
@use "../mixins/positionUtilityClasses" as *;
@use "../mixins/makeResponsivePositionUtilities" as *;
@use "../mixins/media" as *;

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// Order Matters! basic and responsive utility classes need to
// come after the magic classes to allow them to be overridden
//
// There is no winning here!!! Do you want parent magic classes to
// override utilities or visa versa
//
// put remove at the top???
// --------------------------------------------------------------

// for testing only to override default list
// $rem-sizes-map: (
//     "1": 1rem,
//     "3": 3rem,
//     "5": 5rem,
// );

$spacing-utilities-map: (
    "margin": (
        "base-class": "m",
        "values-map":
            map-merge(
                $rem-sizes-map,
                (
                    "auto": auto,
                    "default": 1.25rem,
                )
            ),
        "xy-suffix": true,
        "axis-position-map": $axis-position-map,
    ),
    "padding": (
        "base-class": "p",
        "values-map":
            map-merge(
                $rem-sizes-map,
                (
                    "default": $content-gap,
                )
            ),
        "xy-suffix": true,
        "axis-position-map": $axis-position-map,
    ),
);

// --------------------------------------------------------------
// -- RESPONSIVE SPACING UTILITIES --
// --------------------------------------------------------------
// NK::TD move the maps to a vars files and set default and merge
//

$padding-x-responsive-sizes: (2, 2, 1), "";
$padding-y-responsive-sizes: (10, 6, 2), "";
@include makeResponsivePositionUtilities("padding", "p", "y", $padding-y-responsive-sizes);
@include makeResponsivePositionUtilities("padding", "p", "x", $padding-x-responsive-sizes);

// --------------------------------------------------------------
// -- MAGIC UTILITIES --
// --------------------------------------------------------------
//
.c-pxy > * {
    padding: 1rem;
}

.c-px-1 > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

// --------------------------------------------------------------
// -- RESPONSIVE PADDING / MARGIN--
// --------------------------------------------------------------
//
.py-5-3-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include from-tablet {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include from-desktop {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.my-5-3-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include from-tablet {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    @include from-desktop {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

// --------------------------------------------------------------
// -- RESPONSIVE MAGIC PADDING --
// --------------------------------------------------------------
//
.c-py-5-3-2 > * {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include from-tablet {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include from-desktop {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

// --------------------------------------------------------------
// -- CONTENT SPACING --
// --------------------------------------------------------------
//

// Padding uses c-p-
// Margin uses space-
.space-y > *:not(:first-child) {
    margin-top: $content-gap;
}

.space-y-0 > *:not(:first-child) {
    margin-top: 0;
}
.space-y-05 > *:not(:first-child) {
    margin-top: 0.5rem;
}
.space-y-1 > *:not(:first-child) {
    margin-top: 1rem;
}
.space-y-2 > *:not(:first-child) {
    margin-top: 2rem;
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

@include from-desktop {
    .lg\:space-x > *:not(:first-child) {
        margin-left: 1rem;
    }
}

.space-x > *:not(:first-child) {
    margin-left: 1rem;
}

.space-x-2 > *:not(:first-child) {
    margin-left: 2rem;
}

.space-mx > * + * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.children-py-05 > * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.children-py-025 > * {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.children-px-1 > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

//
//
//
// ORDER ABOVE IN REVIEW
//
//
//
//

// --------------------------------------------------------------
// -- POSITION BASED UTILITIES --
// --------------------------------------------------------------
// Must built last to ensure override
//

@include positionUtilityClasses($spacing-utilities-map);
