@use "../base/vars_base" as *;
@use "../base/vars_colors" as *;

$text-utilities: (
    "font-weight": (
        "prefix": "fw-",
        "values": (
            4: 400,
            6: 600,
            7: 700,
            9: 900,
        ),
    ),
    "line-height": (
        "prefix": "lh-",
        "values": (
            1: 1,
        ),
    ),
    "text-align": (
        "prefix": "ta",
        "values": (
            "l": left,
            "r": right,
            "c": center,
            "j": justify,
        ),
    ),
    "text-transform": (
        "prefix": "txt-",
        "values": (
            "upper": uppercase,
            "lower": lowercase,
            "capitalize": capitalize,
        ),
    ),
    "text-decoration": (
        "prefix": "txt-",
        "values": (
            "strike": line-through,
            "underline": underline,
            "overline": overline,
            "underline-overline": underline overline,
        ),
    ),
);

.lead {
    font-size: 1.2rem;
}

h1.title {
    font-size: 2.25rem;
}

.title {
    color: $primary;
    font-size: 3.75;
    font-weight: 700;
    line-height: 1.125;
}

.subtitle {
    color: $primary;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.125;
}

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// it is important that utility classes come after more specific
// modifier classes to make sure utilities can be used to override
// styles if required.
//
// For example, the line-height utility class must come after txt-sm
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------

// nav-header is breaking the JTB philosophy but until I find a better place to put it here it is!

$nav-header-color: #333 !default;
$nav-header-font-size: 1.25rem !default;

// $nav-header-bg: #fff !default;
// $nav-header-font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
// $nav-header-font-weight: normal !default;
// $nav-header-font-size: 1rem !default;
// $nav-header-line-height: 1.5 !default;

.nav-header {
    font-size: $nav-header-font-size;
    color: $nav-header-color;
}

.txt {
    // size modifiers
    &-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    &-lg {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    &-xl {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    // colour modifiers
    &-green {
        color: map-get($color-map, "green");
    }

    &-red {
        color: map-get($color-map, "red");
    }

    &-orange {
        color: map-get($color-map, "orange");
    }

    &-blue {
        color: map-get($color-map, "blue");
    }

    &-white {
        color: #fff;
    }

    &-muted {
        color: var(--muted);
    }

    &-primary {
        color: $primary;
    }

    &-secondary {
        color: var(--secondary);
    }
}

//
@each $property, $map in $text-utilities {
    $utility-prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $key, $value in $values {
        .#{$utility-prefix}#{$key} {
            #{$property}: $value;
        }
    }
}
