@use '../v1/functions/color-functions' as *;

$ctrl-border-radius: 0.25rem !default;
$ctrl-border: 1px solid rgba(0, 0, 0, 0.15);

$ctrl-font-size-xs: 0.75rem !default;
$ctrl-font-size-sm: 0.875rem !default;
$ctrl-font-size: 0.875rem !default;
$ctrl-font-size-lg-xl: 1rem !default;

$ctrl-bg-color: #fff !default;
$ctrl-color: text-color($ctrl-bg-color) !default;

$ctrl-padding-x: 0.875rem !default;
$ctrl-padding-y: 0.625rem !default;

$ctrl-line-height: 1.5 !default;

// The control placeholder is the basis for all inputs, buttons and controls

// 1. line height is required to get consistent heights
// 2. creates control and button sizes sm, md, lg
%control {
    border-top: $ctrl-border;
    border-bottom: $ctrl-border;
    border-left: $ctrl-border;
    border-right: $ctrl-border;
    border-radius: $ctrl-border-radius;
    line-height: $ctrl-line-height; // 1
    display: inline-flex;
    align-items: center;
    position: relative;
    background-color: $ctrl-bg-color;
    color: $ctrl-color;
    max-width: 100%; // prevent overflow

    font-size: $ctrl-font-size;

    padding-inline: $ctrl-padding-x;
    padding-block: $ctrl-padding-y;

    // this is ok for now but i think the input and buttons should
    // be separated, they really should have different x padding values
    &.xs {
        font-size: $ctrl-font-size-xs;
        line-height: 1rem;
        padding-block: 0.25rem;
        padding-inline: 0.5rem;
    }

    &.sm {
        font-size: $ctrl-font-size-sm;
        padding-block: 0.375rem;
        padding-inline: 0.75rem;
        line-height: $ctrl-line-height;
    }

    &.lg {
        font-size: $ctrl-font-size-lg-xl;
        padding-block: 0.75rem;
        padding-inline: 1.25rem;
        line-height: 1.5rem;
    }

    &.xl {
        font-size: $ctrl-font-size-lg-xl;
        padding-block: 0.875rem;
        padding-inline: 1.5rem;
        line-height: 1.5rem;
    }

}
