.file {
    align-items: center;
    align-self: flex-start; // prevent stretching
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
    user-select: none;

    // bring to front and hide default input
    input[type="file"] {
        inset: 0;
        margin: 0;
        opacity: 0;
        outline: none;
        pointer-events: none; // ignore pointer events and allow parent to use pointer
        position: absolute;
    }
}
