@use "../variables/base" as *;

@use "sass:math";

// ==========================================================================
// -- TOGGLE SWITCH --
// ==========================================================================
// Variables:
// - $toggle-height: The height of the toggle switch.
//
// - $toggle-width: The width of the toggle switch, which is twice the height.
//
// - $toggle-ball-size: The size of the ball within the toggle switch. It's
//   calculated by subtracting a value from the toggle height to create a gap
//   at the top and bottom of the ball.
//
// - $toggle-padding: The padding around the slider. It's calculated based on
//   the toggle height and ball size to create a gap at the left and right of
//   the ball when it's in its default (unchecked) position.
//

$toggle-height: 1.75rem;
$toggle-width: $toggle-height * 2;
$toggle-ball-size: $toggle-height - 0.5rem;
$toggle-padding: math.div($toggle-height - $toggle-ball-size, 2);

$toggle-off-bg: rgb(229, 231, 235) !default;
$toggle-on-bg: $primary !default;
$toggle-ball-bg: rgb(253, 253, 253) !default;

.toggle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: relative;
        cursor: pointer;
        width: $toggle-width;
        height: $toggle-height;
        background-color: $toggle-off-bg;
        transition: 0.4s;
        border-radius: $toggle-height;
        padding: $toggle-padding;
        margin-right: 0.5rem;

        &:before {
            position: absolute;
            content: "";
            height: $toggle-ball-size;
            width: $toggle-ball-size;
            background-color: $toggle-ball-bg;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input:checked + .slider {
        background-color: $toggle-on-bg;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
        transform: translateX($toggle-width - $toggle-ball-size - 2 * $toggle-padding);
    }

}
