$container-tablet: 720px !default;
$container-desktop: 960px !default;
$container-widescreen: 75em !default; // 1200px

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative; // just make it so!

  // @include mobile-only {
  //   padding: $content-gap;
  // }
  
}

@media screen and (min-width: $tablet) {
  .container {
    max-width: $container-tablet;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    max-width: $container-desktop;
  }
}

@media screen and (min-width: $widescreen) {
  .container {
    max-width: $container-widescreen;
  }
}
