@use "../mixins/media" as *;
@use "../base/vars_base" as *;

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// This grid systems will be depreciated over time so do not add
// any new classes in this style sheet.
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------

$grid-gutter: 0.75rem;
$stack-on-device: $mobile-portrait;

// |--\0/-- Column Width Map --\0/--|
$col-widths: (
    8: 8.3333%,
    10: 10%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    33: 33.3333%,
    40: 40%,
    50: 50%,
    60: 60%,
    66: 66.6666%,
    70: 70%,
    75: 75%,
    80: 80%,
    85: 85%,
    90: 90%,
    100: 100%,
);

.row {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
    &.mm {
        margin-left: 0;
        margin-right: 0;
    }
}

// columns stack and will not flex until min-size
// 1. columns will wrap when past 100%
@media screen and (min-width: $stack-on-device), print {
    .row {
        display: flex;
        flex-wrap: wrap; // 1
    }
}

.col {
    display: block;
    flex-basis: 0; // initial width
    flex-grow: 1; // can grow
    flex-shrink: 1; // can shrink
}

// apply gutter to all column classes
[class*="col-"] {
    padding: $grid-gutter;
}

// Base classes (non responsive)
// for each width in col-widths
@each $column, $width in $col-widths {
    // create class .col-breakpoint-width
    .col-#{$column} {
        flex: 0 0 $width;
        max-width: $width;
    }
}

// for each breakpoint (xs, sm, etc ...) in breakpoints
@each $breakpoint, $size in $breakpoints {
    // create a media query with min-width of $size
    @media (min-width: $size) {
        // for each width in col-widths
        @each $column, $width in $col-widths {
            // create class .col-breakpoint-width
            .col-#{$breakpoint}-#{$column} {
                flex: 0 0 $width;
                max-width: $width;
            }
        }
    }
}
