@use "../variables" as *;

$accordion-bg: rgb(245, 245, 245) !default;
$accordion-border: $border !default;
$accordion-hover-bg: darken($accordion-bg, 5%) !default;

// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------
// These styles are for the CSS accordion.
// You should focus the accordion behaviour and limit opinionated
// styles to make it easier to apply utility classes.
// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------

// style the toggle
:where(.accordion label) {
    font-weight: bold;
}

.accordion {
    overflow: hidden;
    border: $border;

    // override label margin
    label.accordion-title{
        margin: 0;
    }

    // title and label are used to toggle the accordion
    &-title,
    label {
        width: 100%;
        transition: 0.3s;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: $accordion-bg;
        cursor: pointer;

        &:hover {
            background: $accordion-hover-bg;
        }
        /* Icon */
        &::after {
            content: "\276F";
            text-align: center;
            transition: all 0.3s;
        }
    }

    &-content {
        padding: 0 1em;
        max-height: 0;
        transition: all 0.3s;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        font-size: 0.75em;
        cursor: pointer;
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
        // checked toggles open and closed
        &:checked {
            + label {
                background: $accordion-hover-bg;
                &::after {
                    transform: rotate(90deg);
                }
            }
            ~ .accordion-content {
                max-height: 999vh; // prevent cutting off content
                padding: 1em;
            }
        }
    }

    .active {
        content: "\276F";
        text-align: center;
        transition: all 0.3s;
        &::after {
            transform: rotate(90deg);
        }
    }
}

// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------
// This is only used in an alpine accordion and will be DEPRECIATED
// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------

.accordion-body {
    display: block;
    overflow: hidden;
    border-radius: 0;

    > div {
        &:hover {
            background-color: rgba(250, 221, 230, 0.15);
        }
    }
}
