@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/typography' as *;
@use 'sass:color';

$accordion-color: $text-color !default;
$accordion-font-size: $font-size !default;
$accordion-font-weight: 600 !default;
$accordion-bg: rgb(245 245 245) !default;
$accordion-border: $border !default; // entire accordion border
$accordion-padding: 1rem !default; // entire accordion border

$accordion-hover-bg: color.adjust($accordion-bg, $lightness: -5%) !default;

// ============================================================================
// -- GENERIC ACCORDION STYLES --
// ============================================================================
// These styles provide the basic structure for the accordion and work
// with both the CSS and Alpine versions.

.accordion {
    border: $accordion-border;
    overflow: hidden;

    &-title {
        background: $accordion-bg;
        color: $accordion-color;
        cursor: pointer;
        display: flex;
        font-size: $accordion-font-size;
        font-weight: $accordion-font-weight;
        justify-content: space-between;
        padding: $accordion-padding;
        transition: 0.3s;
        width: 100%;

        &:hover {
            background: $accordion-hover-bg;
        }

        &::after {
            content: '\276F';
            text-align: center;
            transition: all 0.3s;
        }
    }

    // this class should only be used in the CSS version
    &-content {
        max-height: 0; // hide content when using CSS
        padding: 0 $accordion-padding;
        transition: all 0.3s;
    }

    //     &-close {
    //         display: flex;
    //         justify-content: flex-end;
    //         font-size: 0.75em;
    //         cursor: pointer;
    //     }

    //     .active {
    //         content: '\276F';
    //         text-align: center;
    //         transition: all 0.3s;
    //         &::after {
    //             transform: rotate(90deg);
    //         }
    //     }
}

// ============================================================================
// -- CSS ACCORDION STYLES --
// ============================================================================
// These styles are specific to the CSS accordion.

// use :where to lower specificity allowing for easier customization
:where(.accordion) {
    // This is a problem when you want to use an input inside the accordion. You
    // will need to manually set the position, opacity, and z-index to get the
    // input to appear.
    input {
        opacity: 0;
        position: absolute;
        z-index: -1;

        // checked toggles open and closed
        &:checked {
            + label {
                background: $accordion-hover-bg;

                &::after {
                    transform: rotate(90deg);
                }
            }

            ~ .accordion-content {
                max-height: 999vh; // prevent cutting off content
                padding: 1em;
            }
        }
    }
}