$banner-height: 450px !default;
$banner-bg: transparent !default;
$banner-text-bg: transparent !default;

.banner {
    background-color: $banner-bg;
    background-position: right center;
    background-repeat: no-repeat;
    height: $banner-height;

    // banner-text is the wrapper
    &-text {
        // color: white;
        background-color: $banner-text-bg;
        padding: 1rem;
    }
}
