@use '../variables/components' as *;
@use '../functions/colorFunctionsOld' as *;
@use '../v1/functions/color-functions' as *;

%box {
    padding: $bx-padding;
    border-radius: $bx-border-radius;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    background-color: $bx-bg;
    color: text-color($bx-bg);
}

.bx {
    @extend %box;
    overflow: hidden; // prevent image from overflowing when using border-radius
    // remove margin from any first element in a box to allow box padding to do the work
    & > *:first-child {
        margin-top: 0;
    }

    &-title {
        font-size: $bx-title-font-size;
        font-weight: $bx-title-font-weight;
        line-height: 1.2;
    }
}

// 1. remove side margins to align content to the outer bx. This allows
//    different bg colours can be applied to individual sections

.bx-header,
.bx-footer {
    margin-left: -$bx-padding; // 1
    margin-right: -$bx-padding; // 1
    margin-right: -$bx-padding; // 1
    padding: 0.75rem $bx-padding;
}

.bx-header {
    margin-top: -$bx-padding !important;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: $bx-border-radius $bx-border-radius 0 0;
    border-left: none;
}

.bx-footer {
    margin-bottom: -$bx-padding !important;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 0 0 $bx-border-radius $bx-border-radius;
}

:where(.bx-header + .bx-content) {
    padding: $bx-padding;
    margin-bottom: -$bx-padding;
    margin-left: -$bx-padding;
    margin-right: -$bx-padding;
}

