@use '../maps_and_variables/components' as *;
@use '../functions/color-functions' as *;

%box {
    background-color: $bx-bg;
    border: 1px solid rgb(0 0 0 / 12.5%);
    border-radius: $bx-border-radius;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 10%);
    color: text-color($bx-bg);
    padding: $bx-padding;
}

.bx {
    @extend %box;

    // overflow: hidden; // prevent image from overflowing when using border-radius

    & > *:first-child {
        margin-block-start: 0;
    }

    &-title {
        font-size: $bx-title-font-size;
        font-weight: $bx-title-font-weight;
        line-height: 1.2;
    }
}

// 1. remove side margins to align content to the outer bx. This allows
//    different bg colours can be applied to individual sections

.bx-header,
.bx-footer {
    margin-inline: -$bx-padding; // 1
    padding: 0.75rem $bx-padding;
}

.bx-header {
    border-bottom: 1px solid;
    border-color: rgb(0 0 0 / 15%);
    border-left: none;
    border-radius: $bx-border-radius $bx-border-radius 0 0;
    margin-block-start: -$bx-padding !important;
}

.bx-footer {
    border-color: rgb(0 0 0 / 15%);
    border-radius: 0 0 $bx-border-radius $bx-border-radius;
    border-top: 1px solid;
    margin-block-end: -$bx-padding !important;
}

:where(.bx-header + .bx-content) {
    margin-block-end: -$bx-padding;
    margin-inline: -$bx-padding;
    padding: $bx-padding;
}
