@use '../maps_and_variables/components' as *;
@use '../maps_and_variables/value-maps' as *;
@use '../functions/color-functions' as *;
@use 'sass:map';

%box {
    background-color: $bx-bg;
    border: 1px solid rgb(0 0 0 / 2.5%);
    border-radius: var(--box-border-radius);
    box-shadow: map.get($shadow-map, sm);
    color: text-color($bx-bg);
    padding: $bx-padding;
}

.bx {
    @extend %box;

    & > *:first-child {
        margin-block-start: 0;
    }

    &-title {
        font-size: var(--box-title-font-size);
        font-weight: var(--box-title-font-weight);
        line-height: var(--box-title-line-height);
    }
}

.bx-header,
.bx-footer {
    margin-inline: -$bx-padding;
    padding: 0.75rem var(--box-padding);
}

.bx-header {
    border-bottom: 1px solid;
    border-color: var(--box-border-color);
    border-left: none;
    border-radius: var(--box-border-radius) var(--box-border-radius) 0 0;
    margin-block-start: -$bx-padding !important;
}

.bx-footer {
    border-color: var(--box-border-color);
    border-radius: 0 0 var(--box-border-radius) var(--box-border-radius);
    border-top: 1px solid;
    margin-block-end: -$bx-padding !important;
}

:where(.bx-header + .bx-content) {
    margin-block-end: -$bx-padding;
    margin-inline: -$bx-padding;
    padding: $bx-padding;
}
