@use '../forms/control' as *;
@use '../functions/color-functions' as *;
@use '../maps_and_variables/colors' as *;
@use '../maps_and_variables/components' as *;
@use '../maps_and_variables/config' as *;
@use '../maps_and_variables/form-controls' as *;
@use '../utilities/transition' as *;

// ============================================================================
// -- BASE BUTTON --
// ============================================================================
// Extends %control and %transition
// Neutral base, ready for utilities or theme overrides

.#{$button-prefix} {
    @extend %control;

    background: $btn-bg;
    color: $btn-color;
    font-weight: 600;
    gap: 0.5rem; // spacing for icons
    justify-content: center;
    padding-inline: 1.25rem;
    text-align: center;
    text-transform: $btn-text-transform;
    white-space: nowrap;

    &:not(:disabled, .disabled) {
        cursor: pointer;
    }

    &:disabled,
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    // ICON SUPPORT
    > svg,
    > i {
        flex-shrink: 0; // prevent the icon from shrinking when button resizes or text wraps
        height: 1em; // match the icon height to the button's font-size for automatic scaling
        width: 1em; // match the icon width to the button's font-size for consistent sizing
    }

    // ICON-ONLY BUTTON
    &.icon-only {
        line-height: 0; // remove extra vertical height
        padding-inline: $ctrl-padding-y; // make horizontal = vertical for square
    }

    &.xs.icon-only {
        padding-inline: $ctrl-padding-y-xs;
    }

    &.sm.icon-only {
        padding-inline: $ctrl-padding-y-sm;
    }

    &.lg.icon-only {
        padding-inline: $ctrl-padding-y-lg;
    }

    &.xl.icon-only {
        padding-inline: $ctrl-padding-y-xl;
    }

    // @include hover($btn-bg);
    // @include active($btn-bg);
}

// ============================================================================
// -- THEMES AND VARIATIONS --
// ============================================================================

// @each $key, $color in $color-map {
//     .#{$button-prefix}.#{$key} {
//         @include hover($color);
//         @include active($color);
//     }
// }


// @use '../src/functions/color-functions' as *;
// @use 'sass:color';

// @mixin hover($color, $by: 10%) {
//     &:hover {
//         @content;

//         background-color: color.adjust($color, $lightness: $by);
//         color: text-color($color);
//     }
// }

// @mixin active($color, $by: 5%) {
//     &:active {
//         @content;

//         background-color: color.adjust($color, $lightness: -$by);
//         color: text-color($color);
//     }
// }