@use '../maps_and_variables/config' as *;
@use './box' as *;

.#{$dropdown-prefix} {
    position: relative;

    &-content {
        left: 0;
        min-width: 12rem;
        opacity: 0;
        position: absolute;
        top: calc(100%);
        transform: translateY(-2em);
        transition:
            all 0.1s ease-in-out 1s,
            visibility 0s linear 0.1s,
            z-index 0s linear 0.01s;
        visibility: hidden;
        z-index: 1000;
    }

    // set content visible and bring to the top
    &:focus .#{$dropdown-prefix}-content,
    &:focus-within .#{$dropdown-prefix}-content,
    &:hover .#{$dropdown-prefix}-content {
        opacity: 1;
        transform: translateY(0%);
        transition-delay:
            0s, 0s, 0.1s; // this removes the transition delay so the menu will be visible while the other styles transition

        visibility: visible;
    }
}

.dropdown {
    background: rgb(255 255 255);
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
    left: 0;
    margin-top: 0.25rem;
    min-width: 10rem;
    position: absolute;
    top: 100%;
    z-index: 10;
}
