@use "../variables" as *;
@use "./box" as *;

.#{$dropdown-identifier} {
    position: relative;

    &-content {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-2em);
        top: calc(100%);
        left: 0;
        transition: all 0.1s ease-in-out 1s, visibility 0s linear 0.1s, z-index 0s linear 0.01s;
        z-index: 1000;
        min-width: 12rem;
    }

    // set content visible and bring to the top
    &:focus .#{$dropdown-identifier}-content,
    &:focus-within .#{$dropdown-identifier}-content,
    &:hover .#{$dropdown-identifier}-content {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.1s; // this removes the transition delay so the menu will be visible while the other styles transition
    }
}
