@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/components' as *;
@use '../maps_and_variables/config' as *;

.#{$icon-prefix} {
    flex-shrink: 0; // so icons don't collapse in flex containers
    height: $icon-size;
    width: $icon-size;

    @each $key, $value in $icon-sizes {
        &.#{$key} {
            height: $value;
            width: $value;
        }
    }
}



.icon-sm { --icon-size: 1rem; }
.icon-md { --icon-size: 1.25rem; }
.icon-lg { --icon-size: 1.5rem; }
.icon-xl { --icon-size: 2rem; }