@use '../maps_and_variables/components' as *;

// ============================================================================
// -- TICK ICON LIST --
// ============================================================================
//

.icon-list {
    // leave as fallback?
    //     list-style: none;
    ul {
        margin-inline-start: 0;
    }

    :where(svg) {
        margin-inline-end: 1rem;
    }

    & li {
        align-items: center;
        background-position: left center;
        background-repeat: no-repeat;
        display: flex;
        padding-block: 0.25rem;
    }

    &.tick-svg li {
        background-image: $icon-tick;
        padding-inline-start: 2rem;
    }
}
