.spinner {
    --size: 2.5rem;
    --thickness: 0.08;

    animation: spin 1.5s linear infinite;
    border: calc(var(--size) * var(--thickness)) solid #f3f3f3;
    border-radius: 50%;
    border-top: calc(var(--size) * var(--thickness)) solid #3498db;
    height: var(--size);
    width: var(--size);

    &.sm {
        --size: 1.25rem;
    }

    &.lg {
        --size: 5rem;
    }

    &.thick {
        --thickness: 0.15;
    }
}

.loader-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .spinner {
        animation: spin 1.5s linear infinite;
        border: 4px solid rgb(255 255 255 / 30%);
        border-radius: 50%;
        border-top-color: #fff;
        height: 60px;
        margin: 0 auto 20px;
        width: 60px;
    }

    .loading-text {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .dots {
        display: inline-block;
        text-align: left;
        width: 20px;

        &::after {
            animation: dots 1.5s steps(4, end) infinite;
            content: '';
        }
    }
}