@use '../functions/color-functions' as *;
@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/components' as *;


.menu {
    display: flex;
    flex-flow: column wrap;
    line-height: 1.25;
    list-style: none;
    margin-left: 0; // remove margin for ul

    li {
        margin: 0;
    }

    :where(a, li a, .menu-item) {
        align-items: center;
        color: inherit;
        display: flex;
        padding: $menu-padding-y $menu-padding-x;

        &:is(.active, :hover):not(.disabled) {
            background-color: $menu-hover-bg;
            color: $menu-link-hover-color;
            cursor: pointer;
        }
    }

    .menu-title {
        font-weight: 600;
        letter-spacing: 0.05em;
        margin-bottom: 0.5em;
        margin-left: $menu-padding-x;

        &:not(:first-child) {
            margin-top: $base-gap;
        }
    }
}
