@use '../functions/color-functions' as *;
@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/components' as *;
@use '../mixins/transition' as *;

// ============================================================================
// -- MENU COMPONENT --
// ============================================================================
// The .menu-title, .menu-link, etc. selectors are included to improve clarity
// and make overrides easier; they are optional and not required for core
// functionality.

%menu-link {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 0.875rem;
    gap: 0.75rem;
    padding: $menu-padding-y $menu-padding-x;
    width: 100%; // buttons need this, doesn't hurt links

    @include transition(background-color color);

    &:is(.active, :hover, :focus-visible):not(.disabled, :disabled) {
        background-color: $menu-hover-bg;
        color: $menu-link-hover-color;
    }
}

.menu-link {
    @extend %menu-link;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;

    :where(a, li a, button) {
        @extend %menu-link;
    }

    // Targets the BUTTON itself (if it has a sibling <ul> after it)
    button:has(+ ul) {
        justify-content: space-between;
    }

    // Targets the UL (that comes immediately after a <button>)
    button + ul {
        margin-inline-start: $menu-padding-x;
    }

    button:has(span > svg) + ul {
        margin-inline-start: calc($menu-icon-size + $menu-padding-x);
    }

    // Icon and text wrapper - aligns icon with text, adds gap between them.
    // Typically used in parent menu items that have a submenu (and thus a
    // chevron icon).
    :where(.menu-icon, span:has(> svg)) {
        align-items: center;
        display: flex;
        gap: 0.75rem;
    }

    :where(svg) {
        height: $menu-icon-size;
        width: $menu-icon-size;
    }
}

.menu-title {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-block-end: 0.5em;
    margin-inline-start: $menu-padding-x;

    &:not(:first-child) {
        margin-block-start: $base-gap;
    }
}

.chevron {
    @include transition(transform);
}

.chevron.open {
    transform: rotate(180deg);
}
