@use '../functions/color-functions' as *;
@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/components' as *;
@use '../mixins/transition' as *;

// ============================================================================
// -- MENU COMPONENT --
// ============================================================================
// The .menu-title, .menu-link, etc. selectors are included to improve clarity
// and make overrides easier; they are optional and not required for core
// functionality.

.menu {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;

    :where(.menu-link, a, li a, button) {
        align-items: center;
        border-radius: $menu-item-border-radius;
        color: inherit;
        display: flex;
        gap: 0.75rem; // space between icon and text
        padding: $menu-padding-y $menu-padding-x;
        width: 100%; // buttons need this, doesn't hurt links

        @include transition(background-color color);

        &:is(.active, :hover, :focus-visible):not(.disabled, :disabled) {
            background-color: $menu-hover-bg;
            color: $menu-link-hover-color;
        }
    }

    // Targets the BUTTON itself (if it has a sibling <ul> after it)
    button:has(+ ul) {
        justify-content: space-between;
    }

    // Targets the UL (that comes immediately after a <button>)
    button + ul {
        margin-inline-start: $menu-padding-x;
    }

    button:has(span > svg) + ul {
        margin-inline-start: calc($menu-icon-size + $menu-padding-x);
    }

    // Icons container
    :where(.menu-icon, span:has(> svg)) {
        align-items: center;
        display: flex;
        gap: 0.75rem;
    }

    :where(svg) {
        height: $menu-icon-size;
        width: $menu-icon-size;
    }
}

.menu-title {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-block-end: 0.5em;
    margin-inline-start: $menu-padding-x;

    &:not(:first-child) {
        margin-block-start: $base-gap;
    }
}
