.close {
    color: rgb(199, 197, 197);
    cursor: pointer;
    height: 1rem;
    width: 1rem;

    &:hover {
        color: rgb(163, 69, 88);
        cursor: pointer;
    }
    &:active {
        color: rgb(220, 20, 60);
        cursor: pointer;
    }
}
