@use '../maps_and_variables/components' as *;

.navbar,
.navbar > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar {
    background: $navbar-bg;
    padding: $navbar-padding-y $navbar-padding-x;

    .menu {
        flex-direction: row;
        gap: 0.5rem;
    }
    
    .nav-item {
        color: $navbar-nav-item-color;
        font-weight: $navbar-nav-font-weight;
        
        // not sure i want these or just use utility. 
        // padding: $navbar-nav-padding-y $navbar-nav-padding-x;
        // background: $navbar-nav-item-bg;

        &:hover:not(.disabled, :disabled, [aria-disabled]) {
            // background: $navbar-nav-hover-bg;
            color: $navbar-nav-hover-color;
        }

        &:is(.active, [aria-current]):not(.disabled, :disabled, [aria-disabled]) {
            background: $navbar-nav-active-bg;
            color: $navbar-nav-active-color;
        }

        &:focus-visible:not(.disabled, :disabled, [aria-disabled]) {
            color: $navbar-nav-active-color;
            outline: none;
        }
    }
}
