@use '../maps_and_variables/components' as *;

.navbar,
.navbar > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.navbar {
    background: $navbar-bg;
    padding: $navbar-padding-y $navbar-padding-x;
    position: relative;

    // // Override menu for horizontal layout
    // .menu {
    //     flex-direction: row;

    //     :where(.menu-item, a, li a, button) {
    //         background: $navbar-nav-item-bg;
    //         color: $navbar-nav-item-color;
    //         padding: $navbar-nav-padding-y $navbar-nav-padding-x;
    //         width: auto;

    //         &:is(.active, :hover, :focus-visible):not(.disabled, :disabled) {
    //             background: $navbar-nav-hover-bg;
    //             color: $navbar-nav-hover-color;
    //         }

    //         &:active {
    //             background: $navbar-nav-active-bg;
    //             color: $navbar-nav-active-color;
    //         }
    //     }

    //     // Dropdowns should be vertical and positioned absolutely
    //     button + ul {
    //         flex-direction: column;
    //         position: absolute;
    //     }
    // }
}
