@use '../maps_and_variables/components' as *;

.navbar {
    background: var(--navbar-bg);
    padding: var(--navbar-padding-y) var(--navbar-padding-x);
}

.navbar,
.navbar > .container {
    align-items: center;
    display: flex;

    // font-weight: 500; // leave for no and work out override for menu
    justify-content: space-between;

    > ul > li {
        margin-block-start: 0;
    }

    // button + div > .menu to avoid affecting nested dropdown menus
    :where(.menu):not(button + div > .menu) {
        flex-direction: row;
        gap: 0.5rem;
        margin-block: 0;
    }
}
