@use '../maps_and_variables/components' as *;

.navbar,
.navbar > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar {
    background: $navbar-bg;
    padding: $navbar-padding-y $navbar-padding-x;

    > ul > li {
        margin-block-start: 0;
    }

    .menu {
        flex-direction: row;
        gap: 0.5rem;
        margin: 0;
    }
}

// .nav-item {
//     background: $navbar-nav-item-bg;
//     color: $navbar-nav-item-color;
//     font-weight: $navbar-nav-font-weight;
//     padding: $navbar-nav-padding-y $navbar-nav-padding-x;

//     &:hover:not(.disabled, :disabled, [aria-disabled]) {
//         // background: $navbar-nav-hover-bg;
//         color: $navbar-nav-hover-color;
//     }

//     &:is(.active, [aria-current]):not(.disabled, :disabled, [aria-disabled]) {
//         background: $navbar-nav-active-bg;
//         color: $navbar-nav-active-color;
//     }

//     &:focus-visible:not(.disabled, :disabled, [aria-disabled]) {
//         color: $navbar-nav-active-color;
//         outline: none;
//     }
// }
