@use '../maps_and_variables/config' as *;

.overlay {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    background: #000000b3;
    z-index: 30;
}

// ==========================================================================
// -- Icon Button --
// ==========================================================================

.icon-button {
    text-align: center;
    position: relative;
    padding: 1rem 1.5rem;

    &:not(a) {
        cursor: default;
    }

    .#{$icon-identifier} {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0;
    }

    .dd-content {
        text-align: left;
    }
}

// this is intended to be a round notification badge
:where(.round-badge) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    font-size: 0.75rem;
}
