@use '../maps_and_variables/config' as *;

.overlay {
    backdrop-filter: blur(2px);
    background: rgb(0 0 0 / 70%);
    inset: 0;
    margin: 0;
    overflow-y: auto;
    position: fixed;
    z-index: 500;;
}

// ============================================================================
// -- Badge --
// ============================================================================

.badge{
    border-radius: 999rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
}

// ============================================================================
// -- Icon Button --
// ============================================================================

.icon-button {
    padding: 1rem 1.5rem;
    position: relative;
    text-align: center;

    &:not(a) {
        cursor: default;
    }

    .#{$icon-prefix} {
        height: 1.5rem;
        padding: 0;
        width: 1.5rem;
    }

    .dd-content {
        text-align: left;
    }
}

// this is intended to be a round notification badge
:where(.round-badge) {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    font-size: 0.75rem;
    height: 1.375rem;
    justify-content: center;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 1.375rem;
}
