.tabs {
    border-block-end: 1px solid #e5e7eb;
    display: flex;
    gap: 1rem;
}

.tab-btn {
    border-bottom-width: 2px;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition:
        color 0.3s,
        border-color 0.3s;
}

.tab-active {
    border-color: #4f46e5;
    color: #4f46e5;
}

.tab-inactive {
    border-color: transparent;
    color: #6b7280;
}

.tab-inactive:hover {
    color: #374151;
}
