:root {
    // ========================================================================
    // -- Tabs --
    // ========================================================================
    --tab-text-color: var(--text-color);
    --tab-text-active-color: var(--primary);
    --tab-text-inactive-color: var(--primary);
    --tab-text-inactive-hover-color: var(--accent);
}

.tabs {
    //     border-block-end: 1px solid #e5e7eb;
    //     display: flex;
    //     gap: 1rem;
    > button {
        border-bottom-width: 3px;
        color: var(--gray-600);
        padding: 0.75rem 1rem;
        transition:
            color 0.3s,
            border-color 0.3s;
    }

    .active {
        border-color: var(--primary);
        color: var(--primary);
        font-weight: var(--font-medium);
    }

    .inactive {
        border-color: transparent;

        &:hover {
            color: var(--accent);
        }
    }
}
