$accordion-bg: rgb(245, 245, 245) !default;

.accordion {
    border: 1px solid;
    margin-top: 1rem;
}

.accordion-toggle {
    background-color: $accordion-bg;
    color: #444;
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

// Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
.accordion-active,
.accordion-toggle:hover {
    background-color: rgb(230, 230, 230);
}

.accordion-body {
    display: block;
    overflow: hidden;
    border-radius: 0;

    > div {
        border-top: none;
        &:hover {
            background-color: rgba(250, 221, 230, 0.15);
        }
    }
}
