@use "../base/vars_colors" as *;
@use "../functions/setTextColor" as *;
@use "../base/vars_base" as *;

// --------------------------------------------------------------------------
// Variables
// --------------------------------------------------------------------------

$bx-bg: #fff !default;
$bx-padding: $content-gap !default;
$bx-border-radius: 0.25rem !default;

$bx-header-bg: rgb(250, 250, 250) !default;
$bx-title-font-weight: 600 !default;
$bx-title-font-size: 1.2rem !default;

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// base background and font color can be specified because the
// theme function has been included to specifically override them.
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------

.bx {
    padding: $bx-padding;
    border-radius: $bx-border-radius;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    background: $bx-bg;
    color: $base-color;

    // remove margin from any first element in a box to allow box padding to do the work
    & > *:first-child {
        margin-top: 0;
    }

    &-title {
        font-size: $bx-title-font-size;
        font-weight: $bx-title-font-weight;
        line-height: 1.2;
    }
}

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// this is a bit fickle and needs to be improved, it works in most
// cases but i am sure a curve ball will jump up at some stage!
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------

// 1. remove side margins to align content to the outer bx. This allows
//    different bg colours can be applied to individual sections
.bx-header,
.bx-footer {
    margin-left: -$bx-padding; // 1
    margin-right: -$bx-padding; // 1
    padding: 0.75rem $bx-padding;
}

// it is best not to specify default colors here to allow themes to work
.bx-header {
    margin-top: -$bx-padding !important;
    border-bottom: 1px solid;
    border-color: inherit;
    border-radius: $bx-border-radius $bx-border-radius 0 0;
}

.bx-footer {
    margin-bottom: -$bx-padding !important;
    border-top: 1px solid;
    border-color: inherit;
    border-radius: 0 0 $bx-border-radius $bx-border-radius;
}

:is(.bx-title + .bx-content),
:is(.bx-content + .bx-footer) {
    margin-top: $bx-padding;
}

:is(.bx-header + .bx-content) {
    padding: $bx-padding;
    margin-bottom: -$bx-padding;
    margin-left: -$bx-padding;
    margin-right: -$bx-padding;
}

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// the function is required to make sure theme colors override
// base values, this is the compromise between having default
// properties like background and font-color.
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------

@each $key, $color in $color-map {
    .bx.#{$key} {
        background: $color;
        color: setTextColor($color);
    }
}
