@use "../base/vars_colors" as *;
@use "../functions/setTextColor" as *;
@use "../base/vars_base" as *;

// --------------------------------------------------------------------------
// Variables
// --------------------------------------------------------------------------



// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// base background and font color can be specified because the
// theme function has been included to specifically override them.
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------



// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// this is a bit fickle and needs to be improved, it works in most
// cases but i am sure a curve ball will jump up at some stage!
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------

// 1. remove side margins to align content to the outer bx. This allows
//    different bg colours can be applied to individual sections
.bx-header,
.bx-footer {
    margin-left: -$bx-padding; // 1
    margin-right: -$bx-padding; // 1
    padding: 0.75rem $bx-padding;
}

// it is best not to specify default colors here to allow themes to work
.bx-header {
    margin-top: -$bx-padding !important;
    border-bottom: 1px solid;
    border-color: inherit;
    border-radius: $bx-border-radius $bx-border-radius 0 0;
}

.bx-footer {
    margin-bottom: -$bx-padding !important;
    border-top: 1px solid;
    border-color: inherit;
    border-radius: 0 0 $bx-border-radius $bx-border-radius;
}

:is(.bx-header + .bx-content) {
    padding: $bx-padding;
    margin-bottom: -$bx-padding;
    margin-left: -$bx-padding;
    margin-right: -$bx-padding;
}

