@use "../base/vars_all" as *;
@use "../forms/control" as *;
@use "../functions/setTextColor" as *;
@use "../mixins/makeStateClasses" as *;

$btn-bg: rgb(248, 248, 248) !default;
$btn-color: setTextColor($btn-bg) !default;

$btn-link-color: $link-color;
$btn-link-hover-color: $link-hover-color;

$btn-text-transform: capitalize;

// base class
// ----------------------------

[class*="#{$button-class}"] {
    &.focus,
    &:focus {
        outline: none;
    }
}

.#{$button-class} {
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

// order matters, leave below .btn
button,
.#{$button-class} {
    @extend %control; // core from _control.scss
    background: $btn-bg;
    color: $btn-color;
    transition-duration: 150ms;
    transition-property: background-color, color, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: $btn-text-transform;
    text-align: center;
    justify-content: center;

    // !-WARNING-! changing the vertical alignment affects buttons with icons
    //
    vertical-align: bottom; // keep buttons aligned to inputs

    // @include hover(background-color, text-color (optional));
    @include hover($btn-bg);
    @include active($btn-bg);

    &.link {
        background-color: transparent;
        background-image: none;
        border: none;
        color: $btn-link-color;
    }

    // need to give some thought here, setting size
    // the default icon size (1.5em) will make the button higher than the inputs
    // so padding se
    // .icon {
        // height: 1.25em;
        // padding: 2px;
    // }
}

// themes and variations
// ----------------------------
//
// **! must explicitly state theme values to override base 'btn' class !**
//

@each $key, $color in $color-map {
    .#{$button-class}.#{$key} {
        // background-color: $color;
        // color: setTextColor($color);

        @include hover($color);
        @include active($color);

        // there is no need to include outline here, it is handled by the theme
    }
}



