@use "../base/vars_colors" as *;
@use "../base/vars_class_names" as *;
@use "../forms/control" as *;
@use "../functions/setTextColor" as *;
@use "../mixins/makeStateClasses" as *;
@use "../base/vars_base" as *;

$btn-bg: rgb(248, 248, 248) !default;
$btn-color: setTextColor($btn-bg) !default;

$btn-link-color: $link-color;
$btn-link-hover-color: $link-hover-color;

$btn-text-transform: capitalize;

// base class
// ----------------------------

[class*="#{$button-class}"] {
    &.focus,
    &:focus {
        outline: none;
    }
}

.#{$button-class} {
    // &:hover {
    //     color: $btn-color;
    //     text-decoration: none;
    //     background-color: darken($btn-bg, 5%);
    // }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

// order matters, leave below .btn
button,
.#{$button-class} {
    @extend %control; // core from _control.scss
    background: $btn-bg;
    color: $btn-color;
    transition-duration: 150ms;
    transition-property: background-color, color, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: $btn-text-transform;
    text-align: center;
    justify-content: center;

    // @include hover(background-color, text-color (optional));
    @include hover($btn-bg);
    @include active($btn-bg);

    &.link {
        background-color: transparent;
        background-image: none;
        border: none;
        color: $btn-link-color;

        // &:hover {
        //     color: $btn-link-hover-color;
        //     // @include active(darken($btn-color, 5%));
        //     // text-decoration: none;
        // }
    }

    .icon {
        height: 1.25em;
    }
}


// themes and variations
// ----------------------------
//
// **! must explicitly state theme values to override base 'btn' class !**
//

@each $key, $color in $color-map {
    .#{$button-class}.#{$key} {
        background: $color;
        color: setTextColor($color);

        @include hover($color);
        @include active($color);

        // there is no need to include outline here, it is handles by the theme
    }
}
