@use "../base/vars_all" as *;

.#{$dropdown-class} {
    position: relative;

    &-content {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-2em);
        top: calc(100% + $dropdown-toggle-gap); // push to bottom of toggle element
        left: 0;
        min-width: 16rem;
        transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
        z-index: 1000;
    }

    // set content visible and bring to the top
    &:focus .#{$dropdown-class}-content,
    &:focus-within .#{$dropdown-class}-content,
    &:hover .#{$dropdown-class}-content {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.2s; // this removes the transition delay so the menu will be visible while the other styles transition
    }
}

// .#{$dropdown-class} {
//     position: relative;
//     &-content {
//         display: none;
//         position: absolute;
//         top: calc(100% + $dropdown-toggle-gap); // push to bottom of toggle element
//         left: 0;
//         min-width: 16rem;
//         z-index: 1000;
//     }

//     &:hover .#{$dropdown-class}-content {
//         display: block;
//     }
// }
