@use "../base/vars_all" as *;

.#{$dropdown-class} {
    position: relative;
    display: inline-flex;

    &-content {
        display: none;
        position: absolute;
        top: 100%; // push to bottom of toggle element
        min-width: 12rem;
        z-index: 1000;
        // padding-top: 4px;
        padding: $dropdown-padding;
        background-color: $dropdown-bg;
        // box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

        // $dropdown-border-radius: 0.25rem !default;
    }

    // why?
    .nav {
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: 0;
    }
}

// when hover over content, display it
.#{$dropdown-class}:hover .#{$dropdown-class}-content {
    display: block;
}


