@use "../base/vars_all" as *;
@use "../vars_class_names" as *;

.#{$list-class} {
    list-style: none;
    margin: 0; // remove indent

    a {
        color: $list-link-color;
        &:where(:hover) {
            // $list-hover-color;
            color: $list-link-hover-color;
        }


    }

}
