@use "../base/vars_all" as *;
@use "../functions/setTextColor" as *;

.menu {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    list-style: none;

    // add div to
    :where(a, li a, .menu-item) {
        color: $menu-link-color;
        padding: $menu-padding-y $menu-padding-x;
        display: block;

        &:hover {
            color: $menu-link-hover-color;
            background: $menu-hover-bg;
        }
    }

    .menu-title {
        font-weight: 600;
        color: #7a7a7a;
        letter-spacing: 0.05em;

        &:not(:first-child) {
            margin-top: $content-gap;
        }
    }
}
