@use "../base/vars_all" as *;

.#{$navbar-class},
.#{$navbar-class} > .#{$container-class} {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.#{$navbar-class} {
    background: $navbar-bg;
    padding: $navbar-padding-y $navbar-padding-x;
    position: relative;

    ul {
        display: flex;
    }

    // remove specificity to make easier to override
    :where(ul a) {
        color: $navbar-nav-item-color;
        // do not set backgrounds here to limit opinion, use
        // utility classes or `nav-item` class instead
        padding: $navbar-nav-padding-y $navbar-nav-padding-x;
        display: block; // 1. allowing the navbar to grow in height
        line-height: 1.2rem;

        &:hover {
            color: $navbar-nav-hover-color;
        }

        &.active {
            color: $navbar-nav-active-color;
        }
    }

    .nav-item {
        display: block; // 1. allowing the navbar to grow in height
        background: $navbar-nav-item-bg;
        color: $navbar-nav-item-color;
        line-height: 1.2rem;

        &:hover {
            color: $navbar-nav-hover-color;
            background: $navbar-nav-hover-bg;
        }

        &.active {
            color: $navbar-nav-active-color;
            background: $navbar-nav-active-bg;
        }
    }
}
