@use "../base/vars_base" as *;
@use "../base/vars_class_names" as *;
@use "../base/vars_components" as *;


.#{$navbar-class},
.#{$navbar-class} > .#{$container-class} {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.#{$navbar-class} {
    background: $navbar-bg;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: $navbar-padding-y $navbar-padding-x;
    position: relative;

    // 1. keep consistent spacing
    // 2. remove gap to keep logo in the middle
    .logo {
        margin-right: $navbar-nav-padding-x; // 1
        line-height: 0; // 2
    }

    nav {
        display: flex;
        gap: $nav-item-gap;

        // the assumption is that all links in the navbar will be for the main navigation, however
        // exclude the 'menu' class and buttons which is likely used in a dropdowns such as cart items
        // or user navigation. This will prevent the need for complex overrides.

        a:not(.menu a):not([class*="btn"]):not(.logo a) {
            padding: $navbar-nav-padding-y $navbar-nav-padding-x;
            background: $navbar-nav-item-bg;
            border-radius: 0.25rem;
            color: $navbar-nav-font-color;
            line-height: 1.2rem;

            &:hover {
                color: $navbar-nav-hover-color;
                background: $navbar-nav-hover-bg;
            }

            &.active {
                background: $navbar-nav-active-bg;
            }
        }
    }
}
