// Create darker shades example
// ==============================================================
// @for $i from $num-shades - 1 through 1 {
//     .#{$color}-#{$i + $num-shades} {
//         background-color: colorShades($value, $i, -$step);
//     }
// }

// create lighter shades example
// ==============================================================
// @for $i from $num-shades - 1 through 1 {
//     .#{$color}-#{$i} {
//         background-color: colorShades($value, $num-shades - $i, $step);
//     }
// }

@function colorShades($base-color, $shade-number, $step) {
    $r: red($base-color);
    $g: green($base-color);
    $b: blue($base-color);

    $new-r: $r + $step * $shade-number;
    $new-g: $g + $step * $shade-number;
    $new-b: $b + $step * $shade-number;

    @return rgb($new-r, $new-g, $new-b);
}
