// ----------------------------------------------------------------
// Strips dash '-' if the last character in a string
// ----------------------------------------------------------------
// Usage: $class: stripDash("bdr-");
// Outputs $class: 'bdr';
// ----------------------------------------------------------------
@function stripDash($string) {
    @if str-slice($string, -1) == "-" {
        @return str-slice($string, 1, -2);
    }
    @return $string;
}

// ----------------------------------------------------------------
// Strips 'rem' if last three characters in a string
// ----------------------------------------------------------------
// Usage: $class: stripDash("maxw-20rem");
// Outputs $class: 'maxw-20';
// ----------------------------------------------------------------
@function stripRem($string) {
    @if str-slice($string, -3) == "rem" {
        @return str-slice($string, 1, -4);
        @return $string;
    }
    @return $string;
}

// ----------------------------------------------------------------
// Strip unwanted characters from class names
// ----------------------------------------------------------------
// used to exclude the -xy suffix from the class name, for example
// `bdr-xy` will be `bdr` and `bdr-xy-sm` will be `bdr-sm`. This is
// kind of a hack and some people may prefer to have the `xy` suffix
// in the class name.
$xy-exclusions: ("bdr-");


@function stripInvalid($class, $identifier) {

    // allows variants with base classes to be used without the
    // '-base' suffix. For example, `pxy-base` will be `pxy`.
    @if (str-slice($class, -5) == "-base") {
        $class: str-slice($class, 1, -6);
    }

    // Check if the identifier is in the exclusions list and if the
    // class ends with '-xy' and if so remove the '-xy' suffix.
    @if index($xy-exclusions, $identifier) and (str-slice($class, -3) == "-xy") {
        $class: str-slice($class, 1, -4);
    }
    @return $class;
}

// ----------------------------------------------------------------
// Search and replace a string
// ----------------------------------------------------------------
// Usage: $class: strReplace("maxw-20rem", "rem", "");
// Outputs $class: 'maxw-20';
// ----------------------------------------------------------------
@function strReplace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + strReplace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// ----------------------------------------------------------------
// Escape decimals in a string
// Note: works with both quoted and unquoted values 9.5 or "9.5"
// ----------------------------------------------------------------
// Usage: $class: escapeDecimal(9.5);
// Outputs $class: '9\.5';
// ----------------------------------------------------------------
@function escapeDecimal($int) {
    $class: "#{$int}"; // wrap in quotes and convert to string
    @return strReplace($class, ".", "\\."); // search and escape decimals
}

// ----------------------------------------------------------------
// Converts a number to a string
// ----------------------------------------------------------------
@function toString($int) {
    @return "#{$int}"; // wrap in quotes and convert to string
}

// ----------------------------------------------------------------
// escape invalid charters to be used in class names
// ----------------------------------------------------------------
@function escapeInvalid($input) {
    $input: toString($input);

    // if the value starts with '0.' remove the decimal
    @if (str-slice($input, 1, 2) == "0.") {
        $input: strReplace($input, "0.", "0");
    }

    $output: escapeDecimal($input);
    $output: stripRem($output);

    @return $output;
}

// ----------------------------------------------------------------
// Remove unwanted unit for certain values, e.g. 0 and auto
// ----------------------------------------------------------------
@function handleValue($value, $unit) {
    $derivedUnit: if(($value == "auto" or $value == 0), null, $unit);
    @return $value + $derivedUnit;
}

// ----------------------------------------------------------------
// Remove 'rem' unit from class names because it is the default
// ----------------------------------------------------------------
@function handleClassUnit($unit) {
    @return if($unit != "rem", $unit, "");
}

// ----------------------------------------------------------------
// Check if a value has a unit. For example, 1rem or 1px.
// ----------------------------------------------------------------
@function hasUnit($value) {
    $value: toString($value);
    @return str-index($value, "px") or str-index($value, "rem");
}
