@use '../functions/classes' as *;
@use '../functions/strings' as *;
@use '../functions/resolvers' as *;
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

// intentionally return with the unit. it will be automatically removed where
// necessary to prevent duplication errors
@function px-to-rem($px, $base: 16) {
    @return math.div($px, $base) * 1rem;
}
