// =========================================================================
// Getter Functions
// --------------------------------------------------------------------------
// These functions return default values when none are provided, ensuring
// consistent data access.
// =========================================================================

@use '../maps_and_variables/config' as *;

@function get-breakpoints($breakpoints) {
    @if $breakpoints == null {
        @return $default-breakpoints;
    }

    @return $breakpoints;
}

@function get-states($states) {
    @if $states == null {
        @return $default-states;
    }

    @return $states;
}

// =========================================================================
// Resolver Functions
// --------------------------------------------------------------------------
// These functions conditionally resolve values based on configuration modes.
// They ensure valid lists or values are returned, preserving original values
// when the mode is disabled.
// =========================================================================

@function resolve-breakpoints($responsive, $breakpoints) {
    @if $responsive {
        @return get-breakpoints($breakpoints);
    }

    @return $breakpoints;
}

@function resolve-states($with-state, $map-states) {
    @if $with-state {
        @return get-states($map-states);
    }

    @return $map-states;
}

@function resolve-prefix($prefix, $property) {
    @if $prefix == false {
        @return '';
    } @else if $prefix == null {
        @return $property + '-';
    }

    @return $prefix;
}

// @function resolve-prefix($raw-prefix, $fallback-name) {
//     @if $raw-prefix { @return $raw-prefix; }
//     @return $fallback-name;
// }

// @function resolve-unit($value, $fallback-unit) {
//     @if value-has-unit($value) { @return null; }
//     @return $fallback-unit;
// }

// @function resolve-class-suffix($label, $unit) {
//     @return #{$label}#{handle-class-unit($unit)};
// }

// @function resolve-class-name($prefix, $suffix) {
//     @return strip-class-suffixes(#{$prefix}#{$suffix});
// }
