@if $base-extended {
    hr {
        &.mm {
            // pull outside of container for clearer division of section
            margin-left: -2rem;
            margin-right: -2rem;
        }
        &.lg{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}
