@use "../../src/scss/base/vars_base" as *;




img {
    border-style: solid;
}

// Tables
// ====================


tr {
    border: 1px solid $base-border-color;
}

th {
    font-weight: 600;
    background: #f8fafc;
}

th,
td {
    padding: 0.5em;
    // border: 1px solid $base-border-color;
    text-align: left;
    vertical-align: top;
}


button,
input,
optgroup,
select,
textarea {
    line-height: inherit;
    color: inherit;
}

img,
video {
    max-width: 100%;
    max-height: 100%; // allow set heights
    display: block; // prevent gap at bottom
}

svg {
    fill: currentcolor; // allows svg to inherit color
}


