@use "vars_base" as *;

// any adjacent (excludes first child)
:where(blockquote, p, pre, form, table, ol, ul, h1, h2, h3, h4, h5, h6) + * {
    margin-top: $content-gap;
}

:where(.bx, .bx-title, .bx-content, .frm-row, .container) + :where(*):not(.dd-content) {
    margin-top: $content-gap;
}

// exclude section to give more control
:where([class^="flex"], [class^="grid"]) + :where(*):not(:is([class^="flex"], [class^="grid"], section)) {
    margin-top: $content-gap;
}

// opt-out
:is(.flex, [class^="grid"]) > * {
    margin: 0;
}


