@use "../mixins/media" as *;
@use "../../src/scss/base/vars_base" as *;

// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------
//
// You may be tempted to add html elements like section, div, ul
// ... etc here. DON'T! or think very hard about it.
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ----------------

// ==========================================================================
// -- CONTENT SPACING --
// ==========================================================================
//
// select any element that follows immediately after this element
// unless the element is a direct child of a 'grid' or 'flexbox'
// :is(.???) + :not(.flex > *):not(.grid > *)

// wild is omitted before :not
:is(.bx) + :not(.flex > *):not(.grid > *):not(hr):not(.dd > *) {
    margin-top: $content-gap;
}

:is(.bx-title, .bx-content) + * {
    margin-top: $content-gap;
}

:is(.frm-row) + :not(.flex > *):not(.grid > *) {
    margin-top: $content-gap;
}

:is(.flex) + * {
    margin-top: $content-gap;
}

:is(p, pre, form, table, ul, h1, h2, h3, h4, h5, h6) + * {
    margin-top: $content-gap;
}

* + pre {
    margin-top: $content-gap;
}
// :is(.frm-row:not(* > :first-child):not(input[type="hidden"] + .frm-row)), // 1
// :is(p, pre, form, table, ul) + *:not(hr):not(.overlay):not(.bx-content),
// :is(.menu) + *,
// * + :is(p, pre):not(:first-child) {
//     margin-top: $content-gap;
// }
