// ==========================================================================
// -- Base Styles --
// ==========================================================================

// $text: #f0f2f9;
// $background: #0b101d;
// $primary-button: #e6c637;
// $secondary-button: #e1dfe1;
// $accent: #4a4c5e;

$text: #0a0a10;
$background: #ffffff;
$primary-button: #045c94;
$secondary-button: #181e20;
$accent: #ffbb1c;

$base-color: $text !default;
$background: $background !default;

$primary: $primary-button !default;
$secondary: $secondary-button !default;
$accent: $accent !default;

$border-color: rgba(0, 0, 0, 0.15) !default;
$border: 1px solid $border-color !default;
$border-radius: 8px !default;

$font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size: 1rem !default;
$line-height: 1.5 !default;

$heading-sizes: 2.25em, 1.75em, 1.5em, 1.25em, 1.125em, 1em !default;
$heading-and-title-color: inherit !default;
$heading-font-weight: 700 !default;

$link-color: #5850ec !default;
$link-hover-color: indianred !default;

$img-path: "/src/images" !default;

// ==========================================================================
// -- Theme Styles --
// ==========================================================================

$header-bg: transparent !default;

$main-bg: transparent !default;

$footer-bg: #1d1d1c !default;
$footer-text-color: rgb(204, 204, 204) !default;

$copyright-bg: darken($footer-bg, 2%) !default;
$copyright-text-color: $footer-text-color !default;

// ==========================================================================
// -- Spacing Sizes --
// ==========================================================================

// grid-gap, is the space used to separate grid elements, page sections or components
// content-gap, is the padding or margin that separates content. For example, <p>

$grid-gap: 1.25rem;

// use em so gap relative to font size, this means h2 gap will be larger than p
$content-gap-sm: 0.75em;
$content-gap: 1.5em;
$content-gap-lg: 3em;
$content-gap-xl: 5em;

// ==========================================================================
// -- Responsive Sizes and Breakpoints --
// ==========================================================================
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
) !default;

// create an empty map to update or add defaults
$breakpoints-custom: () !default;
// merge together
$breakpoints: map-merge($breakpoints, $breakpoints-custom);

$sm: map-get($breakpoints, sm);
$md: map-get($breakpoints, md);
$lg: map-get($breakpoints, lg);
$xl: map-get($breakpoints, xl);
$xxl: map-get($breakpoints, xxl);

// ==========================================================================
// -- Grid --
// ==========================================================================
$num-grid-cols: 9 !default; // number of classes to make

// ==========================================================================
// -- Container --
// ==========================================================================
// think of container size as maximum-width up to a maximum-size.
// By setting the maximum-width lower than 100% means there will
// alway be a gap on smaller devices removing the need to media
// queries based on the defaults the container will be a maximum
// of 90% up to a maximum of 1200px
$container-max: 95%;

$container-max-lg: $lg !default; // 1200px
$container-max-xxl: 75rem !default; // 1200px




