// ==========================================================================
// -- GENERAL STYLES --
// ==========================================================================
$border: 1px solid rgba(0, 0, 0, 0.15) !default;
$border-radius: 8px !default;

$img-path: "/src/images" !default;

// ==========================================================================
// -- Base Styles --
// ==========================================================================

$base-bg: hsl(64, 100%, 99%) !default;
$base-color: #333 !default;

$base-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $base-font-family: 'Nunito', sans-serif;
// $base-font-family: Montserrat, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$base-font-weight: normal !default;
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$base-border-color: #ddd !default;

// ==========================================================================
// -- Typography --
// ==========================================================================
$font-size-sm: ($base-font-size * 0.875) !default;
$font-size-md: ($base-font-size * 1.25) !default;
$font-size-lg: ($base-font-size * 1.5) !default;

$heading-sizes: 2.25em, 1.75em, 1.5em, 1.25em, 1.125em, 1em;
// $heading-color: $base-color !default;
$heading-color: inherit !default;
$heading-font-weight: 700;

$link-color: #5850ec !default;
//     color: blueviolet;
$link-hover-color: indianred !default;

// ==========================================================================
// -- Spacing Sizes --
// ==========================================================================

// grid-gap, is the space used to separate grid elements, page sections or components
// content-gap, is the padding or margin that separates content. For example, <p>

$grid-gap: 1.25rem;

// use em so gap relative to font size, this means h2 gap will be larger than p
$content-gap-sm: 0.75em;
$content-gap: 1.5em;
$content-gap-lg: 3em;
$content-gap-xl: 5em;

// ==========================================================================
// -- Responsive Sizes and Breakpoints --
// ==========================================================================
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
) !default;

// create an empty map to update or add defaults
$breakpoints-custom: () !default;

// merge together
$breakpoints: map-merge($breakpoints, $breakpoints-custom);

// translate breakpoints into user friendly names for easy reference
// IMPORTANT: in terms of device-only, mobile is anything under 767px

$small: map-get($breakpoints, sm);
$tablet: map-get($breakpoints, md);
$laptop: map-get($breakpoints, lg);
$desktop: map-get($breakpoints, xl);
$widescreen: map-get($breakpoints, xxl);

// ==========================================================================
// -- Grid --
// ==========================================================================
$num-grid-cols: 6 !default; // number of classes to make

// ==========================================================================
// -- Container --
// ==========================================================================
// think of container size as maximum-width up to a maximum-size.
// By setting the maximum-width lower than 100% means there will
// alway be a gap on smaller devices removing the need to media
// queries based on the defaults the container will be a maximum
// of 90% up to a maximum of 1200px
$container-max: 95%;
$container-max-widescreen: 75rem !default; // 1200px


// ==========================================================================
// -- NAYKEL STYLES --
// ==========================================================================
// These styles are specific to naykel template layouts

$header-bg: #074464 !default;

$main-bg: transparent !default;

$footer-bg: #1D1D1C !default;
$footer-text-color: rgb(204, 204, 204) !default;

$copyright-bg: darken($footer-bg, 2%) !default;
$copyright-text-color: $footer-text-color !default;
