// $primary: #7c0442 !default;
// $secondary: #fff4e5 !default;

$primary: hsl(201, 100%, 14%) !default;
$secondary: hsl(31, 100%, 48%) !default;
$contrast: hsl(329, 92%, 47%) !default;
$primary-light: lighten($primary, 10) !default;


$color-map: (
    "white": #fff,
    "red": hsl(354, 70%, 54%),
    "green": hsl(134, 61%, 41%),
    // "blue": hsl(204, 83%, 53%),
    "blue": #1e3a8a,
    "turquoise": hsl(171, 100%, 41%),
    "purple": hsl(261, 51%, 51%),
    "darkblue": hsl(201, 100%, 14%),
    "indigo": hsl(263, 90%, 51%),
    "pink": hsl(332, 79%, 58%),
    "orange": hsl(27, 98%, 54%),
    "yellow": hsl(48, 100%, 67%),
    "teal": hsl(162, 73%, 46%),
    "cyan": hsl(188, 78%, 41%),
    "primary": $primary,
    "secondary": $secondary,
    "light": hsl(0, 0%, 98%),
    "dark": hsl(0, 0%, 13%),
    // "dark": hsl(221, 39%, 11%),
    "muted": hsl(0, 4%, 51%),
    "danger": hsl(354, 70%, 54%),
    "success": hsl(134, 61%, 41%),
    "info": hsl(204, 83%, 53%),
    "warning": hsl(48, 100%, 67%),
    "danger-light": hsl(347, 90%, 96%),
    "danger-light1": hsl(0, 100%, 95%),
    "info-light": hsl(206, 70%, 96%),
    "success-light": hsl(142, 52%, 96%),
    "warning-light": hsl(48, 100%, 96%),
)!default;

// create an empty map to update or add colors
$color-map-custom: () !default;

// merge together
$color-map: map-merge($color-map, $color-map-custom);

