@use '../../src/common-tools' as *;



// prettier-ignore
.pos {
    &-xy { inset: 0; }
    &-x { left: 0; right: 0; }
    &-y { top: 0; bottom: 0; }
    &-t { top: 0; }
    &-b { bottom: 0; }
    // reset for flex ?? dd requires to shrink ??
    &-l { left: 0; right: auto; }
    &-r { right: 0; left: auto; }
}
