@use '../src/functions/color-functions' as *;
@use 'sass:color';

@mixin hover($color, $by: 10%) {
    &:hover {
        @content;

        background-color: color.adjust($color, $lightness: $by);
        color: text-color($color);
    }
}

@mixin active($color, $by: 5%) {
    &:active {
        @content;

        background-color: color.adjust($color, $lightness: -$by);
        color: text-color($color);
    }
}
