@use '../../src/common-tools' as *;
@use '../../src/maps_and_variables/base' as *;
@use '../../src/maps_and_variables/colors' as *;
@use '../../src/maps_and_variables/typography' as *;
@use '../../src/maps_and_variables/config' as *;
@use 'sass:map';


.title {
    color: $primary;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.125;
}

.subtitle {
    color: $primary;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.125;
}

// this seems a little out of place here, oh well!
.link {
    background-color: transparent;
    background-image: none;
    border: none;
    color: $link-color;
    padding: 0;

    &:hover,
    &:active {
        color: $link-hover-color;
        background-color: transparent;
    }
}