@use '../src/common-tools.scss' as *;
@use 'sass:map';

// ==========================================================================
// Space Utilities
// ==========================================================================

// & > :not(:last-child) {
//   --tw-space-x-reverse: 0;
//   margin-inline-start: calc(calc(var(--spacing) * <number>) * var(--tw-space-x-reverse));
//   margin-inline-end: calc(calc(var(--spacing) * <number>) * calc(1 - var(--tw-space-x-reverse)));
// };

.space-x > *:not(:first-child) {
    margin-left: $content-gap;
}

.space-y > *:not(:first-child) {
    margin-top: $content-gap;
}

@each $value in (2,3,4) {
    $variant: #{handle-invalid($value)};
    .space-x-#{$variant} > *:not(:first-child) {
        margin-left: #{$value}rem;
    }
    .space-y-#{$variant} > *:not(:first-child) {
        margin-top: #{$value}rem;
    }
}

@include from-xl {
    .lg\:space-x > *:not(:first-child) {
        margin-left: 1rem;
    }
}



// ==========================================================================
// -- DISABLED --
// ==========================================================================
:disabled,
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

// ==========================================================================
// -- REVIEW --
// ==========================================================================

.hover\:txt-primary:hover {
    color: $primary;
}

.hover\:txt-secondary:hover {
    color: $secondary;
}

.hover\:txt-white:hover {
    color: #fff;
}

// .hover\:text-white:hover {
//     --tw-text-opacity: 1;
//     color: rgb(15 23 42 / var(--tw-text-opacity));
// }