@use '../src/common-tools.scss' as *;
@use 'sass:map';
@include build-magic-classes(padding, $padding-magic-y, 'py', $position-or-axis: y);

// NKTD: Refactor to use build tools and include custom variants
:where(.space-x > *:not(:first-child)) {
    margin-left: $base-gap;
}

:where(.space-y > *:not(:first-child)) {
    margin-top: $base-gap;
}

// the problem here is that the spacing values do not include variants.
@each $value in $spacing-values {
    $variant: #{sanitize-class-name($value)};
    :where(.space-x-#{$variant} > *:not(:first-child)) {
        margin-left: #{$value}rem;
    }
    :where(.space-y-#{$variant} > *:not(:first-child)) {
        margin-top: #{$value}rem;
    }
}

@include from-xl {
    :where(.lg\:space-x > *:not(:first-child)) {
        margin-left: 1rem;
    }
}

// ==========================================================================
// Builds
// ==========================================================================
@include build-magic-classes(margin, $margin-magic-y, 'my', $position-or-axis: y);

// ==========================================================================
// -- DISABLED --
// ==========================================================================
:disabled,
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

// ==========================================================================
// -- REVIEW --
// ==========================================================================

.hover\:txt-primary:hover {
    color: $primary;
}

.hover\:txt-secondary:hover {
    color: $secondary;
}

.hover\:txt-white:hover {
    color: #fff;
}

// .hover\:text-white:hover {
//     --tw-text-opacity: 1;
//     color: rgb(15 23 42 / var(--tw-text-opacity));
// }
