@use "../../base/vars_base" as *;

// Build seperate 'theme' and 'base' maps then merge together to
// give more flexibly when required.

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent,
    "light": #fafafa,
    "dark": #212121,
    "muted": #6d767e,
    "danger": #dc3848,
    "info": #249beb,
    "success": #29a847,
    "warning": #ffdd57,
) !default;

$base-colors: (
    "amber": #f59e0b,
    "blue": #3b82f6,
    "brown": #795649,
    "cyan": #17a4ba,
    "darkblue": #0c2d6a,
    "emerald": #10b981,
    "fuchsia": #d946ef,
    "green": #29a847,
    "indigo": #6812f3,
    "lime": #84cc16,
    "orange": #fd7e17,
    "pink": #ec4899,
    "purple": #6f42c2,
    "red": #dc3848,
    "rose": #f43f5e,
    "sky": #0ea5e9,
    "stone": #78716c,
    "teal": #14b8a6,
    "white": #ffffff,
    "yellow": #ffda47,
) !default;

$color-map: map-merge($theme-colors, $base-colors) !default;
