// ============================================================================
// Additional breakpoint utilities that aren't in the new system yet
// These are needed by _display-visibility.scss
// ============================================================================
@use '../functions/classes' as *;
@use '../mixins/media-container-queries' as *;
@use '../mixins/make-properties' as *;
@use 'sass:map';

// ============================================================================
// Generate responsive classes that apply ON the specified breakpoints
// ============================================================================
@mixin make-on-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: on-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @if $bp == 'sm' {
                @include on-sm {
                    @include make-properties($props);
                }
            } @else if $bp == 'md' {
                @include on-md {
                    @include make-properties($props);
                }
            } @else if $bp == 'lg' {
                @include on-lg {
                    @include make-properties($props);
                }
            } @else if $bp == 'xl' {
                @include on-xl {
                    @include make-properties($props);
                }
            } @else if $bp == 'xxl' {
                @include on-xxl {
                    @include make-properties($props);
                }
            }
        }
    }
}

// ============================================================================
// Generate responsive classes that apply UP TO the specified breakpoints (desktop-first)
// ============================================================================
@mixin make-to-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: to-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @if $bp == 'sm' {
                @include to-sm {
                    @include make-properties($props);
                }
            } @else if $bp == 'md' {
                @include to-md {
                    @include make-properties($props);
                }
            } @else if $bp == 'lg' {
                @include to-lg {
                    @include make-properties($props);
                }
            } @else if $bp == 'xl' {
                @include to-xl {
                    @include make-properties($props);
                }
            } @else {
                @error 'The device '#{$bp}' is not available for this mixin, you need to remove it from the args list.';
            }
        }
    }
}

// ============================================================================
// Container query variants
// ============================================================================
@mixin cq-make-from-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: cq-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @if $bp == 'sm' {
                @include cq-from-sm {
                    @include make-properties($props);
                }
            } @else if $bp == 'md' {
                @include cq-from-md {
                    @include make-properties($props);
                }
            } @else if $bp == 'lg' {
                @include cq-from-lg {
                    @include make-properties($props);
                }
            } @else if $bp == 'xl' {
                @include cq-from-xl {
                    @include make-properties($props);
                }
            } @else if $bp == 'xxl' {
                @include cq-from-xxl {
                    @include make-properties($props);
                }
            }
        }
    }
}

@mixin cq-make-on-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: cq-on-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @if $bp == 'sm' {
                @include cq-on-sm {
                    @include make-properties($props);
                }
            } @else if $bp == 'md' {
                @include cq-on-md {
                    @include make-properties($props);
                }
            } @else if $bp == 'lg' {
                @include cq-on-lg {
                    @include make-properties($props);
                }
            } @else if $bp == 'xl' {
                @include cq-on-xl {
                    @include make-properties($props);
                }
            } @else if $bp == 'xxl' {
                @include cq-on-xxl {
                    @include make-properties($props);
                }
            }
        }
    }
}

@mixin cq-make-to-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: cq-to-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @if $bp == 'sm' {
                @include cq-to-sm {
                    @include make-properties($props);
                }
            } @else if $bp == 'md' {
                @include cq-to-md {
                    @include make-properties($props);
                }
            } @else if $bp == 'lg' {
                @include cq-to-lg {
                    @include make-properties($props);
                }
            } @else if $bp == 'xl' {
                @include cq-to-xl {
                    @include make-properties($props);
                }
            } @else {
                @error 'The device '#{$bp}' is not available for this mixin, you need to remove it from the args list.';
            }
        }
    }
}
