@use '../functions/classes' as *;
@use '../mixins/build-system/breakpoint-handlers' as *;
@use '../mixins/build-system/make-properties' as *;
@use 'sass:map';

// ============================================================================
// Additional breakpoint utilities for responsive visibility classes
// ============================================================================

// ============================================================================
// Generate responsive classes that apply FROM the specified breakpoints upward (mobile-first)
// ============================================================================
@mixin make-from-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: #{$bp}\:#{$identifier};
        .#{$derived-class} {
            @include from-breakpoint($bp) {
                @include make-properties($props);
            }
        }
    }
}

// ============================================================================
// Generate responsive classes that apply ON the specified breakpoints
// ============================================================================
@mixin make-on-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: on-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @include on-breakpoint($bp) {
                @include make-properties($props);
            }
        }
    }
}

// ============================================================================
// Generate responsive classes that apply UP TO the specified breakpoints (desktop-first)
// ============================================================================
@mixin make-to-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: to-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @include to-breakpoint($bp) {
                @include make-properties($props);
            }
        }
    }
}

// ============================================================================
// Container query variants
// ============================================================================
@mixin cq-make-from-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: cq-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @include cq-from-breakpoint($bp) {
                @include make-properties($props);
            }
        }
    }
}

@mixin cq-make-on-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: cq-on-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @include cq-on-breakpoint($bp) {
                @include make-properties($props);
            }
        }
    }
}

@mixin cq-make-to-breakpoint($props, $identifier, $breakpoints, $child-selector: false) {
    @each $bp in $breakpoints {
        $derived-class: cq-to-#{$bp}\:#{$identifier};
        .#{$derived-class} {
            @include cq-to-breakpoint($bp) {
                @include make-properties($props);
            }
        }
    }
}
