@use '../mixins/make-themes' as *;
@use '../functions/color-functions' as *;
@use 'sass:map';
@use 'sass:color';

// need to move the loop here
@mixin build-basic-theme($class, $map) {
    $base: map.get($map, 'base');

    $color: if(map.get($map, 'color'), map.get($map, 'color'), text-color($base));
    $border-color: if(map.get($map, 'border-color'), map.get($map, 'border-color'), border-contrast($base));

    .#{$class} {
        @include make-basic-theme($base, $border-color, $color);
    }
}

