@use "../functions/helpers" as *;
@use "./propertyGenerators" as *;
@use "sass:string";

// ----------------------------------------------------------------
// -- CLASS CREATORS --
// ----------------------------------------------------------------
@mixin singlePropertyClass($class, $property, $value) {
    .#{$class} {
        #{$property}: $value;
    }
}

// ----------------------------------------------------------------
// Creates multiple position based classes for a single value with
// multiple positions. For example, x, y, xy, left, right etc.
//
// Can be used directly to for a single size or combined with other
// mixins to create additional sizes.
//
// @include positionBasedClass(padding, 1, "p", $xy-positions-map);
// ----------------------------------------------------------------
@mixin positionBasedClass($property, $value, $identifier, $positions-map, $unit: "rem") {
    $sanitized: "frog"; // initialize to something or will get error
    // this is to solve the annoying problem of having to pass in a
    // map with a single key-value pair to the `positionBasedClasses`
    // mixin because it converts map items to a list!
    @if (type-of($value) == map) {
        $key: nth(map-keys($value), 1);
        $value: nth(map-values($value), 1);
        // remove the key if 'default' to allow for base class
        $sanitized: if($key == default, "", $key);
    } @else {
        $sanitized: sanitizeClassName($value);
    }

    @each $axis-or-position-key, $positions in $positions-map {
        $variant: stripDash(-#{$sanitized}#{handleClassUnit($unit)});
        $class: stripXy(#{$identifier}#{$axis-or-position-key}#{$variant}, $identifier);
        .#{$class} {
            @include positionBasedProperties($property, $value, $positions, $unit);
        }
    }
}

// ----------------------------------------------------------------
// -- GENERATE CLASSES FROM A MAP OF VALUES --
// ----------------------------------------------------------------
@mixin generateFromMapOfValues($property, $map, $identifier: "") {
    @each $key, $value in $map {
        @if ($identifier == "") {
            // if the $identifier is omitted just us the key as the class name
            @include singlePropertyClass(#{$key}, $property, $value);
        } @else {
            // otherwise join $identifier and $key for class name
            @include singlePropertyClass(#{$identifier}-#{$key}, $property, $value);
        }
    }
}

// ----------------------------------------------------------------
// -- GENERATE CLASSES FROM A MAP OF PROPERTIES --
// ----------------------------------------------------------------
// null values will be handled when required in the builder mixins

@mixin generateFromMapOfProperties($properties-map) {
    @each $property, $map in $properties-map {
        $identifier: map-get($map, "prefix");
        $values: map-get($map, "values");
        $unit: map-get($map, "unit");
        $positions-map: map-get($map, "positions");

        @if ($positions-map) {
            @include positionBasedClasses($property, $values, $identifier, $positions-map, $unit);
        } @else {
            @include generalClasses($property, $values, $identifier, $unit);
        }
    }
}

// always pass in a unit, even if it is null. This is to allow for
// the unit to be appended to the class name and will be omitted if
// the unit is null.
@mixin generalClasses($property, $values, $identifier, $unit) {
    @each $key, $value in $values {
        $variant: sanitizeClassName($key);

        // if there is no `key-value` pair in the map, the key
        // will be used as the value this allows for a list of
        // values to be used as the map
        $value: if($value, $value, $key);

        // if the $key is a list, then the value key-value pair in
        // the property map has been converted. This is a sass thing
        // and I don't know why it does this. So we have to convert
        // it to something usable.
        @if (type-of($key) == list) {
            $variant: nth($key, 1);
            $value: nth($key, 2);
        }

        // if the $value has a unit, consider it as an override and
        // replace what ever was passed in to the mixin. Note: this
        // may have limitations or unexpected results. This is good
        // for creating base variants `container-sm`
        $unit: if(hasUnit($value), "", $unit);

        $class: #{$identifier}#{$variant}#{handleClassUnit($unit)};

        // handleValue function append's the unit if required
        @include singlePropertyClass(#{$class}, $property, #{handleValue($value, $unit)});
    }
}

// ----------------------------------------------------------------
// -- GENERATE UNIT BASED CLASSES FOR A SINGLE PROPERTY --
// ----------------------------------------------------------------
// Escapes decimals and removes decimal when value is less than 1
//
// $padding-sizes: (0.5, 1, 1.5);
// @include unitBasedClasses(padding, $padding-sizes, "pxy");
//
// $padding-sizes-px: (8, 16, 24);
// @include unitBasedClasses(padding, $padding-sizes, "pxy", "px");
//

@mixin unitBasedClasses($property, $values, $identifier, $unit: "rem") {
    @each $value in $values {
        $sanitized: sanitizeClassName($value);
        $class: #{$identifier}-#{$sanitized}#{handleClassUnit($unit)};
        @include singlePropertyClass($class, $property, #{$value}#{$unit});
    }
}

// ----------------------------------------------------------------
// -- GENERATE POSITION BASED CLASSES FOR A SINGLE PROPERTY --
// ----------------------------------------------------------------
@mixin positionBasedClasses($property, $values, $identifier, $positions-map, $unit: "rem") {
    // for reasons unknown, the map is converted to a list when
    // passed to this mixin, so we have to convert it back to a map.
    // The map will be handles in the `positionBasedClass` mixin
    @each $key, $value in $values {
        // prettier-ignore
        $value: if( $value==null, $key, ( $key: $value ) );
        @include positionBasedClass($property, $value, $identifier, $positions-map, $unit);
    }
}
