@use "../functions/helpers" as *;
@use "../mixins/helpers" as *;
@use "sass:string";

// ----------------------------------------------------------------
// Generate single property classes from map of values.
// ----------------------------------------------------------------
@mixin generateFromMapOfValues($property, $values, $identifier: "") {
    @each $key, $value in $values {
        @if ($identifier == "") {
            // if the $identifier is omitted just us the key as the class name
            @include createSinglePropertyClass(#{$key}, $property, $value);
        } @else {
            // otherwise join $identifier and $key for class name
            @include createSinglePropertyClass(#{$identifier}-#{$key}, $property, $value);
        }
    }
}

// ----------------------------------------------------------------
// All purpose mixin to generate classes for a single property
// classes from map of properties.
// ----------------------------------------------------------------
// 1. These values can be null and will be handled appropriately by
//    the relevant mixin

@mixin generateFromMapOfProperties($properties-map) {
    @each $property, $map in $properties-map {
        $identifier: map-get($map, "prefix");
        $values: map-get($map, "values");
        $unit: map-get($map, "unit"); // 1.
        $positions: map-get($map, "positions"); // 1.
        $breakpoints: map-get($map, "breakpoints"); // 1.

        @if ($positions) {
            @include positionBasedClasses($property, $values, $identifier, $positions, $unit);
        } @else {
            @include createClasses($property, $values, $identifier, $unit, $breakpoints);
        }
    }
}

// ----------------------------------------------------------------
// --  --
// ----------------------------------------------------------------

@mixin generateFromMapOfClasses($properties-map) {
    // how to check for property, or class map?

    @each $class, $map in $properties-map {
        $props: map-get($map, "props");
        $breakpoints: map-get($map, "breakpoints");

        .#{$class} {
            @include createProperties($props);
        }

        // handle responsive variants
        @if ($breakpoints) {
            @include makeFromBreakpoint($props, $class, $breakpoints...);
        }
    }
}

// ----------------------------------------------------------------
// Standalone mixin to create single property classes
// ----------------------------------------------------------------
// Important, all parameters are required even if they are null to
// make sure the mixin works as expected.
//
// 1. $kv can be a single value `1.5` which will represent both the
//    key and value, alternatively it can be the key only for a
//    key-value pair. This allows you to pass in a list of values or
//    a map of key-value pairs.
// 2. escape or convert any invalid characters in the key
// 3. if there is no value, then a key-value pair was not passed in
//    and the key will be used as both the `key` and the `value`.
// 4. if the `kv` type is a list, then it is a map with a single
//    key-value pair that has been converted to a list and it needs
//    to be convert back to a map. I am not sure why it does this
//    but it appears to be a sass thing!
// 5. if the $value has a unit, consider it as an override and
//    replace what ever was passed in to the mixin. Note: this may
//    have limitations or unexpected results. This is good for
//    creating base variants `container-sm`

//
// prettier-ignore
@mixin createClasses($property, $values, $identifier, $unit, $breakpoints) {

    @each $kv, $value in $values { // 1.

        $variant: escapeInvalid($kv); // 2.
        $value: if($value, $value, $kv); // 3.

        @if (type-of($kv) == list) { // 4.
            $variant: nth($kv, 1);
            $value: nth($kv, 2);
        }
        $unit: if(hasUnit($value), "", $unit); // 5. ??

        $class: #{$identifier}#{$variant}#{handleClassUnit($unit)};

        // conditionally create responsive variants
        @if ($breakpoints) {
            @include makeFromBreakpoint(($property: $value), $class, $breakpoints...);
        }

        @include createSinglePropertyClass(#{$class}, $property, #{handleValue($value, $unit)});
    }
}

// ----------------------------------------------------------------
// Standalone mixin to create single property position based classes
// ----------------------------------------------------------------
// There is a bit of duplication here, but it is necessary to keep
// the code clean and readable.

// prettier-ignore
@mixin positionBasedClasses($property, $values, $identifier, $positions-map, $unit: "rem") {

    @each $kv, $value in $values { // 1.

        $variant: escapeInvalid($kv); // 2.
        $value: if($value, $value, $kv); // 3.

        @if (type-of($kv) == list) { // 4.
            $variant: nth($kv, 1);
            $value: nth($kv, 2);
        }

        @each $axis-or-position-key, $positions in $positions-map {
            $class: #{$identifier}#{$axis-or-position-key}-#{$variant}#{handleClassUnit($unit)};
            @include createPositionClass($class, $property, $value, $positions, $unit);
        }
    }
}

// ----------------------------------------------------------------
// Standalone mixin to create single property unit based classes
// ----------------------------------------------------------------
@mixin unitBasedClasses($property, $values, $identifier, $unit: "rem") {
    @each $value in $values {
        $escapedValue: escapeInvalid($value);
        $class: #{$identifier}-#{$escapedValue}#{handleClassUnit($unit)};
        @include createSinglePropertyClass($class, $property, #{$value}#{$unit});
    }
}
