@use "../functions/helpers" as *;
@use "./propertyGenerators" as *;
@use "sass:string";

// ----------------------------------------------------------------
// -- CLASS CREATORS --
// ----------------------------------------------------------------
@mixin singlePropertyClass($class, $property, $value) {
    .#{$class} {
        #{$property}: $value;
    }
}

@mixin positionBasedClass($property, $value, $identifier, $positions-map, $unit: "rem") {
    $sanitized: sanitizeForClassName($value);
    @each $axis-or-position-key, $positions in $positions-map {
        $class: #{$identifier}#{$axis-or-position-key}-#{$sanitized};

        // @debug $identifier;
        @debug $value;
    //     .#{$class} {
    //         @include positionBasedProperties($property, $positions, $value);
    //     }
    }
}

// ----------------------------------------------------------------
// -- GENERATE CLASSES FROM A MAP OF VALUES --
// ----------------------------------------------------------------
@mixin generateFromMapOfValues($property, $map, $identifier: "") {
    @each $key, $value in $map {
        @if ($identifier == "") {
            // if the $identifier is omitted just us the key as the class name
            @include singlePropertyClass(#{$key}, $property, $value);
        } @else {
            // otherwise join $identifier and $key for class name
            @include singlePropertyClass(#{$identifier}-#{$key}, $property, $value);
        }
    }
}

// ----------------------------------------------------------------
// -- GENERATE CLASSES FROM A MAP OF PROPERTIES --
// ----------------------------------------------------------------
// This does not support mixed maps, must have all keys or no keys

@mixin generateFromMapOfProperties($properties-map) {
    @each $property, $map in $properties-map {
        $identifier: map-get($map, "prefix");
        $values: map-get($map, "values");
        // actual unit to add to property or null
        $unit: map-get($map, "unit");
        // derived unit for class name
        $unitToAppend: if($unit != "rem", $unit, "");

        $positions-map: map-get($map, "positions");

        @each $key, $value in $values {
            // if there is no `key-value` pair in the map, the key
            // will be used as the value this allows for a list of
            // values to be used as the map
            $value: if($value, $value, $key);
            $sanitized: sanitizeForClassName($key);
            $class: #{$identifier}#{$sanitized}#{$unitToAppend};

            // if has positions, create position based classes
            // can have one or more positions
            @if ($positions-map) {
                @debug $value;
                // pass in the identifier and build class name in the mixin
                // @include positionBasedClass($property, $value, $identifier, $positions-map, $unit);
            }

            // if there is a unit then append it to the value
            @include singlePropertyClass(#{$class}, $property, #{$value}#{$unit});
        }
    }
}

// ----------------------------------------------------------------
// -- GENERATE UNIT BASED CLASSES FOR A SINGLE PROPERTY --
// ----------------------------------------------------------------
// Escapes decimals and removes decimal when value is less than 1
//
// $padding-sizes: (0.5, 1, 1.5);
// @include unitBasedClasses(padding, $padding-sizes, "pxy");
//
// $padding-sizes-px: (8, 16, 24);
// @include unitBasedClasses(padding, $padding-sizes, "pxy", "px");
//

@mixin unitBasedClasses($property, $values, $identifier, $unit: "rem") {
    // if the unit is not "rem" then append it to the class name, or
    // else append nothing
    $unitToAppend: if($unit!= "rem", $unit, "");

    @each $value in $values {
        $sanitized: sanitizeForClassName($value);
        $class: #{$identifier}-#{$sanitized}#{$unitToAppend};
        @include singlePropertyClass($class, $property, #{$value}#{$unit});
    }
}

// ----------------------------------------------------------------
// -- GENERATE POSITION BASED CLASSES FOR A SINGLE PROPERTY --
// ----------------------------------------------------------------

@mixin positionBasedClasses($property, $values, $identifier, $positions-map, $unit: "rem") {
    @each $value in $values {
        @each $axis-or-position-key, $positions in $positions-map {
            $sanitized: sanitizeForClassName($value);
            $class: #{$identifier}#{$axis-or-position-key}-#{$sanitized};
            .#{$class} {
                // loop through each position and create associated properties
                @include positionBasedProperties($property, $positions, $value);
            }
        }
    }
}
