@use "../config" as *;
@use "../functions/colorShades" as *;
@use "../functions/get" as *;

// NK::TD do not include the dash when creating the file class name,
//  the mixin will look after it. the $shade-type specifies if the
//  shades should be darker, lighter or both. 'both is the default'
//  when adding the the number of shades you need to include the
//  total including the base color.??? $base-color is the center,
//  will make darker and lighter the number of shaded total or
//  either side????

@mixin generateDarkerShades($identifier, $base-color, $num-shades, $step) {
    @for $i from $num-shades - 1 through 1 {
        .#{$identifier}-#{$i + $num-shades} {
            background-color: colorShades($base-color, $i, -$step);
        }
    }
}

@mixin generateLighterShades($identifier, $base-color, $num-shades, $step) {
    @for $i from $num-shades - 1 through 1 {
        .#{$identifier}-#{$i} {
            background-color: colorShades($base-color, $num-shades - $i, $step);
        }
    }
}

// ==========================================================================
// creates multiple classes with different color shades
// ==========================================================================

@mixin colorShadeClasses($identifier, $base-color, $num-shades: 6, $step: get("shades.step", $config), $shade: "both") {
    @include generateDarkerShades($identifier, $base-color, $num-shades, $step);
    // create the base-class separately to make sure it is in the middle
    .#{$identifier}-#{$num-shades} {
        background-color: $base-color;
    }
    @include generateLighterShades($identifier, $base-color, $num-shades, $step);
}


// ==========================================================================
// -- CREATE PROPERTIES FOR BASIC COLOR SCHEME --
// ==========================================================================

@mixin basicColorScheme($base, $border-color: setBorderShadeColor($base), $font-color: setTextColor($base)) {
    background-color: $base;
    border: 1px solid $border-color;
    color: $font-color;
}


