@use "../functions/helpers" as *;
@use "./media" as *;
// ----------------------------------------------------------------
// -- CLASS CREATORS --
// ----------------------------------------------------------------
@mixin createSinglePropertyClass($class, $property, $value) {
    .#{$class} {
        #{$property}: $value;
    }
}

@mixin createMultiplePropertyClass($class, $props) {
    .#{$class} {
        @include createProperties($props);
    }
}

// $positions is each individual position, e.g., top, bottom, left, right
@mixin createPositionClass($property, $value, $positions-map, $unit, $identifier, $variant) {
    @each $axis-or-position-key, $positions in $positions-map {
        $class: #{$identifier}#{$axis-or-position-key}-#{$variant}#{handleClassUnit($unit)};
        .#{$class} {
            @include createPositionProperties($property, $value, $positions, $unit);
        }
    }
}

// @mixin createPositionClass($class, $property, $value, $positions, $unit: "rem") {
//     .#{$class} {
//         @include createPositionProperties($property, $value, $positions, $unit);
//     }
// }

// ----------------------------------------------------------------
// -- CREATE ONE OR MANY PROPERTIES FROM MAP OF KEY-VALUE PAIRS --
// ----------------------------------------------------------------
@mixin createProperties($props) {
    @each $property, $value in $props {
        #{$property}: $value;
    }
}

// ----------------------------------------------------------------
// Generate properties based on positional requirements. For
// example, when `margin-top` requires a value for `top`, and
// `margin-x` requires values for `left` and `right`.
// ----------------------------------------------------------------
// This mixin iterates through a list of positions, creating the
// appropriate property (e.g., `top`, `bottom`, `left`, `right`)
// based on the provided value.
//
// You can specify the unit of measurement with the optional `$unit`
// parameter, with the default unit being "rem".

@mixin createPositionProperties($property, $value, $positions, $unit: "rem") {
    @each $position in $positions {
        $derivedUnit: if(($value == "auto" or $value == 0), null, $unit);
        #{$property}-#{$position}: #{$value}#{$derivedUnit};
    }
}

// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------
//
// SCSS does not support interpolation for @include so there is no
// choice other than using multiple if-else statements.
//
// ---------------- BEFORE YOU DO ANYTHING CRAZY ------------------

// output:  {bp}\:identifier
@mixin makeFromBreakpoint($props, $identifier, $breakpoints...) {
    @each $bp in $breakpoints {
        $class: #{$bp}\:#{$identifier};
        .#{$class} {
            @if ($bp == "sm") {
                @include from-sm {
                    @include createProperties($props);
                }
            } @else if($bp == "md") {
                @include from-md {
                    @include createProperties($props);
                }
            } @else if($bp == "lg") {
                @include from-lg {
                    @include createProperties($props);
                }
            } @else if($bp == "xl") {
                @include from-xl {
                    @include createProperties($props);
                }
            } @else if($bp == "xxl") {
                @include from-xxl {
                    @include createProperties($props);
                }
            }
        }
    }
}

// output:  to-{breakpoint}\:identifier
@mixin makeToBreakpoint($props, $identifier, $breakpoints...) {
    @each $bp in $breakpoints {
        .to-#{$bp}\:#{$identifier} {
            @if ($bp == "sm") {
                @include to-sm {
                    @include createProperties($props);
                }
            } @else if($bp == "md") {
                @include to-md {
                    @include createProperties($props);
                }
            } @else if($bp == "lg") {
                @include to-lg {
                    @include createProperties($props);
                }
            } @else if($bp == "xl") {
                @include to-xl {
                    @include createProperties($props);
                }
            } @else {
                @error 'The device '#{$bp}' is not available for this mixin, you need to remove it from the args list.';
            }
        }
    }
}

// output: on-{breakpoint}\:identifier
@mixin makeOnBreakpoint($props, $identifier, $breakpoints...) {
    @each $bp in $breakpoints {
        .on-#{$bp}\:#{$identifier} {
            @if ($bp == "sm") {
                @include on-sm {
                    @include createProperties($props);
                }
            } @else if($bp == "md") {
                @include on-md {
                    @include createProperties($props);
                }
            } @else if($bp == "lg") {
                @include on-lg {
                    @include createProperties($props);
                }
            } @else if($bp == "xl") {
                @include on-xl {
                    @include createProperties($props);
                }
            } @else if($bp == "xxl") {
                @include on-xxl {
                    @include createProperties($props);
                }
            }
        }
    }
}
