
// 
@mixin make-property($property, $value) {
    #{$property}: $value;
}

@mixin make-properties($props) {
    @each $property, $value in $props {
        @include make-property($property, $value);
    }
}


// ============================================================================
// Generate a single directional property, e.g. margin-block-start or inset-left.
// Skips unit if value is 'auto' or 0.
// ============================================================================

@mixin create-position-property($property, $value, $position, $unit: 'rem') {
    $derived-unit: if(($value == 'auto' or $value == 0), null, $unit);

    #{$property}-#{$position}: #{$value}#{$derived-unit};
}

// ============================================================================
// Generate directional properties for a list of positions.
// Useful for applying the same value across multiple sides.
// ============================================================================

@mixin create-position-properties($property, $value, $positions, $unit: 'rem') {
    @each $position in $positions {
        @include create-position-property($property, $value, $position, $unit);
    }
}
