@use '../functions/color-functions' as *;
@use 'sass:map';
@use 'sass:color';

// ============================================================================
// BASE THEME - Sets up the base state
// ============================================================================
@mixin make-basic-theme(
    $base-color,
    $border-color: border-contrast($base-color),
    $font-color: text-color($base-color)
) {
    background-color: $base-color;
    border: 1px solid $border-color;
    color: $font-color;
}

@mixin make-outline-theme($color, $border-width: 1px) {
    background-color: transparent;
    border: $border-width solid $color;
    color: $color;
}

// ============================================================================
// THEME SYSTEM - Builder Mixins
// ============================================================================

@mixin build-basic-theme($class, $map) {
    $base: map.get($map, 'base');
    $color: text-color($base);
    $border-color: border-contrast($base);

    @if map.get($map, 'color') {
        $color: map.get($map, 'color');
    }

    @if map.get($map, 'border-color') {
        $border-color: map.get($map, 'border-color');
    }

    .#{$class} {
        @include make-basic-theme($base, $border-color, $color);
    }
}

@mixin build-outline-theme($class, $color, $border-width: 1px) {
    .#{$class} {
        @include make-outline-theme($color, $border-width);

        &:hover:not(:disabled, .disabled) {
            background-color: $color;
            color: text-color($color);
        }
    }
}
