@use '../functions/color-functions' as *;
@use 'sass:map';
@use 'sass:color';

// ============================================================================
// BASE THEME - Sets up the base state
// ============================================================================
@mixin make-basic-theme(
    $base-color,
    $border-color: border-contrast($base-color),
    $font-color: text-color($base-color)
) {
    background-color: $base-color;
    border: 1px solid $border-color;
    color: $font-color;
}


// ============================================================================
//
// ============================================================================
@mixin build-basic-theme($identifier, $map) {
    $base: map.get($map, 'base');

    $color: if(map.get($map, 'color'), map.get($map, 'color'), text-color($base));
    $border-color: if(map.get($map, 'border-color'), map.get($map, 'border-color'), border-contrast($base));

    $hover-bg: if(map.get($map, 'hover-bg'), map.get($map, 'hover-bg'), color.adjust($base, $lightness: -15%));
    $hover-color: if(map.get($map, 'hover-color'), map.get($map, 'hover-color'), text-color($hover-bg));

    $active-bg: if(map.get($map, 'active-bg'), map.get($map, 'active-bg'), color.adjust($base, $lightness: -5%));
    $active-color: if(map.get($map, 'active-color'), map.get($map, 'active-color'), text-color($active-bg));

    .#{$identifier} {
        @include make-basic-theme($base, $border-color, $color);
    }
}
