@use "../mixins/helpers/classCreators" as *;
@use "../functions/helpers" as *; // imports all helpers

// THE MIXINS IN THE FILLE NEEDS TO BE REVIEWED AND RELOCATED TO THE APPROPRIATE HELPER FILE

// ----------------------------------------------------------------
// -- CREATE UNIT BASED PROPERTY CLASSES --
// ----------------------------------------------------------------
//
// $text-sizes: (2, 2.5, 3, 4);
// @include unitBasedUtilityClasses(font-size, $text-sizes, "txt");
//
// $text-sizes-px: (16, 20, 24);
// @include unitBasedUtilityClasses(font-size, $text-sizes, "txt", "px");
//

@mixin unitBasedUtilityClasses($property, $map, $identifier, $unit: "rem") {
    // add unit to class name if not 'rem'
    $suffix: if($unit!= "rem", $unit, "");

    @each $value in $map {
        // {prefix}-{value} excluding unit with escaped dot
        $escapedValue: escapeDecimal($value);
        $class: #{$identifier}-#{$escapedValue}#{$suffix};

        @include createSinglePropertyClass($class, $property, #{$value}#{$unit});
    }
}

