@use "../mixins/helpers/classCreators" as *;
@use "../functions/helpers" as *; // imports all helpers

// ----------------------------------------------------------------
// -- CREATE SINGLE PROPERTY UTILITY CLASSES --
// ----------------------------------------------------------------
// loop through map and create single property utility class

@mixin utilityClasses($property, $map, $identifier: "") {
    @each $key, $value in $map {
        @if ($identifier == "") {
            // if the $identifier is omitted just us the key as the class name
            @include singlePropertyClass(#{$key}, $property, $value);
        } @else {
            // otherwise join $identifier and $key for class name
            @include singlePropertyClass(#{$identifier}-#{$key}, $property, $value);
        }
    }
}

// ----------------------------------------------------------------
// -- CREATE UNIT BASED PROPERTY CLASSES --
// ----------------------------------------------------------------
//
// $text-sizes: (2, 2.5, 3, 4);
// @include unitBasedUtilityClasses(font-size, $text-sizes, "txt");
//
// $text-sizes-px: (16, 20, 24);
// @include unitBasedUtilityClasses(font-size, $text-sizes, "txt", "px");
//

@mixin unitBasedUtilityClasses($property, $map, $identifier, $unit: "rem") {
    // add unit to class name if not 'rem'
    $suffix: if($unit!= "rem", $unit, "");

    @each $value in $map {
        // {prefix}-{value} excluding unit with escaped dot
        $escapedValue: escapeDecimal($value);
        $class: #{$identifier}-#{$escapedValue}#{$suffix};

        @include singlePropertyClass($class, $property, #{$value}#{$unit});
    }
}
