.file {
    user-select: none;
    align-items: stretch;
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;

    //   bring to front and hide default input
    input[type="file"] {
        left: 0;
        opacity: 0;
        outline: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1000; // allow parent cursor to use pointer
        cursor: pointer;
    }

}
