@use "../utilities/display_visibility" as *;

$toggle-body-height: 1.5rem;
$toggle-body-width: 3rem;
$toggle-gap: 0.25rem;

.transition {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.toggle {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
        @extend .sr-only;
    }

    // toggle body
    div {
        border-radius: 9999px;
        width: $toggle-body-width;
        height: $toggle-body-height;
        background-color: hsl(0deg, 0%, 90%);

        // toggle off
        &::after {
            position: absolute;
            content: "";
            height: calc($toggle-body-height - $toggle-gap);
            width: calc($toggle-body-height - $toggle-gap);
            top: calc($toggle-gap / 2);
            left: calc($toggle-gap / 2);
            background-color: hsl(0, 0%, 100%);
            border-color: rgba(0, 0, 0, 0.15);
            border-radius: 9999px;
            border-width: 1px;
            @extend .transition;
        }
    }
}

input[type="checkbox"]:checked {
    // toggle body on (checked)
    ~ div {
        background-color: hsl(100, 70%, 40%);
        @extend .transition;
        // toggle when checked
        &::after {
            // background-color: hsl(50, 10%, 10%);
            transform: translateX(calc($toggle-body-width - $toggle-body-height));
            @extend .transition;
        }
    }
}

// input[type="checkbox"] {
//     &.toggle-1 {
//         // move checkbox offscreen
//         @extend .sr-only;

//         + label {
//             position: relative;
//             display: flex;
//             align-items: center;
//             cursor: pointer;

//             // toggle switch body
//             &::before {
//                 content: "";
//                 width: 4em;
//                 height: 1em;
//                 background-color: hsl(0, 80%, 90%);
//                 border-radius: 1em;
//                 margin-right: 0.25em;
//                 transition: background-color 200ms ease-in-out;
//             }

//             // toggle switch button
//             &::after {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 position: absolute;
//                 content: "\2715";
//                 font-size: 0.5em;
//                 height: 0.9em;
//                 left: 0.2em;
//                 width: 1.8em;
//                 height: 1.8em;
//                 background-color: hsl(0, 80%, 60%);
//                 color: white;
//                 border-radius: 1em;
//                 transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
//             }
//         }
//         &:focus + label::before {
//             outline: 1px solid black;
//         }

//         &:checked {
//             + label::before {
//                 background-color: hsl(100, 70%, 90%);
//             }

//             + label::after {
//                 content: "\2713";
//                 transform: translateX(600%);
//                 background-color: hsl(100, 70%, 60%);
//             }
//         }

//         &:disabled + label {
//             color: #777;
//             &::before {
//                 background-color: #ccc;
//             }

//             &::after {
//                 background-color: #777;
//             }
//         }
//     }
// }
