@use "../variables/vars_base" as *;
@use "../variables/vars_colors" as *;
@use "../variables" as *;
@use "../mixins/classGenerators" as *;
@use '../base/vars_utility_maps' as *;

$border-properties-map: (
    border-width: (
        prefix: #{$border-identifier},
        values: (
            0: 0px,
            1: 1px,
            2: 2px,
            3: 3px,
            4: 4px,
            5: 5px
        )
    )
);

@include generateFromMapOfProperties($border-properties-map);

// ------------------------------------------------------------------
// --  --
// ------------------------------------------------------------------

$border-radius-sizes: (0, 0.25, 0.5, 0.75, 1, 1.5, 2) !default;

@include unitBasedClasses(border-radius, $border-radius-sizes, "rounded");


// ??????
// @include positionBasedClasses(border, (1,2), "bdr-", $axis-position-map, 'px');

