
@use "../functions/helpers" as *;
@use "../mixins/media" as *;
@use '../mixins/classGenerators' as *;


// ------------------------------------------------------------------
// -- RESPONSIVE GRID --
// ------------------------------------------------------------------
@include from-lg {
    .lg\:cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include from-md {
    .md\: {
        &cols-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &cols-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &cols-9 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
