


// -- NK::TD --
// -- WIDTH & HEIGHT --
// this needs to be updated to work with multiple properties
@each $size in $rem-sizes {
    // wrap size in quotes to convert to string
    $class: "#{$size}";
    // // search and escape decimals
    $class: strReplace($class, ".", "\\.");

    .wh-#{$class} {
        width: #{$size}rem;
        height: #{$size}rem;
    }
}

// ------------------------------------------------------------------
// -- FRACTIONAL WIDTH UTILITY CLASSES --
// ------------------------------------------------------------------

$fractional-sizes: (1\/4: 25%, 1\/3: 33.33%, 1\/2: 50%, 3\/4: 75%) !default;

@each $key, $value in $fractional-sizes {
    .w-#{$key} {
        width: $value;
    }
    // -- RESPONSIVE --
    @include makeFromBreakpoint(width, $value, "w-#{$key}", "sm", "md", "lg", "xl");
}



