@use '../maps_and_variables/colors' as *;
@use 'sass:color';
@use 'sass:map';

// -- Theme Styles --
// ==========================================================================

$body-bg: hsl(0, 0%, 100%) !default;

$header-bg: $secondary !default;
$main-bg: transparent !default;

$footer-bg: #1d1d1c !default;
$footer-text-color: hsl(0, 0%, 80%) !default;

$copyright-bg: color.adjust($footer-bg, $lightness: -2%) !default;
$copyright-text-color: $footer-text-color !default;

$zebra-alt-bg: hsl(0, 0%, 96%) !default;

// -- Borders --
// ==========================================================================
$border-color: hsl(0, 0%, 90%) !default;
$border: 1px solid $border-color !default;
$border-radius: 8px !default;

// -- Spacing --
// ==========================================================================
$base-list-spacing: 0.25em !default;
$content-gap: 1.25rem !default; 
$content-padding: 1rem !default; 

// -- Misc --
// ==========================================================================
$img-path: "/images" !default;
$icon-color: inherit !default;

// -- Base Element Styles --
// ==========================================================================
$table-font-size: 0.875rem !default;
$table-header-text-transform: uppercase !default;
$table-letter-spacing: 0.05em !default;
$table-padding-x: 0.75rem !default;
$table-padding-y: 0.75rem !default;
