@use '../functions/color-functions' as *;

$ctrl-border-radius: 0.25rem !default;
$ctrl-border: 1px solid rgb(0 0 0 / 15%);
$ctrl-font-size-xs: 0.75rem !default; //
$ctrl-font-size-sm: 0.875rem !default;
$ctrl-font-size: 0.875rem !default;
$ctrl-font-size-lg: 1rem !default;
$ctrl-bg-color: #fff !default;
$ctrl-color: text-color($ctrl-bg-color) !default;
$ctrl-padding-x: 0.875rem !default;
$ctrl-padding-y: 0.625rem !default;
$ctrl-line-height: 1.5 !default;