@use '../maps_and_variables/colors' as *;
@use 'sass:color';
@use 'sass:map';

// -- Breakpoint Sizes --
// ==========================================================================
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
) !default;

$sm: map.get($breakpoints, sm) !default;
$md: map.get($breakpoints, md) !default;
$lg: map.get($breakpoints, lg) !default;
$xl: map.get($breakpoints, xl) !default;
$xxl: map.get($breakpoints, xxl) !default;

$responsive-variants: map.keys($breakpoints) !default;