@use '../maps_and_variables/base' as *;
@use '../functions/helpers' as *;
@use '../functions/map-and-list-helpers' as *;
@use 'sass:map';

// ============================================================================
// Display & Visibility
// ============================================================================
// prettier-ignore
$display: (block, flex, inline, inline-block, inline-flex, table, table-cell, ( hidden: none )) !default;

// prettier-ignore
$visibility: (collapse, visible, ( invisible: hidden )) !default;

// ============================================================================
// Positioning
// ============================================================================
$position: (static, absolute, fixed, relative, sticky) !default;

// prettier-ignore
$inset: (auto: auto, full: 100%) !default;

// ============================================================================
// Border and Outline Property Maps
// ============================================================================
// Border and outline properties share the same style values in CSS.  The only
// difference lies in their behavior: borders affect layout space, while
// outlines do not.

$border-styles: (solid, dashed, dotted, double, hidden, none);
$outline-styles: $border-styles !default;

