@use '../functions/helpers' as *;
@use '../functions/map-and-list-helpers' as *;
@use '../maps_and_variables/core' as *;
@use '../maps_and_variables/colors' as *;
@use 'sass:map';

// ============================================================================
// Title
// ============================================================================
// $size-values: () !default;
// $size-variants: () !default;
// $sizes: smart-merge($sizes-values, $sizes-variants) !default;
// ----------------------------------------------------------------------------


// ============================================================================
// Typography, fonts, line height and text properties
// ============================================================================
$letter-spacing-variants: ( tighter: -0.1em, tight: -0.05em, normal: 0em, wide: 0.05em, wider: 0.1em, widest: 0.25em) !default;

// -- text colors --
$text-base-values: $base-colors !default;
$text-base-variants: map.remove($theme-colors, 'danger', 'dark', 'info', 'light', 'success', 'warning') !default;
$text-base-map: smart-merge($text-base-values, $text-base-variants) !default;

// -- font sizes --
$font-size-values: (1, 1.5, 2, 2.5, 3, 4) !default;
$font-size-variants: () !default;
$font-size-map: smart-merge($font-size-values, $font-size-variants) !default;

$line-height-values: (1.25, 1.5, 1.75, 2) !default;
$line-height-variants: ( tight: 1.25, normal: $line-height, relaxed: 1.75, loose: 2 ) !default;
$line-height-map: smart-merge($line-height-values, $line-height-variants) !default;
