
// -- Font Weights --
$font-weight-bold: var(--base-text-weight-semibold, 600) !default;
$font-weight-semibold: var(--base-text-weight-medium, 500) !default;
$font-weight-normal: var(--base-text-weight-normal, 400) !default;
$font-weight-light: var(--base-text-weight-light, 300) !default;

// -- Headings --
$heading-sizes: 2.25em, 1.75em, 1.5em, 1.25em, 1.125em, 1em !default;
$heading-font-weight: 700 !default;
$heading-color: inherit !default;





// // The base body size
// $body-font-size: 14px !default;
// $body-line-height: $lh-default !default;
