@use "../../functions/helpers" as *;
@use "../../mixins/class-helpers" as *;
@use "sass:string";

// prettier-ignore
@mixin generate-utilities($properties-map) {

    @each $property, $map in $properties-map {
        // seperate the map into its parts for easier access
        $values: map-get($map, "values");
        $identifier: map-get($map, "prefix");
        $unit: map-get($map, "unit"); // 1.
        $positions-map: map-get($map, "positions"); // 1.
        $breakpoints: map-get($map, "breakpoints"); // 1.

        // loop through the values and create classes
        @each $key, $value in $values { // 1.

            $variant: escape-invalid($key); // 2.
            $value: if($value, $value, $key); // 3.

            @if (type-of($key) == list) { // 4.
                $variant: nth($key, 1);
                $value: nth($key, 2);
            }

            // derived values are used to create classes and are passed
            // through to minimize complexity in the class creators.
            $derived-unit: if(value-has-unit($value), null, ($unit)); // 5.
            $derived-value: #{handle-class-value($value, $derived-unit)}; // 6.
            $derived-variant: #{$variant}#{handle-class-unit($derived-unit)}; // 7.

            @if $positions-map {
                // the class naming is handled by the mixin
                @include positionBasedClass($property, $derived-value, $positions-map, $identifier, $derived-variant, $breakpoints);
            } @else{
                $derived-class: strip-invalid(#{$identifier}#{$derived-variant});
                @include singlePropertyClass(#{$derived-class}, $property, #{$derived-value}, $breakpoints);
            }
        }
    }
}

