
@use '../variables/components' as *;
@use '../../src/maps_and_variables/config' as *;
@use '../../src/maps_and_variables/base' as *;

// 1. better alignment

.#{$icon-identifier} {
    padding: 1px; // 1
    vertical-align: bottom; // 1
    color: $icon-color;
    width: $icon-xy;
    height: $icon-xy;

    &.sm {
        height: $icon-xy-sm;
        width: $icon-xy-sm;
    }
    &.md {
        height: $icon-xy-md;
        width: $icon-xy-md;
    }
    &.lg {
        height: $icon-xy-lg;
        width: $icon-xy-lg;
    }

    + span {
        margin-left: 0.5rem;
    }
}
