@use '../../src/functions/color-functions' as *;
@use '../../src/maps_and_variables/base' as *;
@use '../../src/maps_and_variables/components' as *;


.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.25;
    list-style: none;
    margin-left: 0; // remove margin for ul

    li {
        margin: 0;
    }

    :where(a, li a, .menu-item) {
        color: inherit;
        padding: $menu-padding-y $menu-padding-x;
        display: flex;
        align-items: center;

        &:is(.active, :hover):not(.disabled) {
            cursor: pointer;
            color: $menu-link-hover-color;
            background-color: $menu-hover-bg;
        }
    }

    .menu-title {
        font-weight: 600;
        letter-spacing: 0.05em;
        margin-left: $menu-padding-x;
        margin-bottom: 0.5em;

        &:not(:first-child) {
            margin-top: $content-gap;
        }
    }
}
