@use "./variables" as *;
@use "./mixins/media" as *;

// ==========================================================================
// -- LAYOUT ELEMENTS --
// ==========================================================================

body {
    min-height: 100vh; // set height to push footer to the bottom
    display: flex;
    flex-direction: column;
}

#nk-header {
    background: $header-bg;
}

:where(.nk-main) {
    flex: 1; // 1. allow to grow to fill height
    background-color: $main-bg;
}

:where(.nk-footer) {
    background-color: $footer-bg;
    margin-top: auto; // force footer to the bottom
    color: #ccc;
}

.copyright {
    color: $copyright-text-color;
    background-color: $copyright-bg;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    border: 0; // remove border from colour scheme
    width: 100%;
    margin-top: 0;
}

// ==========================================================================
// -- NAYKEL ADMIN STYLES --
// ==========================================================================

.nk-admin {
    .navbar {
        background-image: linear-gradient(to right top, #20242a, #1e1f27, #1e1a23, #1f141d, #1f0e16, #250e15, #2c0e12, #310f0c, #40140e, #4e1a0e, #5c210c, #692906);
    }
}

// ==========================================================================
// -- MARKDOWN --
// ==========================================================================

.code-first-col,
.code-second-col,
.code-all-col {
    + table tbody {
        margin-top: $content-gap;
        font-size: 0.85em;
        tr td:first-child {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            color: #f0506e;
            border-radius: 0.25rem;
        }
    }
}
.code-all-col {
    + table tbody {
        td {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            color: #f0506e;
            border-radius: 0.25rem;
        }
    }
}

#toc {
    margin-bottom: 1.5em;
}

.markdown {
    // hack to remove indented when using @verbatim
    .-ml-2 pre code {
        margin-left: -2rem;
    }
    .-ml-3 pre code {
        margin-left: -3rem;
    }
    .-ml-4 pre code {
        margin-left: -4rem;
    }
    .-ml-5 pre code {
        margin-left: -5rem;
    }
    .-ml-6 pre code {
        margin-left: -6rem;
    }
    .-ml-7 pre code {
        margin-left: -7rem;
    }
    .-ml-8 pre code {
        margin-left: -8rem;
    }
    .-ml-9 pre code {
        margin-left: -9rem;
    }

    tab-size: 0;
    table {
        width: 100%; // DON'T CHANGE!!
    }

    // allow to work in markdown component with div
    pre {
        margin-top: $content-gap;
        margin-bottom: $content-gap;
    }
}

.bg-stripes-blue {
    background-color: #60a5fa1a;
    background-image: linear-gradient(135deg, #3b82f680 10%, #0000 0, #0000 50%, #3b82f680 0, #3b82f680 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}

.bg-stripes-pink {
    background-color: #f472b61a;
    background-image: linear-gradient(135deg, #ec489980 10%, #0000 0, #0000 50%, #ec489980 0, #ec489980 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}

.bg-stripes-violet {
    background-color: #a78bfa1a;
    background-image: linear-gradient(135deg, #8b5cf680 10%, #0000 0, #0000 50%, #8b5cf680 0, #8b5cf680 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}
