@use "./base/vars_all" as *;
@use "./mixins/media" as *;

// ==========================================================================
// -- MARKDOWN --
// ==========================================================================

%code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #f0506e;
    border-radius: 0.25rem;
}

%markdown-table {
    margin-top: $content-gap;
    font-size: 0.85em;
}
code-first-col {
    + table tbody {
        @extend %markdown-table;
        tr td:first-child {
            @extend %code;
        }
    }
}
code-second-col {
    + table tbody {
        @extend %markdown-table;
        tr td:nth-child(2) {
            @extend %code;
        }
    }
}
code-first-second-col {
    + table tbody {
        @extend %markdown-table;
        tr td:is(:first-child, :nth-child(2)) {
            @extend %code;
        }
    }
}

// UPDATE TO HTML COMPONENT
.code-first-col,
.code-second-col,
.code-all-col {
    + table tbody {
        margin-top: $content-gap;
        font-size: 0.85em;
        tr td:first-child {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            color: #f0506e;
            border-radius: 0.25rem;
        }
    }
}
.code-all-col {
    + table tbody {
        td {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            color: #f0506e;
            border-radius: 0.25rem;
        }
    }
}

#toc {
    margin-bottom: 1.5em;
}

// this is a hack solution to an ugly problem when using x-gt-markdown
.markdown pre {
    overflow: auto;
}

.markdown {
    // hack to remove indented when using @verbatim
    .-ml-2 pre code {
        margin-left: -2rem;
    }
    .-ml-3 pre code {
        margin-left: -3rem;
    }
    .-ml-4 pre code {
        margin-left: -4rem;
    }
    .-ml-5 pre code {
        margin-left: -5rem;
    }
    .-ml-6 pre code {
        margin-left: -6rem;
    }
    .-ml-7 pre code {
        margin-left: -7rem;
    }
    .-ml-8 pre code {
        margin-left: -8rem;
    }

    tab-size: 0;
    table {
        width: 100%; // DON'T CHANGE!!
    }

    // allow to work in markdown component with div
    pre {
        margin-top: $content-gap;
        margin-bottom: $content-gap;
    }

    h2::before {
        content: " ";
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        height: 12px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20px' height='12px' viewBox='0 0 20 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3e%3cpath d='M25,1 C20,1 20,11 15,11 C10,11 10,1 5,1 C0,1 0,11 -5,11 C-10,11 -10,1 -15,1' id='Line' stroke='%23CBD5DF' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
    }
}
