@use './v1/core-imports' as *;
@use './mixins/generate-magic-classes' as *;
@use 'sass:map';


// magic classes
$magic-margin-y: ((5, 3, 2), (3, 2, 1)) !default;
@include generate-magic-classes(margin, $magic-margin-y, 'my', $position-or-axis: y);

// magic classes
$magic-padding-y: ((5, 3, 2), (5, 3, 2, 2), (3, 2, 1)) !default;
@include generate-magic-classes(padding, $magic-padding-y, "py", $position-or-axis: y);

.c-py-025 > * {
    padding-block: 0.25rem;
}
.c-py-3 > * {
    padding-block: 3rem;
}


.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}


@each $value in $opacity-values {
    $variant: handle-invalid($value);
    .hover\:opacity-#{$variant}:hover {
        opacity: $value;
    }
}
