@use './common-tools' as *;
@use './functions/normalise-config' as *;
@use './functions/resolvers' as *;
@use './maps_and_variables/colors' as *;
@use './mixins/build-magic-grid' as *;
@use './mixins/make-classes-old' as *;
@use './mixins/make-classes' as *;
@use './mixins/build-classes' as *;
@use './mixins/transition' as *;
@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
@use 'sass:meta';

$margin-map: (2, 3);

$logical-position-map: (
    // Full axes
    xy: (block-start, block-end, inline-start, inline-end),
    x: (inline-start, inline-end),
    y: (block-start, block-end),

    // // Individual directions
    // t: block-start,
    // b: block-end,
    // l: inline-start,
    // r: inline-end,
) ;

// prettier-ignore
$properties-map: (
    color: (
        prefix: 'txt-',
        values: ( red, blue )
    ),
    margin: (
        prefix: 'm',
        values: $margin-map,
        unit: 'rem',
        positions: $logical-position-map,
        breakpoints: ( sm, md ) 
    )
);

// responsive is not working yet???

/* - previous output -  */
// @include build-classes($properties-map, $responsive: true);

/* - update output-  */
@include build-classes-new($properties-map, $responsive: true);

