// @use './components/button' as *;
@use './mixins/build-system/controllers' as *;
@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
@use 'sass:meta';

// ============================================================================

$properties-map: (
    color: (prefix: 'txt-', values: (red, blue), breakpoints: (md, lg))
);

/* -- base only -- */
// this should build just the base classes, ignoring states and responsive variants
@include build-base-classes($properties-map);

/* -- responsive only -- */
// this should build just the base classes and the responsive variants, ignoring states
@include build-responsive-classes($properties-map, $responsive: true);

/* -- grand unified -- */
// this should build all classes, including states and responsive variants (if defined in the config)
@include build-classes($properties-map, $responsive: true);