// @use './components/button' as *;
@use './mixins/build-system/controllers' as *;
@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
@use 'sass:meta';

// ============================================================================

$base-properties-map: (
    color: (prefix: 'txt-',
        values: (red, blue))
);

$responsive-properties-map: (
    color: (prefix: 'txt-',
        values: (red, blue),
        breakpoints: (md, lg))
);

$properties-map: (
    color: (prefix: 'txt-',
        values: (red, blue),
        breakpoints: (md, lg))
);

/* -- base only -- */
@include build-base-classes($base-properties-map, $responsive: false);

/* -- responsive only -- */
@include build-responsive-classes($responsive-properties-map, $responsive: true);

/* -- grand unified -- */
@include build-classes($properties-map, $responsive: true);