@use './functions/map-and-list-helpers' as *;
@use './maps_and_variables/base' as *;
@use './maps_and_variables/colors' as *;
@use './mixins/backgrounds' as *;
@use './mixins/breakpoint-utilities' as *;
@use './mixins/build-system/controllers' as *;
@use 'sass:map';

// prettier-ignore
@include cq-make-on-breakpoint((visibility: hidden), 'invisible', $responsive-variants );

// prettier-ignore
@include cq-make-on-breakpoint((visibility: visible), 'visible', $responsive-variants );

// prettier-ignore
@include cq-make-from-breakpoint((visibility: hidden), 'invisible', $responsive-variants );

// prettier-ignore
@include cq-make-from-breakpoint((visibility: visible), 'visible', $responsive-variants );

// prettier-ignore
@include cq-make-to-breakpoint((visibility: hidden), 'invisible', remove-from-list($responsive-variants, xxl));

// prettier-ignore
@include cq-make-to-breakpoint((visibility: visible), 'visible', remove-from-list($responsive-variants, xxl));
