// @use './components/button' as *;
@use './mixins/build-system/controllers' as *;
@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
@use 'sass:meta';

// ============================================================================

$base-properties-map: (
    color: (prefix: 'txt-', values: (red, blue)),
    margin: (prefix: 'm', values: (0, 1, 2), unit: 'rem')
);

@include build-base-classes($base-properties-map);