// @use './utilities/border' as *;
@use './common-tools' as *;
@use './functions/normalise-config' as *;
@use './functions/resolvers' as *;
@use './maps_and_variables/colors' as *;
@use './mixins/build-magic-grid' as *;
@use './mixins/make-classes-old' as *;
@use './mixins/make-classes' as *;
@use './mixins/transition' as *;
@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
@use 'sass:meta';

// @include make-responsive-class($property, $class, $value, $breakpoints); // does this handle positions??


// ============================================================================
// Normalised config example usage
// ============================================================================
// this is not the properties map, but the normalised config for a single
// property that will be used to generate classes for that property.

// prettier-ignore
$normalised-color-config: (
    property: 'color',
    prefix: 'txt-',
    child-combinator: false,
    variants: (
        'txt-red': (          // ← Final class name
            value: red,     // ← CSS value for color property
            suffix: 'red'     // ← What comes after prefix
        ),
        'txt-blue': (
            value: blue,
            suffix: 'blue'
        )
    )
);

// @include build-base-layer($normalised-color-config);



// prettier-ignore
$normalised-margin-config: (
    property: 'margin',
    prefix: 'm-',
    positions: (
        x: (inline-start, inline-end),
        y: (block-start, block-end)
    ),
    child-combinator: false,
    omit-axis-keys: false,
    variants: (
        'm-1': (
            value: 1rem,
            suffix: '1'
        ),
        'm-2': (
            value: 2rem,
            suffix: '2'
        )
    )
);

@include build-base-layer($normalised-margin-config);

// Generates: .mx-1, .my-1, .mt-1, .mr-1, .mb-1, .ml-1
//            .mx-2, .my-2, .mt-2, .mr-2, .mb-2, .ml-2 
