@use './mixins/build-system/controllers' as *;
@use './mixins/build-classes' as *; // this is the original working one

// ============================================================================
// This is the existing build system
// ============================================================================
$properties-map: (
    // color: (
    //     prefix: 'txt-', values: (red, blue), 
    //     breakpoints: (md, lg)
    // ),
    margin: (
        prefix: 'm', values: (0, 1), unit: 'rem', 
        breakpoints: (md, lg),
        positions: (x: (inline-start, inline-end), y: (block-start, block-end))
    )
);

/* -- ORIGINAL: working god mode mixin -- */
@include build-classes($properties-map, $responsive: true);


// ============================================================================
// NEW BUILD SYSTEM - In development
// ============================================================================

/* -- base only -- */
@include build-base-classes($properties-map, $responsive: false);

/* -- responsive only -- */
@include build-responsive-classes($properties-map, $responsive: true);

/* -- grand unified -- */
@include build-classes-2($properties-map, $responsive: true);
