@use '../maps_and_variables/base' as *;

*,
::after,
::before {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $base-font;
    font-size: $font-size;
    line-height: $line-height;
    scroll-behavior: smooth;
    tab-size: 4;
    text-size-adjust: 100%;
}

body {
    background-color: $bg-body;
    color: $text-color;
    line-height: inherit;
}

hr {
    border-color: $border-color;
    border-top-width: 2px;
    height: 0;
    margin: $base-gap 0;
}

img,
video {
    height: auto;
    max-width: 100%;
}

summary {
    display: list-item;
}

progress {
    vertical-align: baseline;
}

[hidden] {
    display: none !important;
}

blockquote {
    border-inline-start: 5px solid $primary;
    padding: 0.4rem;
    padding-inline-start: 1rem;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::placeholder {
    color: #c5c5c5;
    opacity: 1;
}

button,
input {
    overflow: visible;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    appearance: auto;
    background-color: transparent;
    background-image: none;
}

textarea {
    overflow: auto;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    appearance: none;
}

::input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    appearance: auto;
    font: inherit;
}

button,
[role='button'] {
    cursor: pointer;
}

:is(.disabled, :disabled, [aria-disabled]) {
    cursor: not-allowed;
    opacity: 0.6;
}

[type='search'] {
    appearance: textfield;
    outline-offset: -2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input[type='number'] {
    appearance: textfield;
}
