@use '../variables' as *;

* {
    margin: 0; // 1.
    padding: 0; // 1.
}

// 1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
// 2. Allow adding a border to an element by just adding a border-width.

*,
::before,
::after {
    box-sizing: border-box; // 1
    border-width: 0; // 2
    border-style: solid; // 2
    border-color: $border-color; // 2
}

// 1. Use a consistent sensible line-height in all browsers.
// 2. Prevent adjustments of font size after orientation changes in iOS.
// 3. Use a more readable tab size.

html {
    line-height: $line-height; // 1
    -webkit-text-size-adjust: 100%; // 2
    -moz-tab-size: 4; // 3
    tab-size: 4; // 3
    font-family: $font-family;
    font-size: $font-size;
    scroll-behavior: smooth;
}

// 1. Inherit line-height from `html` so users can set them as a class directly on the `html` element.

body {
    line-height: inherit; // 1
    color: $color;
    background-color: $body-bg;
}

hr {
    height: 0; 
    border-color: #ccc;
    border-top-width: 2px; 
    margin: $content-gap 0;
}

//  1. Add the correct text decoration in Chrome, Edge, and Safari.

abbr:where([title]) {
    text-decoration: underline dotted; // 1
}

// -- Typography --
// ==========================================================================

@for $size from 1 through length($heading-sizes) {
    h#{$size} {
        font-size: nth($heading-sizes, $size);
    }
}

:where(h1, h2, h3, h4, h5, h6) {
    font-weight: $heading-font-weight;
    color: $heading-and-title-color;
    line-height: 1.25;
    text-wrap: balance;
}

// add top margin to all headings unless they are H1 or first child. H1 will
// almost always be first child
// 1. use em to adjust gap between sizes
:is(h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 1.5em; // 1
}

// 1. Don't leave a single word on a line by itself

p {
    text-wrap: pretty; // 1
}

// DO NOT reset for opt-in unless you want to keep adding and
// overriding classes. Use :is() makes it easier to override
:is(a) {
    color: $link-color;
    text-decoration: inherit;
    cursor: pointer;

    &:hover {
        color: $link-hover-color;
    }
}

b,
strong {
    font-weight: bolder;
}

pre {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 0.875rem;
    color: #d9558c;
    border-radius: 0.25rem;
}

// 1. override highlightJS css
pre code {
    line-height: 1.8;
    padding: 1.25rem !important; // 1
}

small {
    font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

// -- Tables --
// ==========================================================================

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: 600;
    vertical-align: middle;
}

th,
td {
    font-size: 0.875rem;
    padding-inline: 0.75rem;
    padding-block: 0.75rem;
    vertical-align: inherit;
}

// 1. Change the font styles in all browsers.

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; // 1
    font-size: 100%; // 1
    font-weight: inherit; // 1
    line-height: inherit; // 1
    // color: inherit; // this is causing problems with input color
}

// 1. Remove the inheritance of text transform in Edge and Firefox.

button,
select {
    text-transform: none; //1
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Remove default button styles.

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button; // 1
    background-color: transparent; // 2
    background-image: none; // 2
}

// Use the modern Firefox focus style for all focusable elements.

:-moz-focusring {
    outline: auto;
}

// Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)

:-moz-ui-invalid {
    box-shadow: none;
}

// Add the correct vertical alignment in Chrome and Firefox.

progress {
    vertical-align: baseline;
}

// Correct the cursor style of increment and decrement buttons in Safari.

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.

[type='search'] {
    -webkit-appearance: textfield; // 1
    outline-offset: -2px; // 2
}

// Remove the inner padding in Chrome and Safari on macOS.

::-webkit-search-decoration {
    -webkit-appearance: none;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.

::-webkit-file-upload-button {
    -webkit-appearance: button; // 1
    font: inherit; // 2
}

// Add the correct display in Chrome and Safari.

summary {
    display: list-item;
}

// -- Lists --
// ==========================================================================

// 1. set style-position outside to align text when wrapping
// 2. indent to align text with the rest of the content
ul,
ol {
    list-style-position: outside; // 1
    margin-inline-start: $content-gap; // 2
}

li {
    margin-block-start: $base-list-spacing; // Add consistent spacing for list items
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

// -- Nested Lists --

// // 1. keep consistent spacing
li ul,
li ol {
    margin-top: $base-list-spacing; // 1
}

// These list styles are quite opinionated, however they seem to be
// a good fit overall and should be easy enough to override

// NK::COMMENT these have been disabled because there were some tweaks made
// above. I do not think they are necessary anymore.

// :is(li:not(:first-child):not(nav li):not(.menu li)) {
//     margin-block-start: $base-list-spacing; // consistent spacing between list items
// }

nav ul {
    list-style: none;
    margin: 0; // reset nested
}

// -- Controls --
// ==========================================================================

// 1. Prevent resizing textareas horizontally by default.

textarea {
    resize: vertical; // 1
}

// 1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
// 2. Set the default placeholder color .

input::placeholder,
textarea::placeholder {
    opacity: 1; // 1
    color: #c5c5c5; // 2
}

// 1. Set the default cursor for buttons.

button,
[role='button'] {
    cursor: pointer; // 1
}

// Make sure disabled buttons don't get the pointer cursor.

:disabled {
    cursor: default;
}

// Set image and other media elements to block-level. This helps to avoid
// unexpected alignment issues that you often run into using the browser
// default of `display: inline`.

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

// 1. Constrain images and videos to the parent width and preserve their intrinsic aspect ratio.
// 2. use height:auto instead of max-heigh:100% to prevent scaling issues.

img,
video {
    max-width: 100%; // 1
    height: auto; // 2
}

// Make elements with the HTML hidden attribute stay hidden by default
[hidden] {
    display: none;
}

// Remove number spinner Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

// Remove number spinner  Firefox
input[type='number'] {
    -moz-appearance: textfield;
}
