@use '../maps_and_variables/base' as *;

// Remove all default borders to ensure consistency and avoid unexpected border
// widths from browsers.

*,
::after,
::before {
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// 1. Prevent font scaling in Safari.
// 2. Improve tab character spacing in code or pre elements.

html {
    font-family: $base-font;
    font-size: $font-size;
    line-height: $line-height;
    scroll-behavior: smooth;
    tab-size: 4; // 2
    text-size-adjust: 100%; // 1
}

// Inherit from html to allow setting line-height on html directly.

body {
    background-color: var(--bg-body, $bg-body);
    color: var(--text-base, $text-color);
    line-height: inherit;
}

hr {
    border-color: var(--border-color, $border-color);
    border-top-width: 2px;
    height: 0;
    margin: $base-gap 0;
}

// HTML5 elements
// ============================================================================

// 1. Constrain images and videos to the parent width and preserve their intrinsic aspect ratio.
// 2. Use height:auto instead of max-height:100% to prevent scaling issues.

img,
video {
    height: auto; // 2
    max-width: 100%; // 1
}

summary {
    display: list-item;
}

progress {
    vertical-align: baseline;
}

[hidden] {
    display: none !important;
}

blockquote {
    border-inline-start: 5px solid var(--primary-color, $primary);
    padding: 0.4rem;
    padding-inline-start: 1rem;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

// -- Forms --
// ============================================================================

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::placeholder {
    color: #c5c5c5;
    opacity: 1;
}

// 1. Show the overflow in Edge.

button,
input {
    overflow: visible; // 1.
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Remove default button styles.

button,
[type='button'],
[type='reset'],
[type='submit'] {
    appearance: auto; // 1.
    background-color: transparent; // 2.
    background-image: none; // 2.
}

textarea {
    overflow: auto;
}

// Ensure legend displays properly and inherits color
legend {
    box-sizing: border-box; // 1.
    color: inherit; // 2.
    display: table; // 1.
    max-width: 100%; // 1.
    white-space: normal; // 1.
}

// Remove the inner padding and cancel buttons in Chrome and Safari on OS X.

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    appearance: none;
}

// Correct the text style of placeholders in Chrome, Edge, and Safari.

::input-placeholder {
    color: inherit;
    opacity: 0.54;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.

::-webkit-file-upload-button {
    appearance: auto; // 1.
    font: inherit; // 2.
}

// -- Controls --
// ============================================================================

// 1. Set the default cursor for buttons.

button,
[role='button'] {
    cursor: pointer; // 1
}

:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.

[type='search'] {
    appearance: textfield; // 1
    outline-offset: -2px; // 2
}

// Remove number spinner Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

// Remove number spinner Firefox
input[type='number'] {
    appearance: textfield;
}
