/* stylelint-disable */
@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/layout' as *;
@use '../maps_and_variables/typography' as *;

// Remove all default borders to ensure consistency and avoid unexpected border
// widths from browsers.

*,
::after,
::before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

// 1. Prevent font scaling in Safari.
// 2. Improve tab character spacing in code or pre elements.

html {
    line-height: $line-height;
    -webkit-text-size-adjust: 100%; // 1
    tab-size: 4; // 2
    font-family: $base-font;
    font-size: $font-size;
    scroll-behavior: smooth;
}

// Inherit from html to allow setting line-height on html directly.

body {
    line-height: inherit;
    color: $text-color;
    background-color: $body-bg;
}

hr {
    height: 0;
    margin: $base-gap 0;
    border-color: $border-color;
    border-top-width: 2px;
}

// HTML5 elements
// ==========================================================================



// 1. Constrain images and videos to the parent width and preserve their intrinsic aspect ratio.
// 2. Use height:auto instead of max-height:100% to prevent scaling issues.

img,
video {
    max-width: 100%; // 1
    height: auto; // 2
}

summary {
    display: list-item;
}

progress {
    vertical-align: baseline;
}

[hidden] {
    display: none !important;
}

blockquote {
    border-left: 5px solid $primary;
    padding: 0.4rem;
    padding-left: 1rem;
}

abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted; 
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

// -- Forms --
// ==========================================================================

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::placeholder {
    opacity: 1;
    color: #c5c5c5;
}

// 1. Show the overflow in Edge.

button,
input {
    overflow: visible; // 1.
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Remove default button styles.

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button; // 1.
    background-color: transparent; // 2.
    background-image: none; // 2.
}

textarea {
    overflow: auto;
}

// Ensure legend displays properly and inherits color
legend {
    box-sizing: border-box; // 1.
    color: inherit; // 2.
    display: table; // 1.
    max-width: 100%; // 1.
    white-space: normal; // 1.
}

// Remove the inner padding and cancel buttons in Chrome and Safari on OS X.

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

// Correct the text style of placeholders in Chrome, Edge, and Safari.

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.

::-webkit-file-upload-button {
    -webkit-appearance: button; // 1.
    font: inherit; // 2.
}

// -- Tables --
// ==========================================================================

table {
    text-indent: 0;
    border-collapse: collapse;
    border-color: inherit;
    width: 100%;
}

thead { 
    border-color: inherit;
}

th {
    font-weight: 600;
    vertical-align: middle;
    text-transform: $table-header-text-transform;
}

th,
td {
    font-size: inherit; // allow font sizing to be set on table
    padding-inline: $table-padding-x;
    padding-block: $table-padding-y;
    text-align: left;
    border-color: inherit;
}

// -- Controls --
// ==========================================================================

// 1. Set the default cursor for buttons.

button,
[role='button'] {
    cursor: pointer; // 1
}

// Make sure disabled buttons don't get the pointer cursor.

:disabled {
    cursor: default;
}

// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.

[type='search'] {
    -webkit-appearance: textfield; // 1
    outline-offset: -2px; // 2
}

// Remove number spinner Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

// Remove number spinner Firefox
input[type='number'] {
    -moz-appearance: textfield;
}
