@use '../maps_and_variables/base' as *;

// ============================================================================
// -- Lists --
// ============================================================================

// 1. set style-position outside to align text when wrapping
// 2. indent to align text with the rest of the content
ul,
ol {
    list-style-position: outside; // 1.
    margin-inline-start: $base-padding; // 2.
}

// 1. Apply consistent spacing between list items by default
// 2. Add spacing between nested lists and their parent item
// 3. Use :where() to keep specificity low so utilities can easily override
:where(li:not(:first-child), li ul, li ol) {
    margin-block-start: $base-list-spacing;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

// Navigation menu resets
nav {
    ul {
        list-style: none;

        // Dont add li item here, It's better to opt out li spacing individually
        // rather than globally
    }

    // Only reset margin for direct child ul to preserve nested list spacing
    > ul {
        margin: 0;
    }
}
