@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/colors' as *;
@use '../maps_and_variables/components' as *;
@use '../maps_and_variables/typography' as *;

:root {
    // create css variables
    @each $color, $value in $color-map {
        --#{$color}: #{$value};
    }

    @each $name, $value in $oklch-colors {
        --#{$name}: #{$value};
    }

    @each $name, $value in $font-weight-map {
        --font-#{$name}: #{$value};
    }

    // ========================================================================
    // -- Base --
    // ========================================================================
    --heading-color: $text-color;
    --heading-font-weight: 700;

    // ========================================================================
    // -- Box --
    // ========================================================================
    // Background color and padding are scss variables only as they are used in
    // mixins and cannot be css variables.
    --box-padding: #{$bx-padding};
    --box-border-radius: 0.5rem;
    --box-border-color: #{$border-color};
    --box-title-font-weight: 700;
    --box-title-font-size: 1rem;
    --box-title-line-height: 1.2;

    // ========================================================================
    // -- Toggle --
    // ========================================================================
    --bg-toggle-off: var(--gray-200);
    --bg-toggle-on: var(--primary);
    --bg-toggle-ball: var(--white);

    // -- Brand Colors --
    --primary: #{$primary};
    --secondary: #{$secondary};
    --accent: #{$accent};

    // -- Text Colors --
    --text-color: #{$text-color};

    // -- Link Colors --
    --link-color: #{$link-color};
    --link-hover-color: #{$link-hover-color};

    /* Backgrounds - Surface Colors */
    --bg-body: #{$bg-body};
}
