@use '../maps_and_variables/colors' as *;

:root {
    // create css variables
    @each $color, $value in $color-map {
        --#{$color}: #{$value};
    }

    @each $name, $value in $oklch-colors {
        --#{$name}: #{$value};
    }
}
