@use '../maps_and_variables/base' as *;
@use '../maps_and_variables/typography' as *;
@use 'sass:list';

// ============================================================================
// -- Headings --
// ============================================================================

@for $size from 1 through list.length($heading-sizes) {
    h#{$size} {
        font-size: list.nth($heading-sizes, $size);
    }
}

:where(h1, h2, h3, h4, h5, h6) {
    color: var(--heading-color);
    font-weight: var(--heading-font-weight);
    line-height: 1.25;
    text-wrap: balance;
}

// add top margin to all headings unless they are H1 or first child.
:is(h2, h3, h4, h5, h6):not(:first-child) {
    margin-block-start: 1.5em;
}

// ============================================================================
// -- Body Text --
// ============================================================================

// 1. Don't leave a single word on a line by itself

p {
    text-wrap: pretty; // 1.
}

small {
    font-size: 80%;
}

b,
strong {
    font-weight: 700;
}

// ============================================================================
// -- Mono --
// ============================================================================

code,
kbd {
    background-color: rgb(0 0 0 / 5%);
    border-radius: 0.25rem;
    color: inherit;
    font-family: $mono-font;
    font-size: 0.875rem;
    overflow-wrap: break-word;
    padding: 0.125rem 0.25rem;
}

pre {
    background-color: rgb(0 0 0 / 3%);
    border-radius: 0.375rem;
    overflow-x: auto;
    white-space: pre;

    code {
        background-color: transparent; // Remove double background
        font-size: 0.875rem;
        overflow-wrap: normal; // Explicitly prevent wrapping inside pre
        padding-block: 1rem;
        padding-inline: 1rem;
        word-break: normal; // Prevent word breaking
    }
}

// ============================================================================
// -- Links --
// ============================================================================

:is(a) {
    color: var(--text-link, $link-color);
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: var(--text-link-hover, $link-hover-color);
    }
}
