$button-identifier: 'btn' !default;
$container-identifier: 'container' !default;
$dropdown-identifier: 'dd' !default;
$icon-identifier: 'icon' !default;
$list-identifier: 'lst' !default;
$navbar-identifier: 'navbar' !default;
$table-identifier: 'tbl' !default;
